
@{
    ViewData["Title"] = "ChangePassword";
    ViewBag.User = Session["User"];
    string Succ = @ViewBag.Success;
    string Error = @ViewBag.Error;
}

<!-- Page Wrapper -->
    <div class="content container-fluid">

        <!-- Page Header -->
        
        <!-- /Page Header -->

        <div class="row">
            <div class="col-md-12">

                <div class="card">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="breadcrumb-bar">
                                <div class="container-fluid">
                                    <div class="row align-items-center">
                                        <div class="col-md-6 col-6">
                                            <h5 class="breadcrumb-title">Change Password</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div style="display:none;" class="alert alert-success alert-dismissible fade show" id="SuccessAlert" role="alert">
                        @ViewBag.Success
                    </div>
                    <div style="display:none;" class="alert alert-danger alert-dismissible fade show" role="alert" id="OldPasserror">
                        <strong>Error!</strong>@ViewBag.Error
                    </div>
                    <div style="display:none;" class="alert alert-danger alert-dismissible fade show" role="alert" id="ChangePasserror">
                        <strong>Error!</strong>New Password and Confirm Password not Matched.
                    </div>
                    <div class="card-body">

                        <div class="row">
                            <div class="col-md-10 col-lg-6">
                                @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {@Html.AntiForgeryToken()
                                <div class="form-group">
                                    <input type="text" class="form-control" style="display:none;" name="Email" value=@ViewBag.User.Email>

                                    <label>Old Password</label>
                                    <input type="password" class="form-control" name="OldPassword" required>
                                </div>
                                <div class="form-group">
                                    <label>New Password</label>
                                    <input type="password" class="form-control" id="NewPassword" name="NewPassword" required>
                                </div>
                                <div class="form-group">
                                    <label>Confirm Password</label>
                                    <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" required>
                                </div>
                                <button class="btn btn-primary" type="submit" id="SaveChanges">Save Changes</button>
                            }
                            </div>
                        </div>
                    </div>
                </div>
                    <!-- /Change Password Tab -->
            </div>
        </div>

    </div>
<!-- /Page Wrapper -->
<!-- jQuery -->
<script src="~/Content/assets/js/jquery-3.2.1.min.js"></script>

<script>
    //

    //$("#NewPassword").change(function () {

    //});
    $("#ConfirmPassword").change(function () {
        var New = $("#NewPassword").val();
        if (New) {
            if ($("#NewPassword").val() != $("#ConfirmPassword").val()) {
                $("#ChangePasserror").fadeIn();

                $("#SaveChanges").attr("disabled", true);
            } else {
                $("#SaveChanges").attr("disabled", false);
                $("#ChangePasserror").fadeOut();
            }
        }
    });

    $("#NewPassword").change(function () {
        var New = $("#ConfirmPassword").val();
        if (New) {
            if ($("#NewPassword").val() != $("#ConfirmPassword").val()) {
                $("#ChangePasserror").fadeIn();

                $("#SaveChanges").attr("disabled", true);
            } else {
                $("#SaveChanges").attr("disabled", false);
                $("#ChangePasserror").fadeOut();
            }
        }

    });

    $(document).ready(function () {

        if ("@Succ"!="") {
            $('#SuccessAlert').fadeIn();
            $('#SuccessAlert').fadeOut(6000);
        }
        else {
                $('#SuccessAlert').fadeOut();
        }
        if ("@Error" != "") {
                    $('#OldPasserror').fadeIn();
                    
        }
        else {
                    $('#OldPasserror').fadeOut();
        }

    });


</script>

