@model  WorldServiceOrganization.Models.tblPerson

@{
    ViewData["Title"] = "Addresss";

    HttpCookie cookieObj = Request.Cookies["Settings"];
    string DateFormat = cookieObj["ReportsDateFormat"];
    string Retrieves = cookieObj["Retrieves"];

    double? TotalCost = 0;
    double? GrandCost = 0;

    string FontFamily = cookieObj["FontStyle"];
    string FontSize = cookieObj["FontSize"];

    string FontLink = "https://fonts.googleapis.com/css?family=" + @FontFamily;

    string Error = ViewBag.Error;

}


<head>

    <style>
       /* p {
            margin-top: 0;
            margin-bottom: 0rem;
        }*/


        body {
            background: rgb(204,204,204);
        }

        page {
            background: white;
            display: block;
            margin: 0 auto;
            margin-bottom: 0.5cm;
            box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
        }

            page[size='A4'] {
                width: 22cm;
                height: 28cm;
            }

                page[size='A4'][layout='landscape'] {
                    width: 29.7cm;
                    height: 21cm;
                }

        @@media print {
            body, page {
                margin: 0;
                box-shadow: 0;
            }
        }

    </style>

    <script src="http://www.openjs.com/scripts/events/keyboard_shortcuts/shortcut.js"></script>
    <link rel="stylesheet" href="@FontLink" crossorigin="anonymous" />
    <script language="javascript" type="text/javascript">

        shortcut.add("ctrl+p", function () {
            $(".NotPrint").css("color", "transparent");
            $(".BorderLine").css("border-bottom", "0px");
            var db = document.body.getElementsByTagName('div');
            var myDiv = document.getElementById("section").innerHTML;

            document.body.innerHTML =
                "<html><head><title></title></head><body>" +
            myDiv + "</body></html>";
            window.print();

            var url = window.location.origin;
            url += '/Person/BirthCertificate?id='+@Model.PersonIDNumber+'&&tid=' +@ViewBag.TL.TransactionIDNumber +'';
            window.location.href = url;
        });

    </script>

</head>




<!-- Page Wrapper -->
<div class="content container-fluid">
    <div style="display:none;" class="alert alert-warning alert-dismissible fade show" id="ErrorAlert" role="alert">
        <strong>Error!</strong> @ViewBag.Error
    </div>
    <!-- Page Header -->
    <!-- /Page Header -->

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="breadcrumb-bar">
                            <div class="container-fluid">
                                <div class="row align-items-center">
                                    <div class="col-md-6 col-6">
                                        <h5 class="breadcrumb-title">Birth Certificate</h5>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    @*<div class="row">
                            <div class="col-md-4">
                                <label for="SeparateLine">WSA Number</label><br>
                                <input type="radio" id="SeparateLine" name="WSADisplay" value="1" checked>
                                <label for="SeparateLine">Separate Line</label><br>
                                <input type="radio" id="SameLineName" name="WSADisplay" value="2">
                                <label for="SameLineName">Same Line as Name</label><br>
                                <input type="radio" id="WSASuppress" name="WSADisplay" value="3">
                                <label for="WSASuppress">Suppress</label>

                            </div>
                            <div class="col-md-4">
                                <label for="SeparateLine">Country</label><br>
                                <input type="radio" id="Display" name="CountryDisplay" value="1" checked>
                                <label for="Display">Display</label><br>
                                <input type="radio" id="CountrySuppress" name="CountryDisplay" value="2">
                                <label for="CountrySuppress">Suppress</label><br />

                            </div>
                            <div class="col-md-4">
                                <a href="@Url.Action("AddressLabel", "Person",new { id=@ViewBag.id })"> <input class="btn btn-danger" type="button" value="Cancel"></a>
                                <a href="@Url.Action("CreatePerson","Person",new { id=@ViewBag.id })" class="btn btn-secondary"><i class="fa fa-list"></i> List</a>
                                <a href="#" id="PrintBtn" class="btn btn-primary"><i class="fa fa-print"></i> Print</a>
                                <a href="#" id="PDFBtn" class="btn btn-success"><i class="fa fa-print"></i> PDF</a>
                            </div>

                        </div>*@
                    <div class="row">
                        <div class="col-md-2">
                            <label>Letter Case</label>
                            <select name="LetterCase" class="form-control" id="LetterCase">
                                <option value=""> Select Letter Case</option>
                                <option value="1">lowercase</option>
                                <option value="2">UPPERCASE</option>
                                <option value="3">Capitalize Each Word</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label>Font Family</label>
                            <select class="form-control" id="FontFamily" name="FontStyle">
                                @foreach (WorldServiceOrganization.Models.tblFontStyle item in @ViewBag.FontStyle)
                                {
                                    if (FontFamily == @item.Name)
                                    {
                                        <option value="@item.Name" selected>@item.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Name">@item.Name</option>
                                    }

                                }
                            </select>
                            @*<input type="text" class="form-control" name="" id="FontFamily" value="@FontFamily" />*@
                        </div>
                        <div class="col-md-1">
                            <label>Font Size</label>
                            <input type="number" class="form-control" name="FontSize" id="FontSize" value="@FontSize" />
                        </div>
                        <div class="col-md-1">
                            <label>Width %</label>
                            <input type="number" class="form-control" name="FontWidth" id="FontWidth" value="100" />
                        </div>

                        <div class="col-md-2">
                            <label>QR Code</label><br />
                            <input type="radio" id="MRZSuppress" name="MRZSuppress" value="1" checked>
                            <label for="MRZSuppress">Suppress</label><br />
                            <input type="radio" id="MRZUnSuppress" name="MRZSuppress" value="2">
                            <label for="MRZUnSuppress">Unsuppress</label>
                        </div>

                        <div class="col-md-4 text-right">

                            @*<a href="@Url.Action("AddressLabel", "Person",new { id=@ViewBag.id })"> <input class="btn btn-danger" type="button" value="Cancel"></a>*@
                            <a href="@Url.Action("Persons","Person",new { id=@ViewBag.id })" class="btn btn-secondary"><i class="fa fa-list"></i> List</a>
                            <a href="#" id="PrintBtn" class="btn btn-primary"><i class="fa fa-print"></i> Print</a>
                            <a href="#" id="PDFBtn" class="btn btn-success"><i class="fa fa-print"></i> PDF</a>
                            <a href="@Url.Action("CreatePerson","Person",new { id=@Model.PersonIDNumber })" class="btn btn-info"><i class="fa fa-arrow-left"></i> Go Back</a>
                        </div>
                    </div>

                </div>

            </div>
            <section class="" id="section">
                <page size="A4">
                    <div class="card ">
                        <div class="card-body " style="height: 27cm;" id="FNdraggableArea">

                            <div class="" style="margin-top: 2cm;font-size:12px;">
                                <div class=" NotPrint" style="margin-left: 86px;">
                                    <p>Series • Serio • Séries •</p>
                                    <p>Serie • Серия • 系列 • سلسلة من</p>
                                </div>
                                <div class="">
                                    <div id="MRZHide" class="FNdraggable" style="display: none; position: absolute; z-index:100;">
                                        <img src="@Model.QRCode" alt="Alternate Text" />
                                    </div>
                                </div>
                                <div class="" style="margin-top: -36px; margin-left: 535px;">
                                    <p class="NotPrint">Number • Nombro • Numéro •</p>
                                    <p class="NotPrint">Numero • Номер • 编号 • رقم</p>
                                    <p class="NoLabel FNdraggable">@ViewBag.TL.IDCode</p>
                                </div>
                            </div>
                            <br />
                            <div class="" style="margin-left: 136px; margin-top: -40px;">
                                <div class=" NotPrint" style="font-size:15px;">
                                    <p>
                                        C-5.05.22
                                    </p>
                                </div>
                            </div>

                            <div class=" NotPrint" style="font-size: 24px; text-align: center;">
                                <div class="">
                                    <p><b>CERTIFICATE of BIRTH • NASKIĜATESTILO •</b></p>
                                </div>
                                <div class="">
                                    <p><b>CERTIFICAT de NAISSANCE • CERTIFICADO de NACIMIENTO •</b></p>
                                </div>
                                <div class="">
                                    <p><b>СВИДЕТЕЛЬСТВО o РОЖДЕНИИ • 出生证明 • شهادة ميلاد</b></p>
                                </div>
                            </div>
                            <div class="" style=" font-size: 12px; margin-top: 18px;">
                                <div class="" style="margin-left: 86px; width: 268px;">
                                    <p class="NotPrint" style="font-weight: bold;">Family name(s) • Familia nomo(j) • Nom(s) de famille •</p>
                                    <p class="NotPrint" style="font-weight: bold;">Apellido(s) • Фамильные имена • 姓氏 • اسماء العائلة</p>
                                    <p class="NoLabel FNdraggable">@Model.LastName</p>
                                </div>
                                <div class="" style="margin-left: 438px; margin-top: -58px;">
                                    <p class="NotPrint" style="font-weight: bold;">Given name(s) • Antaunomo(j) • Prénom(s) •</p>
                                    <p class="NotPrint" style="font-weight: bold;">Nombre(s) • Второе имя • 姓 • أسماء مسماه</p>
                                    <p class="NoLabel FNdraggable">@Model.FirstName</p>
                                </div>
                            </div>
                            <br />
                            <div class="" style="margin-top:18px;">
                                <div class=" ">
                                </div>
                                <div class="" style="margin-left: 438px; font-size: 12px;">
                                    <p class="NotPrint" style="font-weight: bold;">Place of birth • Naskiĝloko • Lieu de naissance •</p>
                                    <p class="NotPrint" style="font-weight: bold;">Lugar de nacimiento • Место рождения • 出生地 • مكان الميلا</p>
                                    @if (@Model.tblCountry1 != null && @Model.tblCountry1.Name != null && @Model.tblCountry1.Name != "")
                                    {
                                        <p class="NoLabel FNdraggable">
                                            @Model.CityOfBirth, @Model.tblCountry1.Name
                                            
                                        </p>
                                    }
                                    else
                                    {
                                        <p class="NoLabel FNdraggable">@Model.CityOfBirth</p>
                                    }
                                        
                                    </div>
                            </div>

                            <div class="">
                                <div class="" style="width: 500px; font-size: 10px; ">
                                    <div class="">
                                        <div class=" NotPrint" style="font-weight: bold; margin-left: 86px; margin-top: -46px; ">
                                            <br />
                                            <p class="MMremB">Date of birth</p>
                                            <p class="MMremB">Naskiĝdato</p>
                                            <p class="MMremB">Date de naissance</p>
                                            <p class="MMremB">Fecha de nacimiento</p>
                                            <p class="MMremB">Дата рождения</p>
                                            <p class="MMremB">出生日期</p>
                                            <p>تاريخ الولادة</p>

                                        </div>
                                        <div class=" " style="margin-top: -108px; margin-left: 196px; ">
                                            @if (@Model.BirthYear == null)
                                            {
                                                <br />
                                            }
                                            else
                                            {
                                                <p class="NoLabel FNdraggable">@Model.BirthYear</p>
                                            }
                                            <p class="NotPrint MMremB" style="font-weight: bold;">year</p>
                                            <p class="NotPrint MMremB" style="font-weight: bold;">jaro</p>
                                            <p class="NotPrint MMremB" style="font-weight: bold;">année</p>
                                            <p class="NotPrint MMremB" style="font-weight: bold;">año</p>
                                            <p class="NotPrint MMremB" style="font-weight: bold;">год</p>
                                            <p class="NotPrint MMremB" style="font-weight: bold;">年</p>
                                            <p class="NotPrint MMremB" style="font-weight: bold;">عام</p>

                                        </div>
                                        <div class=" " style="margin-top: -106px; margin-left: 256px;">
                                            @if (@Model.BirthMonth == null)
                                            {
                                                <br />
                                            }
                                            else
                                            {
                                                <p class="NoLabel FNdraggable">@Model.BirthMonth</p>
                                            }
                                            <p class="NotPrint MMremB" style="font-weight: bold;">month</p>
                                            <p class="NotPrint MMremB" style="font-weight: bold;">monato</p>
                                            <p class="NotPrint MMremB" style="font-weight: bold;">mois</p>
                                            <p class="NotPrint MMremB" style="font-weight: bold;">mes</p>
                                            <p class="NotPrint MMremB" style="font-weight: bold;">месяц</p>
                                            <p class="NotPrint MMremB" style="font-weight: bold;">月</p>
                                            <p class="NotPrint MMremB" style="font-weight: bold;">شهر</p>

                                        </div>
                                        <div class=" " style="margin-top: -106px; margin-left: 316px;">
                                            @if (@Model.BirthDay == null)
                                            {
                                                <br />
                                            }
                                            else
                                            {
                                                <p class="NoLabel FNdraggable">@Model.BirthDay</p>
                                            }
                                            <p class="NotPrint MMremB" style="font-weight: bold;">day</p>
                                            <p class="NotPrint MMremB" style="font-weight: bold;">tago</p>
                                            <p class="NotPrint MMremB" style="font-weight: bold;">jour</p>
                                            <p class="NotPrint MMremB" style="font-weight: bold;">día</p>
                                            <p class="NotPrint MMremB" style="font-weight: bold;">день</p>
                                            <p class="NotPrint MMremB" style="font-weight: bold;">天</p>
                                            <p class="NotPrint" style="font-weight: bold;">يوم</p>

                                        </div>
                                    </div>

                                </div>
                                <div class="" style="font-size: 12px; margin-top: -34px; margin-left: 438px;">
                                    <p class="NotPrint" style="font-weight: bold;">Mother’s name • Nomo de patrino • Nom de la mère •</p>
                                    <p class="NotPrint" style="font-weight: bold;">Nombre de la madre • Имя матери • 母亲的名字 • اسم الأ</p>
                                    <p class="NoLabel FNdraggable">@Model.MotherName</p>
                                </div>
                            </div>
                            <br />
                            <div class="" style="font-size:10px;">
                                <div class=" ">
                                    <div class="">
                                        <div class=" NotPrint" style="font-weight: bold; margin-left: 130px;">
                                            <p class="MremB">Sekso</p>
                                            <p class="MremB">Sex</p>
                                            <p class="MremB">Sexe</p>
                                            <p class="MMremB">Sexo</p>
                                            <p class="MMremB">性</p>
                                            <p class="MremB">Секс</p>
                                            <p class="MremB">سكس</p>
                                        </div>
                                        <div class=" " style="margin-left: 190px; margin-top: -58px;">

                                            <p class="NoLabel FNdraggable">@Model.tblSex.Name</p>

                                        </div>
                                    </div>

                                </div>
                                <div class="" style="margin-left: 438px; margin-top: -14px;">
                                    <p class="NotPrint" style="font-weight: bold;">Father’s name • Nomo de patro • Nom du père •</p>
                                    <p class="NotPrint" style="font-weight: bold;">Nombre del padre • Имя отца • 父亲的名字 • اسم الأب</p>
                                    <p class="NoLabel FNdraggable">@Model.FatherName</p>
                                </div>
                            </div>
                            <br />
                            <br />
                            <div class="" style="font-size:10px;">
                                <div class=" ">
                                    <div class=" NotPrint">
                                        <div class=" " style="margin-left: 196px; font-weight: bold;">
                                            <p>Issued at:</p>
                                            <p>Eldonita ĉe:</p>
                                            <p>Émis à:</p>
                                            <p>Emitido en:</p>
                                            <p>Выпущено в:</p>
                                            <p>发布于:</p>
                                            <p>:تم إصداره في</p>

                                        </div>
                                        <div class=" " style="margin-top: -72px; margin-left: 288px; font-weight: bold;">
                                            <p><b>Washington, DC</b></p>
                                        </div>
                                    </div>

                                </div>
                                <div class=" NotPrint" style="margin-top: -50px; margin-left: 438px; font-weight: bold;">
                                    <p>the</p>
                                    <p>la</p>
                                    <p>le</p>
                                    <p>la</p>
                                    <p>в</p>
                                    <p>这个</p>
                                    <p>ال</p>
                                </div>
                                <div class="" style="margin-top: -72px; margin-left: 518px;">
                                    <p class="NoLabel FNdraggable">@ViewBag.TL.IssueDate</p>
                                </div>
                            </div>
                            <br />
                            <br />
                            <br />
                            <br />
                            <div class=" NotPrint" style="margin-bottom: 0.5rem;">
                                <div class=" " style=" font-size:10px;text-align:center;">
                                    <div class="">

                                        <div class="BorderLine " style="border-bottom: 1px solid black; width: 270px; margin-left: 7cm;">

                                        </div>

                                    </div>
                                    <p style="font-weight: bold;">WSA-Officer • WSA-Oficiro • WSA-Officier • WSA-Oficial •</p>
                                    <p style="font-weight: bold;">WSA-Офицер • WSA-官 • ضابط -WSA</p>
                                </div>
                            </div>
                            <div class=" NotPrint">
                                <div class=" " style="font-size: 10px; font-weight: bold; text-align: center;">
                                    <p>This document is issued in accordance with Article 1, Universal Declaration of Human Rights.</p>
                                    <p>Tiu-ĉi documento estas eldonita konforme el la Artikolo 1 de la Universala Deklaracio de Homaj Rajtoj.</p>
                                    <p>Ce document est émis en vertu de l’Article 1 de la Déclaration Universelle des Droits de l’Homme.</p>
                                    <p>Este documento se emite de conformidad con el Artículo 1, Declaración Universal de los Derechos Humanos.</p>
                                    <p>Этот документ выдан в соответствии со Cтатьей 1 Всеобщей декларации прав человека.</p>
                                    <p>本文件根据《世界人权宣言》第 1 条发布。</p>
                                    <p>صدرت هذه الوثيقة وفقا للمادة 1 من الإعلان العالمي لحقوق الإنسان.</p>
                                </div>
                            </div>
                            <!-- /Page Header -->

                        </div>
                    </div>
                    
                </page>
            </section>
        </div>
    </div>
</div>




<!-- /Page Wrapper -->
<!-- jQuery -->

<script src="~/Content/assets/js/jquery-3.5.1.js"></script>
<script src="~/Content/assets/js/shortcut.js"></script>
<script src="~/Content/assets/js/jquery-ui.js"></script>


@*<script src="~/Content/assets/js/jquery-3.2.1.min.js"></script>*@
@*<script src="~/Theme/template/admin/assets/js/jquery.min.js"></script>*@
<script>
    $(function () {
        $("#PNdraggable").draggable({
            containment: "#draggableArea"
        });
        $("#PLIdraggable").draggable({
            containment: "#PLIdraggableArea"
        });
        $(".FNdraggable").draggable({
            containment: "#section"
        });
    });
    $(document).ready(function () {
        $('input:radio[name="MRZSuppress"]').change(function () {

            if ($(this).val() == 1) {
                $("#MRZHide").hide();
            }
            else {
                $("#MRZHide").show();
            }
        });

        $("p").css("margin-top", '0rem');
        $("p").css("margin-bottom", '0rem');

        $(".MremT").css("margin-top", '-0.4rem');
        $(".MremB").css("margin-bottom", '-0.4rem');
        $(".MMremB").css("margin-bottom", '-0.2rem');
        $("p").css("font-family", 'Calibri');
    });
    $("#FontStyle").change(function () {
        $(".NoLabel").css("font-family", $("#FontStyle").val());
    });
    $("#FontWidth").change(function () {
        $("#section").css("width", $("#FontWidth").val() + '%');
    });
    $("#FontSize").change(function () {
        $(".NoLabel").css("font-size", $("#FontSize").val()+'px');
    });

    $('#LetterCase').change(function () {
        if ($(this).val() == 1) {
            $('.NoLabel').css('textTransform', 'lowercase');
            //document.getElementsByTagName("section").setAttribute('textTransform', 'lowercase');
        }
        else if ($(this).val() == 2) {
            $('.NoLabel').css('textTransform', 'uppercase');

            //document.getElementById("ID").setAttribute('style', 'textTransform:uppercase');
        }
        else {
            $('.NoLabel').css('textTransform', 'capitalize');
        }
    });


    $('input:radio[name="WSADisplay"]').change(function () {

        if ($(this).val() == 1) {
            $("#WSAShowSeparate").show();
            $("#WSAShowName").hide();

        }
        else if ($(this).val() == 2) {
            $("#WSAShowName").show();
            $("#WSAShowSeparate").hide();
        }
        else {
            $("#WSAShowName").hide();
            $("#WSAShowSeparate").hide();
        }
    });

    $('input:radio[name="CountryDisplay"]').change(function () {

        if ($(this).val() == 1) {
            $(".CountryShow").show();

        }
        else {
            $(".CountryShow").hide();
        }
    });

    $('#PrintBtn').click(function () {
        $(".NotPrint").css("color", "transparent");
        $(".BorderLine").css("border-bottom", "0px");
        var myDiv = document.getElementById("section").innerHTML;

             document.getElementById("HT").innerHTML =
                "<html><head><link rel='stylesheet' href='/Content/assets/css/style.css'><title></title><style>page {background: white;display: block;margin: 0 auto;margin-bottom: 0.5cm;box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);}page[size='A4'] {width: 22cm;height: 28cm;}page[size='A4'][layout='landscape'] {width: 29.7cm;height: 21cm;}@@media print {body, page {margin: 0;box-shadow: 0;}}</style></head><body>" +
            myDiv + "</body></html>";


        window.setTimeout(function () {

            window.print();
             var url = window.location.origin;
            url += '/Person/BirthCertificate?id='+@Model.PersonIDNumber+'&&tid=' +@ViewBag.TL.TransactionIDNumber +'';
            window.location.href = url;
        }, 500);
    });

    $('#PDFBtn').click(function () {
        var myDiv = document.getElementById("section").innerHTML;

        //$("#MRZHide").css('paddingLeft', 15);
            document.getElementById("HT").innerHTML =
                "<html><head><link rel='stylesheet' href='/Content/assets/css/style.css'><title></title><style>page {background: white;display: block;margin: 0 auto;margin-bottom: 0.5cm;box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);}page[size='A4'] {width: 22cm;height: 28cm;}page[size='A4'][layout='landscape'] {width: 29.7cm;height: 21cm;}@@media print {body, page {margin: 0;box-shadow: 0;}}</style></head><body>" +
            myDiv + "</body></html>";


        window.setTimeout(function () {

            window.print();
             var url = window.location.origin;
            url += '/Person/BirthCertificate?id='+@Model.PersonIDNumber+'&&tid=' +@ViewBag.TL.TransactionIDNumber +'';
            window.location.href = url;
        }, 500);
    });


    $("#FontFamily").change(function () {
        $(".NoLabel").css("font-family", $("#FontFamily").val());

    });



    $(document).ready(function () {
        $("#MRZHide").css({ top: 65 + 'px', left: 415 + 'px' });
        $(".NoLabel").css("font-family", '@FontFamily');
        $(".NoLabel").css("font-size", '@FontSize' + 'px');
        @*if (@ViewBag.State== 1) {
            $("#SeparateLine").attr('checked', 'checked');
            $("#WSAShowSeparate").show();
            $("#WSAShowName").hide();
        }
        if (@ViewBag.State== 2) {
            $("#SameLineName").attr('checked', 'checked');
            $("#WSAShowName").show();
            $("#WSAShowSeparate").hide();
        }
        if (@ViewBag.State== 3) {
            $("#WSASuppress").attr('checked', 'checked');
            $("#WSAShowName").hide();
            $("#WSAShowSeparate").hide();
        }

        if (@ViewBag.CState== 1) {
            $("#SeparateLine").attr('checked', 'checked');
            $("#Display").show();
        }
        if (@ViewBag.CState== 2) {
            $("#CountrySuppress").attr('checked', 'checked');
            $("#CountryShow").hide();
        }*@

        if ("@Error" != "") {
                $('#ErrorAlert').fadeIn();
                $('#ErrorAlert').fadeOut(6000);
            }
            else {
                $('#ErrorAlert').fadeOut();
            }




    });




</script>
