@model  WorldServiceOrganization.Models.tblPerson

@{
    ViewData["Title"] = "Addresss";

    HttpCookie cookieObj = Request.Cookies["Settings"];
    string DateFormat = cookieObj["DateFormat"];
    string Retrieves = cookieObj["Retrieves"];



}


<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/raisty/OCR-B@1.1/dist/ocrb.css" integrity="sha384-{hash}" crossorigin="anonymous" />

    <style>

        .form-control {
            padding: 0px !important
        }

        .input-container {
            display: -ms-flexbox; /* IE10 */
            display: flex;
            width: 100%;
            margin-bottom: 15px;
        }

        .icon {
            padding: 10px;
            background: dodgerblue;
            color: white;
            min-width: 50px;
            text-align: center;
        }

        .words {
            width: 100%;
            text-align: center;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
        }

        .words1 {
            width: 100%;
            text-align: center;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
        }

        #PNdraggable {
            width: 200px;
            /*height: 30px;*/
            /*padding: 0.5em;*/
            border: 0px;
        }

        #PLIdraggable {
            width: 100%;
            /*height: 30px;*/
            /*padding: 0.5em;*/
            border: 0px;
        }

        .FNdraggable {
            /*height: 30px;*/
            /*padding: 0.5em;*/
            border: 0px;
        }

        /*p {
            margin-top: 0;
            margin-bottom: 0rem;
            font-size: 12px !important;
            font-family: Passport !important;
        }*/


    </style>



</head>




<!-- Page Wrapper -->
<div class="content container-fluid">

    <!-- Page Header -->
    <!-- /Page Header -->

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="breadcrumb-bar">
                            <div class="container-fluid">
                                <div class="row align-items-center">
                                    <div class="col-md-6 col-6">
                                        <h5 class="breadcrumb-title">Passport Label</h5>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    @if (ViewBag.Success != null)
                    {
                        <div class="alert alert-success alert-dismissible fade show" id="SuccessAlert" role="alert">
                            <strong>Success!</strong> @ViewBag.Success
                        </div>
                    }
                    @if (@ViewBag.Delete != null)
                    {
                        <div class="alert alert-warning alert-dismissible fade show" id="DeleteAlert" role="alert">
                            <strong>Success!</strong> @ViewBag.Delete
                        </div>
                    }
                    @if (@ViewBag.Update != null)
                    {
                        <div class="alert alert-info alert-dismissible fade show" id="UpdateAlert" role="alert">
                            <strong>Success!</strong> @ViewBag.Update
                        </div>
                    }
                    <div class="row">
                        <div class="col-md-6">
                            <label><b>MRZ</b></label><br>
                            <div class="row">
                                <div class="col-md-4">
                                    <input type="radio" id="MRZSuppress" name="MRZSuppress" value="1">
                                    <label for="MRZSuppress">Suppress</label><br />
                                    <input type="radio" id="MRZUnSuppress" name="MRZSuppress" value="2" checked>
                                    <label for="MRZUnSuppress">Unsuppress</label>
                                </div>
                                <div class="col-md-4">
                                    <input type="radio" id="MRZStandard" name="MRZStandard" value="1" checked>
                                    <label for="MRZStandard">Standard</label><br />
                                    <input type="radio" id="MRZNonStandard" name="MRZStandard" value="2">
                                    <label for="MRZNonStandard">Non-Standard</label>
                                </div>
                                <div class="col-md-4">
                                    <input type="radio" id="MRZMixed" name="MRZLetterCase" value="1">
                                    <label for="MRZMixed">Mixed Case</label><br />
                                    <input type="radio" id="MRZLower" name="MRZLetterCase" value="2">
                                    <label for="MRZLower">All Lowercase</label><br />
                                    <input type="radio" id="MRZUpper" name="MRZLetterCase" value="3">
                                    <label for="MRZUpper">UPPERCASE</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label><b>Issuer</b></label><br>
                            <input type="radio" id="IssuerWSA" name="Issuer" value="1" checked>
                            <label for="IssuerWSA">WSA</label><br />
                            <input type="radio" id="IssuerICAO" name="Issuer" value="2">
                            <label for="IssuerICAO">ICAO "XXX"</label>
                        </div>
                        <div class="col-md-2">
                            <label><b>Date Format</b></label><br>
                            <input type="radio" id="DateFormatName" name="DateFormat" value="1" checked>
                            <label for="DateFormatName">01 Jan 2000</label><br>
                            <input type="radio" id="DateFormatNumber" name="DateFormat" value="2">
                            <label for="DateFormatNumber">01 01 2000</label><br />

                        </div>
                        <div class="col-md-2">
                            <label>Font Size</label>
                            <input type="number" class="form-control" name="FontSize" id="FontSize" value="12" />
                        </div>
                        <div class="col-md-2">
                            <label><b>QR Code</b></label><br />
                            <input type="radio" id="QRSuppress" name="QRSuppress" value="1" checked>
                            <label for="QRSuppress">Suppress</label><br />
                            <input type="radio" id="QRUnSuppress" name="QRSuppress" value="2" >
                            <label for="QRUnSuppress">Unsuppress</label>
                        </div>
                        <div class="col-md-2">
                            <label>MRZ Font Size</label>
                            <input type="number" class="form-control" name="" id="FontSize1" value="12" />
                        </div>
                        <div class="col-md-2">
                            <label>MRZ Letter Spacing</label>
                            <input type="number" class="form-control" name="" id="WordSpacing" value="0" />
                        </div>
                        <div class="col-md-6 text-right">
                            <button class="btn btn-primary" data-toggle="modal" data-target="#PassportModal">Add field</button>
                            <a href="@Url.Action("PassportLabel", "Person",new { id=Model.PersonIDNumber,tid= ViewBag.TL.TransactionIDNumber})"> <input class="btn btn-danger" type="button" value="Cancel"></a>
                            <a href="@Url.Action("Persons","Person",new { id=Model.PersonIDNumber })" class="btn btn-secondary"><i class="fa fa-list"></i> List</a>
                            <a href="#" id="PrintBtn" class="btn btn-primary"><i class="fa fa-print"></i> Print</a>
                            <a href="#" id="PDFBtn" class="btn btn-success"><i class="fa fa-print"></i> PDF</a>
                            <a href="@Url.Action("CreatePerson","Person",new { id=@Model.PersonIDNumber })" class="btn btn-info"><i class="fa fa-arrow-left"></i> Go Back</a>                        </div>

                    </div>

                </div>

            </div>
            <div class="row">
                <div class="col-md-8" id="FNdraggableArea">
                    <section id="section">
                        <div class="card">
                            <div class="card-body" id="MRZCase" style="position:relative;">
                                <div class="row" style="margin-bottom:15px">
                                    <div class="col-md-12" >
                                        <img src="@Model.QRCode" class="FNdraggable" alt="Alternate Text" id="QRHide" style="float:right !important; display:none;" />
                                    </div>
                                    <div class="col-md-12">
                                        <p class="text-center FNdraggable NotPrint" ><b id="LLLBel">WORLD GOVERNMENT OF WORLD CITIZENS</b></p><br />
                                    </div>
                                    <div class="col-md-3" style="">
                                        <p style="float:right !important; display:none;" class="FNdraggable NotPrint" id="LabelPassport">Passport/Passeport</p>
                                    </div>
                                    <div class="col-md-2">
                                        <div id="Type" style="display:none;">
                                            <p class="FNdraggable NotPrint">Type/Type</p>
                                            <p class="FNdraggable NotPrint">P</p>
                                        </div>

                                    </div>
                                    <div class="col-md-4" style="left:-19px;">
                                        <div style="display:none;" id="AuthorityCode">
                                            <p class="FNdraggable NotPrint">Authority code/Code d'authoritie</p>
                                            <p id="IssuerDisplay" class="FNdraggable NotPrint">WSA</p>
                                        </div>
                                    </div>
                                    <div class="col-md-3" style="">
                                        <div style="display:none;" id="PassportNo">
                                            <p class="FNdraggable NotPrint">Passport No./No de Passeport(8)</p>
                                            <div id="" style="width: 100px; height:30px;">
                                                <div id="" class=" FNdraggable">
                                                    <p>@ViewBag.TL.IDCode</p>
                                                </div>
                                            </div>
                                        </div>


                                    </div>

                                    <div class="col-md-3" @*style="margin-bottom: 9.63rem;"*@>

                                        <div class="row">
                                            <div class="col-md-12" id="XYPhoto">
                                                <img id="Photo" src="@Model.Photo" class=" FNdraggable" alt="your image" style="width:100%; height:120%;" />

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-5">

                                        <div class="col-md-12">
                                            <div id="Name">
                                                <p class="FNdraggable NotPrint" style="display:none;" id="LabelLastName">Name/Nom(1)</p>

                                                <div>
                                                    <p class="FNdraggable" style="display:none;" id="LastName">@Model.LastName</p>
                                                </div>
                                            </div>
                                            <div id="GivenName">
                                                <p class="FNdraggable NotPrint" style="display:none;" id="LabelFirstName">Given Names/Prenoms(2)</p>
                                                <p class="FNdraggable" style="display:none;" id="FirstName">@Model.FirstName</p>
                                            </div>
                                            <div id="XYPlaceofBirth">
                                                <p class="FNdraggable NotPrint" style="display:none;" id="LabelPlaceofBirth">Place ofbirth/Lieu de nalssance(3)</p>
                                                <p class="FNdraggable" style="display:none;" id="PlaceofBirth">@Model.CityOfBirth, @Model.tblCountry.Name</p>
                                            </div>
                                            <div id="DateofBirth">
                                                <p class="FNdraggable NotPrint" style="display:none;" id="LabelDateofBirth">Date ofbirth/Date de nalssance(4)</p>
                                                <p id="BDateName" class="FNdraggable" style="display:none;">@ViewBag.CodeDay @ViewBag.MonthName @ViewBag.CodeYear </p>
                                                <p id="BDateNumber" style="display:none;">@ViewBag.CodeDay @ViewBag.CodeMonth @ViewBag.CodeYear</p>
                                            </div>
                                            <div id="XYGender">
                                                <p class="FNdraggable NotPrint" id="LabelGender" style="display:none;">Gender/Sexe(5)</p>
                                                <p class="FNdraggable" style="display:none;" id="Gender">@Model.tblSex.Name</p>
                                            </div>
                                            <div id="DateofIssue">
                                                <p class="FNdraggable NotPrint" style="display:none;" id="LabelDateofIssue">Date ofissue/Date de deliverance(6)</p>
                                                @if (@ViewBag.TL.IssueDate == null || @ViewBag.TL.IssueDate == "")
                                                {
                                                    <p class="FNdraggable" style="display:none;" id="IDateName">NILL</p>
                                                    <p class="FNdraggable" style="display:none;" id="IDateNumber">NILL</p>
                                                }
                                                else
                                                {
                                                    <p id="IDateName" class="FNdraggable" style="display:none;"> @Convert.ToDateTime(ViewBag.TL.IssueDate).ToString("dd MMM yyyy")</p>
                                                    <p id="IDateNumber" class="FNdraggable" style="display:none;">@Convert.ToDateTime(ViewBag.TL.IssueDate).ToString("dd MM yyyy")</p>

                                                }
                                            </div>
                                            <div id="DateofExpiry">
                                                <p class="FNdraggable NotPrint" style="display:none;" id="LabelDateofExpiry">Date of expiry/Date de d'expiration(7)</p>
                                                @if (@ViewBag.TL.IssueDate == null || @ViewBag.TL.IssueDate == "")
                                                {
                                                    <p class="FNdraggable" style="display:none;" id="EDateName">NILL</p>
                                                    <p class="FNdraggable" style="display:none;" id="EDateNumber">NILL</p>
                                                }
                                                else
                                                {
                                                    <p id="EDateName" class="FNdraggable" style="display:none;">@ViewBag.Exp.ToString("dd MMM yyyy")</p>
                                                    <p id="EDateNumber" class="FNdraggable" style="display:none;">@ViewBag.Exp.ToString("dd MM yyyy")</p>

                                                }
                                            </div>






                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <img id="Photo" src="@Model.Photo" class="FNdraggable" alt="your image" style="opacity: 0.5;width:40%; height:100%;float:right;" /><br />
                                            </div>
                                        </div>
                                        <br>
                                        <p class="FNdraggable NotPrint" style="color:white;" id="LabelExplanatoryNotes">Explanatory notes/Notes explicatives</p>
                                        <p class="FNdraggable NotPrint" style="color:white;" id="ExplanatoryNotes">PAGE 5</p>
                                        <p class="FNdraggable NotPrint" style="color:white;" id="LabelRenewal">Renewal/Propogation(9)</p>
                                        <p class="FNdraggable NotPrint" style="color:white;" id="Renewal">PAGE 3</p>
                                        <p class="FNdraggable NotPrint" style="color:white;" id="LabelAuthority">Authority/Authoritie(10)</p>
                                        <p class="FNdraggable NotPrint" style="color:white;" id="Authority">WORLD SERVICE AUTHORITY</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <p class="FNdraggable" style="display:none;" id="LabelCountryofApplication">Country Of Application</p>
                                        <p class="FNdraggable" style="display:none;" id="CountryofApplications">@Model.tblCountry.Name</p>
                                        <p class="FNdraggable" style="display:none;" id="LabelCountryofBirth">Country Of Birth</p>
                                        <p class="FNdraggable" style="display:none;" id="CountryofBirths">@Model.tblCountry1.Name</p>
                                        <p class="FNdraggable" style="display:none;" id="LabelCountryofBirthStatistical">Country Of Birth Statistical</p>
                                        <p class="FNdraggable" style="display:none;" id="CountryofBirthStatisticals">@Model.tblCountry2.Name</p>
                                        <p class="FNdraggable" style="display:none;" id="LabelPhone">Phone</p>
                                        <p class="FNdraggable" style="display:none;" id="Phone">@Model.Phone</p>
                                        <p class="FNdraggable" style="display:none;" id="LabelFax">Fax</p>
                                        <p class="FNdraggable" style="display:none;" id="Fax">@Model.Fax</p>
                                        <p class="FNdraggable" style="display:none;" id="LabelEMail">Email</p>
                                        <p class="FNdraggable" style="display:none;" id="EMail">@Model.EMail</p>
                                        <p class="FNdraggable" style="display:none;" id="LabelWebsite">Website</p>
                                        <p class="FNdraggable" style="display:none;" id="Website">@Model.Website</p>
                                        <p class="FNdraggable" style="display:none;" id="LabelHeight">Height</p>
                                        <p class="FNdraggable" style="display:none;" id="Height">
                                            @Model.Height
                                            @{
                                                string Unit = "";
                                            }
                                            @if (Model.HeightUnit == 1)
                                            {
                                                {
                                                    Unit = "ft";
                                                }
                                                @Unit
                                            }
                                            else
                                            {
                                                {
                                                    Unit = "m";
                                                }
                                                @Unit

                                            }
                                        </p>

                                    </div>
                                    <div class="col-md-6">
                                        @if (@Model.tblEye != null)
                                        {
                                            <p class="FNdraggable" style="display:none;" id="LabelEyes">Eyes</p>
                                            <p class="FNdraggable" style="display:none;" id="Eyes">@Model.tblEye.Name</p>
                                        }
                                        <p class="FNdraggable" style="display:none;" id="LabelMarks">Marks</p>
                                        <p class="FNdraggable" style="display:none;" id="Marks">@Model.Marks</p>
                                        @if (@Model.tblOccupation != null)
                                        {
                                            <p class="FNdraggable" style="display:none;" id="LabelOccupation">Occupation</p>
                                            <p class="FNdraggable" style="display:none;" id="Occupation">@Model.tblOccupation.Name</p>
                                        }
                                        <p class="FNdraggable" style="display:none;" id="LabelTitle">Title</p>
                                        <p class="FNdraggable" style="display:none;" id="Title">@Model.Title</p>
                                        <p class="FNdraggable" style="display:none;" id="LabelFatherName">Father Name</p>
                                        <p class="FNdraggable" style="display:none;" id="FatherName">@Model.FatherName</p>
                                        <p class="FNdraggable" style="display:none;" id="LabelMotherName">Mother Name</p>
                                        <p class="FNdraggable" style="display:none;" id="MotherName">@Model.MotherName</p>
                                        <p class="FNdraggable" style="display:none;" id="LabelComments">Comments</p>
                                        <p class="FNdraggable" style="display:none;" id="Comments">@Model.Comments</p>
                                        <p class="FNdraggable" style="display:none;" id="LabelWSANumber">WSA #</p>
                                        <p class="FNdraggable" style="display:none;" id="WSANumber">@Model.WSANumber</p>
                                        @if (@Model.tblStatu != null)
                                        {
                                            <p class="FNdraggable" style="display:none;" id="LabelStatus">Status</p>
                                            <p class="FNdraggable" style="display:none;" id="Status">@Model.tblStatu.Name</p>
                                        }
                                    </div>

                                </div>
                                <br> <br>
                                     <div class="row" id="MRZHide" style="position:relative;bottom:0; ">
                                         @*<div class="col-md-1">
        width:64.32px;height:446.4px;
                                     </div>*@
                                         <div class="col-md-12">
                                             <div class="words">WORLD SERVICE AUTHORITYWORLD SERVICE AUTHORITYWORLD</div>
                                             <div class="words1" style="white-space: nowrap;">@ViewBag.Line1</div>
                                             <div class="words2" style="white-space: nowrap;">@ViewBag.Line2</div>
                                         </div>
                                     </div>



                            </div>

                        </div>
                    </section>

                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body" style="padding:1rem">
                            @using (Html.BeginForm("CreatePassportLabelSetting", "Person", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {@Html.AntiForgeryToken()
                            <input class="form-control" hidden type="text" name="id" value="@ViewBag.PersonId " required />
                            <input class="form-control" hidden type="text" name="tid" value="@ViewBag.tid" required />
                            <div class="row">
                                <div class="col-md-12" style="text-align:center">
                                    <b>Setting Name</b>
                                </div>
                                <div class="col-md-12">
                                    <input class="form-control" type="text" name="Name" value="" required />
                                    <input class="form-control" hidden type="text" id="PassportLabelSettingId" name="PassportLabelSettingId" value="" />
                                </div>
                            </div>
                            <div class="row" style=" margin-bottom: -5%;">
                                <div class="col-md-12" style="text-align:center">
                                    <b>Passport Number</b>
                                </div>

                                <div class="col-md-6">
                                    <div class="input-container">
                                        X&nbsp;
                                        <input class="form-control" type="number" id="XPassportNumber" name="XPassportNumber" value="-19" />

                                    </div>

                                </div>

                                <div class="col-md-6">
                                    <div class="input-container">
                                        Y&nbsp;
                                        <input class="form-control" type="number" id="YPassportNumber" name="YPassportNumber" value="0" />

                                    </div>

                                </div>

                            </div>
                            <div class="row" style=" margin-bottom: -5%;">
                                <div class="col-md-12" style="text-align:center">
                                    <b>Name</b>
                                </div>

                                <div class="col-md-6">
                                    <div class="input-container">
                                        X&nbsp;
                                        <input class="form-control" type="number" id="XName" name="XName" value="13" />

                                    </div>

                                </div>

                                <div class="col-md-6">
                                    <div class="input-container">
                                        Y&nbsp;
                                        <input class="form-control" type="number" id="YName" name="YName" value="0" />

                                    </div>


                                </div>

                            </div>
                            <div class="row" style=" margin-bottom: -5%;">
                                <div class="col-md-12" style="text-align:center">
                                    <b>Given Name</b>
                                </div>

                                <div class="col-md-6">
                                    <div class="input-container">
                                        X&nbsp;
                                        <input class="form-control" type="number" id="XGivenName" name="XGivenName" value="13" />

                                    </div>


                                </div>

                                <div class="col-md-6">
                                    <div class="input-container">
                                        Y&nbsp;
                                        <input class="form-control" type="number" id="YGivenName" name="YGivenName" value="36" />

                                    </div>



                                </div>

                            </div>
                            <div class="row" style=" margin-bottom: -5%;">
                                <div class="col-md-12" style="text-align:center">
                                    <b>Place of Birth</b>
                                </div>

                                <div class="col-md-6">
                                    <div class="input-container">
                                        X&nbsp;
                                        <input class="form-control" type="number" id="XPlaceofBirth" name="XPlaceofBirth" value="13" />

                                    </div>


                                </div>

                                <div class="col-md-6">
                                    <div class="input-container">
                                        Y&nbsp;
                                        <input class="form-control" type="number" id="YPlaceofBirth" name="YPlaceofBirth" value="72" />

                                    </div>


                                </div>

                            </div>
                            <div class="row" style=" margin-bottom: -5%;">
                                <div class="col-md-12" style="text-align:center">
                                    <b>Date of Birth</b>
                                </div>

                                <div class="col-md-6">
                                    <div class="input-container">
                                        X&nbsp;
                                        <input class="form-control" type="number" id="XDateofBirth" name="XDateofBirth" value="13" />

                                    </div>



                                </div>

                                <div class="col-md-6">
                                    <div class="input-container">
                                        Y&nbsp;
                                        <input class="form-control" type="number" id="YDateofBirth" name="YDateofBirth" value="108" />

                                    </div>


                                </div>

                            </div>
                            <div class="row" style=" margin-bottom: -5%;">
                                <div class="col-md-12" style="text-align:center">
                                    <b>Gender</b>
                                </div>

                                <div class="col-md-6">
                                    <div class="input-container">
                                        X&nbsp;
                                        <input class="form-control" type="number" id="XGender" name="XGender" value="13" />

                                    </div>


                                </div>

                                <div class="col-md-6">
                                    <div class="input-container">
                                        Y&nbsp;
                                        <input class="form-control" type="number" id="YGender" name="YGender" value="144" />

                                    </div>


                                </div>

                            </div>
                            <div class="row" style=" margin-bottom: -5%;">
                                <div class="col-md-12" style="text-align:center">
                                    <b>Date of Issue</b>
                                </div>

                                <div class="col-md-6">
                                    <div class="input-container">
                                        X&nbsp;
                                        <input class="form-control" type="number" id="XDateofIssue" name="XDateofIssue" value="13" />

                                    </div>


                                </div>

                                <div class="col-md-6">
                                    <div class="input-container">
                                        Y&nbsp;
                                        <input class="form-control" type="number" id="YDateofIssue" name="YDateofIssue" value="180" />

                                    </div>


                                </div>
                            </div>
                            <div class="row" style=" margin-bottom: -5%;">
                                <div class="col-md-12" style="text-align:center">
                                    <b>Date of Expiry</b>
                                </div>

                                <div class="col-md-6">
                                    <div class="input-container">
                                        X&nbsp;
                                        <input class="form-control" type="number" id="XDateofExpiry" name="XDateofExpiry" value="13" />

                                    </div>


                                </div>

                                <div class="col-md-6">
                                    <div class="input-container">
                                        Y&nbsp;
                                        <input class="form-control" type="number" id="YDateofExpiry" name="YDateofExpiry" value="216" />

                                    </div>


                                </div>

                            </div>
                            <div class="row" style=" margin-bottom: -5%;">
                                <div class="col-md-12" style="text-align:center">
                                    <b>Photo</b>
                                </div>

                                <div class="col-md-6">
                                    <div class="input-container">
                                        X&nbsp;
                                        <input class="form-control" type="number" id="XPhoto" name="XPhoto" value="0" />

                                    </div>

                                </div>

                                <div class="col-md-6">

                                    <div class="input-container">
                                        Y&nbsp;
                                        <input class="form-control" type="number" id="YPhoto" name="YPhoto" value="12" />

                                    </div>

                                </div>

                            </div>
                            @*<div class="row" >
                                    <div class="col-md-12" style="text-align:center">
                                        <button style="padding:1px;font-size:14px" class="btn-sm btn-secondary" type="button" id="ResetX">Reset X</button>
                                        <button style="padding: 1px; font-size: 14px" class="btn-sm btn-secondary" type="button" id="ResetY">Reset Y</button>

                                    </div>
                                </div>*@
                            <div class="row">
                                <div class="col-md-6">
                                    <button class="btn-sm btn-secondary" type="button" id="ResetX">Reset X</button>
                                </div>

                                <div class="col-md-6">
                                    <button class="btn-sm btn-secondary" type="button" id="ResetY">Reset Y</button>
                                </div>
                            </div>
                            <div class="row" style="margin-top:5%">
                                <div class="col-md-12" style="text-align:center">
                                    <button class="btn btn-warning" data-toggle="modal" data-target="#LoadSettingsModal" style="color:white" type="button">Load</button>
                                    <button class="btn btn-primary" type="submit">Save</button>
                                </div>
                            </div>

                        }
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="LoadSettingsModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h5>Load Settings</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <form>
                            <span id="Eyeerror"></span>
                            <div class="row">
                                <div class="col-sm-6">
                                    @foreach (WorldServiceOrganization.Models.tblPassportLabelSetting item in @ViewBag.Settings)
                                    {
                                        <div>
                                            <p id="LoadId" hidden>@item.PassportLabelSettingId</p>
                                            <a href="#" id="LoadName"><p>@item.Name</p></a>
                                            <p hidden>@item.XPassportNumber</p>
                                            <p hidden>@item.YPassportNumber</p>
                                            <p hidden>@item.XName</p>
                                            <p hidden>@item.YName</p>
                                            <p hidden>@item.XGivenName</p>
                                            <p hidden>@item.YGivenName</p>
                                            <p hidden>@item.XPlaceofBirth</p>
                                            <p hidden>@item.YPlaceofBirth</p>
                                            <p hidden>@item.XDateofBirth</p>
                                            <p hidden id="">@item.YDateofBirth</p>
                                            <p hidden id="">@item.XGender</p>
                                            <p hidden id="">@item.YGender</p>
                                            <p hidden id="">@item.XDateofIssue</p>
                                            <p hidden id="">@item.YDateofIssue</p>
                                            <p hidden id="">@item.XDateofExpiry</p>
                                            <p hidden id="">@item.YDateofExpiry</p>
                                            <p hidden id="">@item.XPhoto</p>
                                            <p hidden id="">@item.YPhoto</p>
                                        </div>

                                    }
                                </div>


                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>


<div class="modal fade" id="PassportModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content" >
            <div class="modal-header">
                <h5 class="modal-title" id="EHeading">Select Fields</h5>

            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <form>
                            <span id="Eyeerror"></span>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>First Name</label>
                                        <input type="checkbox" value="true" id="MFirstName" checked><br />
                                        <label>Last Name</label>
                                        <input type="checkbox" value="true" id="MLastName" checked><br />
                                        <label>Place of Birth</label>
                                        <input type="checkbox" value="true" id="MPlaceofBirth" checked><br />
                                        <label>Date of Birth</label>
                                        <input type="checkbox" value="true" id="MDateofBirth" checked><br />
                                        <label>Gender</label>
                                        <input type="checkbox" value="true" id="MGender" checked><br />
                                        <label>Date of Issue</label>
                                        <input type="checkbox" value="true" id="MDateofIssue" checked><br />
                                        <label>Date of Expiry</label>
                                        <input type="checkbox" value="true" id="MDateofExpiry" checked><br />
                                        <label>Explanatory Notes</label>
                                        <input type="checkbox" value="true" id="MExplanatoryNotes" checked><br />
                                        <label>Renewal</label>
                                        <input type="checkbox" value="true" id="MRenewal" checked><br />
                                        <label>Authority</label>
                                        <input type="checkbox" value="true" id="MAuthority" checked><br />
                                        <label>Passport</label>
                                        <input type="checkbox" value="true" id="MLabelPassport" checked><br />
                                        <label>Type</label>
                                        <input type="checkbox" value="true" id="MType" checked><br />
                                        <label>Authority Code</label>
                                        <input type="checkbox" value="true" id="MAuthorityCode" checked><br />
                                        <label>Passport No.</label>
                                        <input type="checkbox" value="true" id="MPassportNo" checked><br />
                                        <label>Occupation</label>
                                        <input type="checkbox" value="true" id="MOccupation"><br />
                                        <label>Title</label>
                                        <input type="checkbox" value="true" id="MTitle"><br />
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Country of Application</label>
                                        <input type="checkbox" value="true" id="MCountryofApplication"><br />
                                        <label>Country of Birth</label>
                                        <input type="checkbox" value="true" id="MCountryofBirth"><br />
                                        <label>Country of Birth Statistical</label>
                                        <input type="checkbox" value="true" id="MCountryofBirthStatistical"><br />
                                        <label>Phone</label>
                                        <input type="checkbox" value="true" id="MPhone"><br />
                                        <label>Fax</label>
                                        <input type="checkbox" value="true" id="MFax"><br />
                                        <label>Email</label>
                                        <input type="checkbox" value="true" id="MEmail"><br />
                                        <label>Website</label>
                                        <input type="checkbox" value="true" id="MWebsite"><br />
                                        <label>Height</label>
                                        <input type="checkbox" value="true" id="MHeight"><br />
                                        <label>Eyes</label>
                                        <input type="checkbox" value="true" id="MEyes"><br />
                                        <label>Marks</label>
                                        <input type="checkbox" value="true" id="MMarks"><br />
                                        <label>Mother Name</label>
                                        <input type="checkbox" value="true" id="MMotherName"><br />
                                        <label>Comments</label>
                                        <input type="checkbox" value="true" id="MComments"><br />
                                        <label>WSA #</label>
                                        <input type="checkbox" value="true" id="MWSANumber"><br />
                                        <label>Status</label>
                                        <input type="checkbox" value="true" id="MStatus"><br />
                                        <label>Father Name</label>
                                        <input type="checkbox" value="true" id="MFatherName"><br />
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

                @*<div id="Eyeloading" style="display:none;margin: 0 auto; text-decoration-color:cornflowerblue;">
                        <div class="spinner-border text-success" id="display_loading" style="margin: 0 auto;"></div>
                        <div class="spinner-border text-success" id="display_loading" style="display:none;margin: 0 auto;">
                        </div> Loading...
                    </div>*@
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="PassportSubmit"><span style="display:none;" class="spinner-border spinner-border-sm mr-2" role="status" id="Eyeloading"></span>Confirm</button>


            </div>
        </div>

    </div>
</div>

<!-- /Page Wrapper -->
<!-- jQuery -->
@*<script src="~/Content/assets/js/jquery-3.5.1.js"></script>*@
@*<script src="~/Content/assets/js/jquery-3.6.0.js"></script>*@
<script src="~/Content/assets/js/shortcut.js"></script>
<script src="~/Content/assets/js/jquery-ui.js"></script>



@*<script src="~/Content/assets/js/jquery-3.2.1.min.js"></script>*@
@*<script src="~/Theme/template/admin/assets/js/jquery.min.js"></script>*@
<script>

    $("body").on("click", "#LoadName", function () {

        var row = $(this).closest('div');
        $("#PassportLabelSettingId").val(row.find("p").eq(0).text());
        $("#SName").val(row.find("p").eq(1).text());
        $("#XPassportNumber").val(row.find("p").eq(2).text());
        $("#XPassportNumber").trigger("change");
        $("#YPassportNumber").val(row.find("p").eq(3).text());
        $("#YPassportNumber").trigger("change");
        $("#XName").val(row.find("p").eq(4).text());
        $("#XName").trigger("change");
        $("#YName").val(row.find("p").eq(5).text());
        $("#YName").trigger("change");
        $("#XGivenName").val(row.find("p").eq(6).text());
        $("#XGivenName").trigger("change");
        $("#YGivenName").val(row.find("p").eq(7).text());
        $("#YGivenName").trigger("change");
        $("#XPlaceofBirth").val(row.find("p").eq(8).text());
        $("#XPlaceofBirth").trigger("change");
        $("#YPlaceofBirth").val(row.find("p").eq(9).text());
        $("#YPlaceofBirth").trigger("change");
        $("#XDateofBirth").val(row.find("p").eq(10).text());
        $("#XDateofBirth").trigger("change");
        $("#YDateofBirth").val(row.find("p").eq(11).text());
        $("#YDateofBirth").trigger("change");
        $("#XGender").val(row.find("p").eq(12).text());
        $("#XGender").trigger("change");
        $("#YGender").val(row.find("p").eq(13).text());
        $("#YGender").trigger("change");
        $("#XDateofIssue").val(row.find("p").eq(14).text());
        $("#XDateofIssue").trigger("change");
        $("#YDateofIssue").val(row.find("p").eq(15).text());
        $("#YDateofIssue").trigger("change");
        $("#XDateofExpiry").val(row.find("p").eq(16).text());
        $("#XDateofExpiry").trigger("change");
        $("#YDateofExpiry").val(row.find("p").eq(17).text());
        $("#YDateofExpiry").trigger("change");
        $("#XPhoto").val(row.find("p").eq(18).text());
        $("#XPhoto").trigger("change");
        $("#YPhoto").val(row.find("p").eq(19).text());
        $("#YPhoto").trigger("change");
        $("#LoadSettingsModal").modal('toggle');

    });

    $('#ResetX').click(function () {
        $("#XYPhoto").css({ left: 0 + 'px' });
        $("#XPhoto").val("0");
        $("#DateofExpiry").css({ left: 13 + 'px', position: 'absolute' });
        $("#XDateofExpiry").val("13");
        $("#DateofIssue").css({ left: 13 + 'px', position: 'absolute' });
        $("#XDateofIssue").val("13");
        $("#XYGender").css({ left: 13 + 'px', position: 'absolute' });
        $("#XGender").val("13");
        $("#DateofBirth").css({ left: 13 + 'px', position: 'absolute' });
        $("#XDateofBirth").val("13");
        $("#XYPlaceofBirth").css({ left: 13 + 'px', position: 'absolute' });
        $("#XPlaceofBirth").val("13");
        $("#GivenName").css({ left: 13 + 'px', position: 'absolute' });
        $("#XGivenName").val("13");
        $("#Name").css({ left: 13 + 'px', position: 'absolute' });
        $("#XName").val("13");
        $("#PassportNo").css({ left: -19 + 'px', position: 'absolute' });
        $("#XPassportNumber").val("-19");
    });

    $('#ResetY').click(function () {
        $("#XYPhoto").css({ top: 12 + 'px' });
        $("#YPhoto").val("12");
        $("#DateofExpiry").css({ top: 216 + 'px', position: 'absolute' });
        $("#YDateofExpiry").val("216");
        $("#DateofIssue").css({ top: 180 + 'px', position: 'absolute' });
        $("#YDateofIssue").val("180");
        $("#XYGender").css({ top: 144 + 'px', position: 'absolute' });
        $("#YGender").val("144");
        $("#DateofBirth").css({ top: 108 + 'px', position: 'absolute' });
        $("#YDateofBirth").val("108");
        $("#XYPlaceofBirth").css({ top: 72 + 'px', position: 'absolute' });
        $("#YPlaceofBirth").val("72");
        $("#GivenName").css({ top: 36 + 'px', position: 'absolute' });
        $("#YGivenName").val("36");
        $("#Name").css({ top: 0 + 'px', position: 'absolute' });
        $("#YName").val("0");
        $("#PassportNo").css({ top: 0 + 'px', position: 'absolute' });
        $("#YPassportNumber").val("0");
    });
    $("#XPassportNumber,#YPassportNumber").change(function () {
        var XVal = $("#XPassportNumber").val();
        var YVal = $("#YPassportNumber").val();
        //alert("X: "+XVal+" Y: "+YVal);
        //alert(YVal);
        $("#PassportNo").css({ top: YVal + 'px', left: XVal + 'px', position: 'absolute' });
    });
    $("#XName,#YName").change(function () {
        var XVal = $("#XName").val();
        var YVal = $("#YName").val();
        //alert("X: "+XVal+" Y: "+YVal);
        //alert(YVal);
        $("#Name").css({ top: YVal + 'px', left: XVal + 'px', position: 'absolute' });
    });
    $("#XGivenName,#YGivenName").change(function () {
        var XVal = $("#XGivenName").val();
        var YVal = $("#YGivenName").val();
        //alert("X: "+XVal+" Y: "+YVal);
        //alert(YVal);
        $("#GivenName").css({ top: YVal + 'px', left: XVal + 'px', position: 'absolute' });
    });
    $("#XPlaceofBirth,#YPlaceofBirth").change(function () {
        var XVal = $("#XPlaceofBirth").val();
        var YVal = $("#YPlaceofBirth").val();
        //alert("X: "+XVal+" Y: "+YVal);
        //alert(YVal);
        $("#XYPlaceofBirth").css({ top: YVal + 'px', left: XVal + 'px', position: 'absolute' });
    });
    $("#XDateofBirth,#YDateofBirth").change(function () {
        var XVal = $("#XDateofBirth").val();
        var YVal = $("#YDateofBirth").val();
        //alert("X: "+XVal+" Y: "+YVal);
        //alert(YVal);
        $("#DateofBirth").css({ top: YVal + 'px', left: XVal + 'px', position: 'absolute' });
    });
    $("#XGender,#YGender").change(function () {
        var XVal = $("#XGender").val();
        var YVal = $("#YGender").val();
        //alert("X: "+XVal+" Y: "+YVal);
        //alert(YVal);
        $("#XYGender").css({ top: YVal + 'px', left: XVal + 'px', position: 'absolute' });
    });
    $("#XDateofIssue,#YDateofIssue").change(function () {
        var XVal = $("#XDateofIssue").val();
        var YVal = $("#YDateofIssue").val();
        //alert("X: "+XVal+" Y: "+YVal);
        //alert(YVal);
        $("#DateofIssue").css({ top: YVal + 'px', left: XVal + 'px', position: 'absolute' });
    });
    $("#XDateofExpiry,#YDateofExpiry").change(function () {
        var XVal = $("#XDateofExpiry").val();
        var YVal = $("#YDateofExpiry").val();
        //alert("X: "+XVal+" Y: "+YVal);
        //alert(YVal);
        $("#DateofExpiry").css({ top: YVal + 'px', left: XVal + 'px', position: 'absolute' });
    });
    $("#XPhoto,#YPhoto").change(function () {
        var XVal = $("#XPhoto").val();
        var YVal = $("#YPhoto").val();
        //alert("X: "+XVal+" Y: "+YVal);
        //alert(YVal);
        $("#XYPhoto").css({ top: YVal + 'px', left: XVal + 'px' });
    });
    //$("#LabelFirstName").parent().css({ position: 'relative' });
    //$("#PassportNo").css({ top: -120, left: 0, position: 'absolute' });

    $(function () {
        $("#PNdraggable").draggable({
            containment: "#draggableArea"
        });
        $("#PLIdraggable").draggable({
            containment: "#PLIdraggableArea"
        });
        $(".FNdraggable").draggable({
            containment: "#FNdraggableArea"
        });
    });

        shortcut.add("ctrl+p", function () {

            $(".NotPrint").css("color", "transparent");
            $(".words").css("color", "transparent");
            //$(".NotPrint").text(" ");
            //$("#LLLBel").val("o");
            //alert($("#LLLBel").val());
            var db = document.body.getElementsByTagName('div');
            var myDiv = document.getElementById("section").innerHTML;

            document.body.innerHTML =
                "<html><head><title></title></head><body><div class='row'><div class='col-md-7'>" +
            myDiv + "</div></div></body>";
            window.print();

            var url = window.location.origin;
            url += '/Person/PassportLabel?id=' +@Model.PersonIDNumber+'&&tid=' + @ViewBag.TL.TransactionIDNumber +'';
            window.location.href = url;
        });

    $('#PrintBtn').click(function () {
        $(".NotPrint").css("color", "transparent");
        $(".words").css("color", "transparent");
        var myDiv = document.getElementById("section").innerHTML;

            document.body.innerHTML =
                "<html><head><title></title></head><body><div class='row'><div class='col-md-7'>" +
            myDiv + "</div></div></body>";
            window.print();

            var url = window.location.origin;
        url += '/Person/PassportLabel?id=' +@Model.PersonIDNumber+'&&tid=' + @ViewBag.TL.TransactionIDNumber +'';
            window.location.href = url;
    });

    $('#PDFBtn').click(function () {
        //$(".NotPrint").css("color", "transparent");
        //$(".words").css("color", "transparent");
        var myDiv = document.getElementById("section").innerHTML;

            document.body.innerHTML =
                "<html><head><title></title></head><body><div class='row'><div class='col-md-7'>" +
            myDiv + "</div></div></body>";
            window.print();

            var url = window.location.origin;
        url += '/Person/PassportLabel?id=' +@Model.PersonIDNumber+'&&tid=' + @ViewBag.TL.TransactionIDNumber +'';
            window.location.href = url;
    });

    $('#PassportSubmit').click(function () {

        if ($("#MFirstName").is(":checked") == true) {
            $("#LabelFirstName").show();
            $("#FirstName").show();
        }
        else {
            $("#LabelFirstName").hide();
            $("#FirstName").hide();
        }
        if ($("#MLastName").is(":checked") == true) {
            $("#LabelLastName").show();
            $("#LastName").show();
        }
        else {
            $("#LabelLastName").hide();
            $("#LastName").hide();
        }
        if ($("#MPlaceofBirth").is(":checked") == true) {
            $("#LabelPlaceofBirth").show();
            $("#PlaceofBirth").show();
        }
        else {
            $("#LabelPlaceofBirth").hide();
            $("#PlaceofBirth").hide();
        }
        if ($("#MDateofBirth").is(":checked") == true) {
            $("#LabelDateofBirth").show();
            if ($('input[name=DateFormat]:checked').val() == 1) {
                $("#DateFormatName").prop("checked", true).change();
            }
            else {
                $("#DateFormatNumber").prop("checked", true).change();
            }
            //$("#BDateName").show();
        }
        else {
            $("#LabelDateofBirth").hide();
            $("#BDateName").hide();
        }
        if ($("#MGender").is(":checked") == true) {
            $("#LabelGender").show();
            $("#Gender").show();
        }
        else {
            $("#LabelGender").hide();
            $("#Gender").hide();
        }
        if ($("#MDateofIssue").is(":checked") == true) {
            $("#LabelDateofIssue").show();
            if ($('input[name=DateFormat]:checked').val() == 1) {
                $("#DateFormatName").prop("checked", true).change();
            }
            else {
                $("#DateFormatNumber").prop("checked", true).change();
            }
            //$("#IDateName").show();
        }
        else {
            $("#LabelDateofIssue").hide();
            $("#IDateName").hide();
        }
        if ($("#MDateofExpiry").is(":checked") == true) {
            $("#LabelDateofExpiry").show();
            if ($('input[name=DateFormat]:checked').val() == 1) {
                $("#DateFormatName").prop("checked", true).change();
            }
            else {
                $("#DateFormatNumber").prop("checked", true).change();
            }
            //$("#EDateName").show();
        }
        else {
            $("#LabelDateofExpiry").hide();
            $("#EDateName").hide();
        }
        if ($("#MExplanatoryNotes").is(":checked") == true) {


            //$("#LabelExplanatoryNotes").show();
            //$("#ExplanatoryNotes").show();
            $("#LabelExplanatoryNotes").css("color", "black");
            $("#ExplanatoryNotes").css("color", "black");
        }
        else {
            $("#LabelExplanatoryNotes").css("color", "white");
            $("#ExplanatoryNotes").css("color", "white");
            //$("#LabelExplanatoryNotes").hide();
            //$("#ExplanatoryNotes").hide();
        }
        if ($("#MRenewal").is(":checked") == true) {
            //$("#LabelRenewal").show();
            //$("#Renewal").show();
            $("#LabelRenewal").css("color", "black");
            $("#Renewal").css("color", "black");
        }
        else {
            //$("#LabelRenewal").hide();
            //$("#Renewal").hide();
            $("#LabelRenewal").css("color", "white");
            $("#Renewal").css("color", "white");
        }
        if ($("#MAuthority").is(":checked") == true) {
            //$("#LabelAuthority").show();
            //$("#Authority").show();
            $("#LabelAuthority").css("color", "black");
            $("#Authority").css("color", "black");
        }
        else {
            //$("#LabelAuthority").hide();
            //$("#Authority").hide();
            $("#LabelAuthority").css("color", "white");
            $("#Authority").css("color", "white");
        }
        if ($("#MOccupation").is(":checked") == true) {
            $("#LabelOccupation").show();
            $("#Occupation").show();
        }
        else {
            $("#LabelOccupation").hide();
            $("#Occupation").hide();
        }
        if ($("#MTitle").is(":checked") == true) {
            $("#LabelTitle").show();
            $("#Title").show();
        }
        else {
            $("#LabelTitle").hide();
            $("#Title").hide();
        }
        if ($("#MFatherName").is(":checked") == true) {
            $("#LabelFatherName").show();
            $("#FatherName").show();
        }
        else {
            $("#LabelFatherName").hide();
            $("#FatherName").hide();
        }
        if ($("#MCountryofApplication").is(":checked") == true) {
            $("#LabelCountryofApplication").show();
            $("#CountryofApplications").show();
        }
        else {
            $("#LabelCountryofApplication").hide();
            $("#CountryofApplications").hide();
        }
        if ($("#MCountryofBirth").is(":checked") == true) {
            $("#LabelCountryofBirth").show();
            $("#CountryofBirths").show();
        }
        else {
            $("#LabelCountryofBirth").hide();
            $("#CountryofBirths").hide();
        }
        if ($("#MCountryofBirthStatistical").is(":checked") == true) {
            $("#LabelCountryofBirthStatistical").show();
            $("#CountryofBirthStatisticals").show();
        }
        else {
            $("#LabelCountryofBirthStatistical").hide();
            $("#CountryofBirthStatisticals").hide();
        }
        if ($("#MPhone").is(":checked") == true) {
            $("#LabelPhone").show();
            $("#Phone").show();
        }
        else {
            $("#LabelPhone").hide();
            $("#Phone").hide();
        }
        if ($("#MFax").is(":checked") == true) {
            $("#LabelFax").show();
            $("#Fax").show();
        }
        else {
            $("#LabelFax").hide();
            $("#Fax").hide();
        }
        if ($("#MEmail").is(":checked") == true) {
            $("#LabelEmail").show();
            $("#Email").show();
        }
        else {
            $("#LabelEmail").hide();
            $("#Email").hide();
        }
        if ($("#MWebsite").is(":checked") == true) {
            $("#LabelWebsite").show();
            $("#Website").show();
        }
        else {
            $("#LabelWebsite").hide();
            $("#Website").hide();
        }
        if ($("#MHeight").is(":checked") == true) {
            $("#LabelHeight").show();
            $("#Height").show();
        }
        else {
            $("#LabelHeight").hide();
            $("#Height").hide();
        }
        if ($("#MEyes").is(":checked") == true) {
            $("#LabelEyes").show();
            $("#Eyes").show();
        }
        else {
            $("#LabelEyes").hide();
            $("#Eyes").hide();
        }
        if ($("#MMarks").is(":checked") == true) {
            $("#LabelMarks").show();
            $("#Marks").show();
        }
        else {
            $("#LabelMarks").hide();
            $("#Marks").hide();
        }
        if ($("#MMotherName").is(":checked") == true) {
            $("#LabelMotherName").show();
            $("#MotherName").show();
        }
        else {
            $("#LabelMotherName").hide();
            $("#MotherName").hide();
        }
        if ($("#MComments").is(":checked") == true) {
            $("#LabelComments").show();
            $("#Comments").show();
        }
        else {
            $("#LabelComments").hide();
            $("#Comments").hide();
        }
        if ($("#MWSANumber").is(":checked") == true) {
            $("#LabelWSANumber").show();
            $("#WSANumber").show();
        }
        else {
            $("#LabelWSANumber").hide();
            $("#WSANumber").hide();
        }
        if ($("#MStatus").is(":checked") == true) {
            $("#LabelStatus").show();
            $("#Status").show();
        }
        else {
            $("#LabelStatus").hide();
            $("#Status").hide();
        }
        if ($("#MLabelPassport").is(":checked") == true) {
            $("#LabelPassport").show();
        }
        else {
            $("#LabelPassport").hide();
        }
        if ($("#MType").is(":checked") == true) {
            $("#Type").show();
        }
        else {
            $("#Type").hide();
        }
        if ($("#MAuthorityCode").is(":checked") == true) {
            $("#AuthorityCode").show();
        }
        else {
            $("#AuthorityCode").hide();
        }
        if ($("#MPassportNo").is(":checked") == true) {
            $("#PassportNo").show();
        }
        else {
            $("#PassportNo").hide();
        }
        $("#PassportModal").modal('toggle');

    });

    $("#FontSize").change(function () {
        $("p,.words,.words1,.words2").css("font-size", $("#FontSize").val() + 'px');
    });

    $("#FontSize1").change(function () {
        $(".words,.words1,.words2").css("font-size", $("#FontSize1").val() + 'px');
    });

    $("#WordSpacing").change(function () {
        $(".words,.words1,.words2").css("letter-spacing", $("#WordSpacing").val() + 'px');
    });

    $('input:radio[name="MRZSuppress"]').change(function () {

        if ($(this).val() == 1) {
            $("#MRZHide").hide();
        }
        else {
            $("#MRZHide").show();
        }
    });

    $('input:radio[name="Issuer"]').change(function () {

        if ($(this).val() == 1) {
            $("#IssuerDisplay").text("WSA");
        }
        else {
            $("#IssuerDisplay").text("ICAO 'XXX'");
        }
    });

    $('input:radio[name="DateFormat"]').change(function () {
        if ($(this).val() == 1) {
            $("#BDateName").show();
            $("#IDateName").show();
            $("#EDateName").show();
            $("#BDateNumber").hide();
            $("#IDateNumber").hide();
            $("#EDateNumber").hide();

        }
        else {
            $("#BDateName").hide();
            $("#IDateName").hide();
            $("#EDateName").hide();
            $("#BDateNumber").show();
            $("#IDateNumber").show();
            $("#EDateNumber").show();
        }
    });

    $('input:radio[name="MRZLetterCase"]').change(function () {
        if ($(this).val() == 1) {
            $('#MRZCase').css('textTransform', 'capitalize');
            //document.getElementsByTagName("section").setAttribute('textTransform', 'lowercase');
        }
        else if ($(this).val() == 2) {
            $('#MRZCase').css('textTransform', 'lowercase');
            //document.getElementById("ID").setAttribute('style', 'textTransform:uppercase');
        }
        else {
            $('#MRZCase').css('textTransform', 'uppercase');
        }
    });



    $('input:radio[name="QRSuppress"]').change(function () {
        if ($(this).val() == 1) {
            $("#QRHide").hide();
        }
        else {
            $("#QRHide").show();
        }
    });

    $.fn.strech_text = function () {
        var elmt = $(this),
            cont_width = elmt.width(),
            txt = elmt.html(),
            one_line = $('<span class="stretch_it">' + txt + '</span>'),
            nb_char = elmt.text().length,
            spacing = cont_width / nb_char,
            txt_width;

        elmt.html(one_line);
        txt_width = one_line.width();

        if (txt_width < cont_width) {
            var char_width = txt_width / nb_char,
                ltr_spacing = spacing - char_width + (spacing - char_width) / nb_char;

            one_line.css({ 'letter-spacing': ltr_spacing });
        } else {
            one_line.contents().unwrap();
            elmt.addClass('justify');
        }
    };





    $(document).ready(function () {
        $(".alert-dismissible").fadeOut(10000);

        //alert("X:" + $("#DateofExpiry").position().top + "Y: " + $("#DateofExpiry").position().left);
        $("#DateofExpiry").css({ top: 214 + 'px', left: 13 + 'px', position: 'absolute' });
        $("#DateofIssue").css({ top: 180 + 'px', left: 13 + 'px', position: 'absolute' });
        $("#XYGender").css({ top: 144 + 'px', left: 13 + 'px', position: 'absolute' });
        $("#DateofBirth").css({ top: 108 + 'px', left: 13 + 'px', position: 'absolute' });
        $("#XYPlaceofBirth").css({ top: 72 + 'px', left: 13 + 'px', position: 'absolute' });
        $("#GivenName").css({ top: 36 + 'px', left: 13 + 'px', position: 'absolute' });
        $("#Name").css({ top: 0 + 'px', left: 13 + 'px', position: 'absolute' });
        $("#PassportNo").css({ top: 0 + 'px', left: 0 + 'px', position: 'absolute' });
        //$("#MRZHide").css({ top: 252 + 'px', left: 0 + 'px', position: 'absolute' });

        const words = document.querySelector(".words"),
            wordsArray = words.innerText.split("").map(e => " " == e ? "<div>&nbsp</div>" : "<div>" + e + "</div>");
        words.innerHTML = wordsArray.join("");

        const words1 = document.querySelector(".words1"),
            wordsArray1 = words1.innerText.split("").map(e => " " == e ? "<div>&nbsp</div>" : "<div>" + e + "</div>");
        words1.innerHTML = wordsArray1.join("");

        const words2 = document.querySelector(".words2"),
            wordsArray2 = words2.innerText.split("").map(e => " " == e ? "<div>&nbsp</div>" : "<div>" + e + "</div>");
        words2.innerHTML = wordsArray2.join("");
        $('.letter,.letter1').each(function () {
            $(this).strech_text();
        });

        $("#PassportModal").modal('toggle');
        $("p").css("font-size", 12 + 'px');
        
        $("p").css("font-family", 'Passport');
        $(".words").css("font-family", 'OCR-B');
        $(".words1").css("font-family", 'OCR-B');
        $(".words2").css("font-family", 'OCR-B');
        $(".words").css("font-size", 3.84 + 'px !important');
        $(".words1").css("font-size", 3.84 + 'px !important');
        $(".words2").css("font-size", 3.84 + 'px !important');
        $("p").css("margin-top", '0rem');
        $("p").css("margin-bottom", '0rem');
        //$(".letter").css("letter-spacing", '6.0px');
        //$(".letter1").css("letter-spacing", '6.5px');
        //$(".letter1").css("display", 'flex');
        //$(".letter1").css("flex-direction", 'row');
        //$(".letter1").css("justify-content", 'space-between');
        //$(".letter").css("display", 'flex');
        //$(".letter").css("flex-direction", 'row');
        //$(".letter").css("justify-content", 'space-between');
        //$(".letter").css("text-align", 'justify');
        //$(".letter").css("letter-spacing", '6.5px');
        //$(".letter1").css("text-align", 'justify');
        //$(".letter1").css("letter-spacing", '6.4px');


        $(".words").css("width", '100%');
        $(".words").css("text-align", 'center');
        $(".words").css("display", 'flex');
        $(".words").css("flex-flow", 'row nowrap');
        $(".words").css("justify-content", 'space-between');

        $(".words1").css("width", '100%');
        $(".words1").css("text-align", 'center');
        $(".words1").css("display", 'flex');
        $(".words1").css("flex-flow", 'row nowrap');
        $(".words1").css("justify-content", 'space-between');

        $(".words2").css("width", '100%');
        $(".words2").css("text-align", 'center');
        $(".words2").css("display", 'flex');
        $(".words2").css("flex-flow", 'row nowrap');
        $(".words2").css("justify-content", 'space-between');


        $(".words").css("font-size", '12px');
        $(".words1").css("font-size", '12px');
        $(".words2").css("font-size", '12px');

@*if (@ViewBag.State== 1) {
        $("#SeparateLine").attr('checked', 'checked');
        $("#WSAShowSeparate").show();
        $("#WSAShowName").hide();
    }
    if (@ViewBag.State== 2) {
        $("#SameLineName").attr('checked', 'checked');
        $("#WSAShowName").show();
        $("#WSAShowSeparate").hide();
    }
    if (@ViewBag.State== 3) {
        $("#WSASuppress").attr('checked', 'checked');
        $("#WSAShowName").hide();
        $("#WSAShowSeparate").hide();
    }

    if (@ViewBag.CState== 1) {
        $("#SeparateLine").attr('checked', 'checked');
        $("#Display").show();
    }
    if (@ViewBag.CState== 2) {
        $("#CountrySuppress").attr('checked', 'checked');
        $("#CountryShow").hide();
    }*@






    });




</script>
