@model  WorldServiceOrganization.Models.tblPerson

@{
    ViewData["Title"] = "Addresss";

    HttpCookie cookieObj = Request.Cookies["Settings"];
    string DateFormat = cookieObj["ReportsDateFormat"];
    string Retrieves = cookieObj["Retrieves"];

    double? TotalCost = 0;
    double? GrandCost = 0;


    string FontFamily = cookieObj["FontStyle"];
    string FontSize = cookieObj["FontSize"];


    string Error = ViewBag.Error;

    string FontLink = "https://fonts.googleapis.com/css?family=" + @FontFamily;
}


<head>

    <style>
        body {
            background: rgb(204,204,204);
        }

        page {
            background: white;
            display: block;
            margin: 0 auto;
            margin-bottom: 0.5cm;
            box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
        }

            page[size='A4'] {
                width: 22cm;
                height: 28cm;
            }

                page[size='A4'][layout='landscape'] {
                    width: 29.7cm;
                    height: 21cm;
                }

        @@media print {
            body, page {
                margin: 0;
                box-shadow: 0;
            }
        }
    </style>

    <script src="http://www.openjs.com/scripts/events/keyboard_shortcuts/shortcut.js"></script>
    <link rel="stylesheet" href="@FontLink" crossorigin="anonymous" />
    <script language="javascript" type="text/javascript">

        shortcut.add("ctrl+p", function () {
            $(".NotPrint").css("color", "transparent");
            $(".BorderLine").css("border-bottom", "0px");
        var myDiv = document.getElementById("section").innerHTML;

             document.getElementById("HT").innerHTML =
                "<html><head><link rel='stylesheet' href='/Content/assets/css/style.css'><title></title><style>page {background: white;display: block;margin: 0 auto;margin-bottom: 0.5cm;box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);}page[size='A4'] {width: 22cm;height: 28cm;}page[size='A4'][layout='landscape'] {width: 29.7cm;height: 21cm;}@@media print {body, page {margin: 0;box-shadow: 0;}}</style></head><body>" +
            myDiv + "</body></html>";


        window.setTimeout(function () {

            window.print();
             var url = window.location.origin;
             url += '/Person/WorldMarriageCertificate?SecondName=@ViewBag.SecondName&&id=' +@Model.PersonIDNumber+'&&tid=' +@ViewBag.TL.TransactionIDNumber +'';
            window.location.href = url;
        }, 500);
        });

    </script>

</head>




<!-- Page Wrapper -->
<div class="content container-fluid">
    <div style="display:none;" class="alert alert-warning alert-dismissible fade show" id="ErrorAlert" role="alert">
        <strong>Error!</strong> @ViewBag.Error
    </div>
    <!-- Page Header -->
    <!-- /Page Header -->

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="breadcrumb-bar">
                            <div class="container-fluid">
                                <div class="row align-items-center">
                                    <div class="col-md-6 col-6 ">
                                        <h5 class="breadcrumb-title">World Marriage Certificate</h5>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    @*<div class="row">
                            <div class="col-md-4">
                                <label for="SeparateLine">WSA Number</label><br>
                                <input type="radio" id="SeparateLine" name="WSADisplay" value="1" checked>
                                <label for="SeparateLine">Separate Line</label><br>
                                <input type="radio" id="SameLineName" name="WSADisplay" value="2">
                                <label for="SameLineName">Same Line as Name</label><br>
                                <input type="radio" id="WSASuppress" name="WSADisplay" value="3">
                                <label for="WSASuppress">Suppress</label>

                            </div>
                            <div class="col-md-4">
                                <label for="SeparateLine">Country</label><br>
                                <input type="radio" id="Display" name="CountryDisplay" value="1" checked>
                                <label for="Display">Display</label><br>
                                <input type="radio" id="CountrySuppress" name="CountryDisplay" value="2">
                                <label for="CountrySuppress">Suppress</label><br />

                            </div>
                            <div class="col-md-4">
                                <a href="@Url.Action("AddressLabel", "Person",new { id=@ViewBag.id })"> <input class="btn btn-danger" type="button" value="Cancel"></a>
                                <a href="@Url.Action("CreatePerson","Person",new { id=@ViewBag.id })" class="btn btn-secondary"><i class="fa fa-list"></i> List</a>
                                <a href="#" id="PrintBtn" class="btn btn-primary"><i class="fa fa-print"></i> Print</a>
                                <a href="#" id="PDFBtn" class="btn btn-success"><i class="fa fa-print"></i> PDF</a>
                            </div>

                        </div>*@
                    <div class="row">
                        <div class="col-md-2">
                            <label>Letter Case</label>
                            <select name="LetterCase" class="form-control" id="LetterCase">
                                <option value=""> Select Letter Case</option>
                                <option value="1">lowercase</option>
                                <option value="2">UPPERCASE</option>
                                <option value="3">Capitalize Each Word</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label>Font Family</label>
                            <select class="form-control" id="FontFamily" name="FontStyle">
                                @foreach (WorldServiceOrganization.Models.tblFontStyle item in @ViewBag.FontStyle)
                                {
                                    if (FontFamily == @item.Name)
                                    {
                                        <option value="@item.Name" selected>@item.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Name">@item.Name</option>
                                    }

                                }
                            </select>
                            @*<input type="text" class="form-control" name="" id="FontFamily" value="@FontFamily" />*@
                        </div>
                        <div class="col-md-1">
                            <label>Font Size</label>
                            <input type="number" class="form-control" name="FontSize" id="FontSize" value="@FontSize" />
                        </div>
                        <div class="col-md-1">
                            <label>Width %</label>
                            <input type="number" class="form-control" name="FontWidth" id="FontWidth" value="100" />
                        </div>

                        <div class="col-md-2">
                            <label>QR Code</label><br />
                            <input type="radio" id="MRZSuppress" name="MRZSuppress" value="1" checked>
                            <label for="MRZSuppress">Suppress</label><br />
                            <input type="radio" id="MRZUnSuppress" name="MRZSuppress" value="2">
                            <label for="MRZUnSuppress">Unsuppress</label>
                        </div>

                        <div class="col-md-4 text-right">

                            @*<a href="@Url.Action("AddressLabel", "Person",new { id=@ViewBag.id })"> <input class="btn btn-danger" type="button" value="Cancel"></a>*@
                            <a href="@Url.Action("Persons","Person",new { id=@ViewBag.id })" class="btn btn-secondary"><i class="fa fa-list"></i> List</a>
                            <a href="#" id="PrintBtn" class="btn btn-primary"><i class="fa fa-print"></i> Print</a>
                            <a href="#" id="PDFBtn" class="btn btn-success"><i class="fa fa-print"></i> PDF</a>
                            <a href="@Url.Action("CreatePerson","Person",new { id=@Model.PersonIDNumber })" class="btn btn-info"><i class="fa fa-arrow-left"></i> Go Back</a>
                        </div>
                    </div>

                </div>

            </div>
            <section class="" id="section">
                <page size="A4">
                    <div class="card ">
                        <div class="card-body" style="height: 27cm;" id="FNdraggableArea">

                            <div class="" style="margin-top: 2cm; font-size: 12px; margin-left: 80px;">
                                <div class=" NotPrint">
                                    <p class="MremB" >Issued at • Eldonita ĉe • Émis à •</p>
                                    <p>Emitido en • Выпущено в • 发布于 • تم إصداره</p>
                                </div>
                                <div class=" ">
                                    <div id="MRZHide" class="FNdraggable" style="display: none; position: absolute; z-index:100;">
                                        <img src="@Model.QRCode" alt="Alternate Text" />
                                    </div>
                                </div>
                                <div class=" " style="margin-top: -36px;margin-left: 470px;">
                                    <p class="NotPrint MremB">Number • Nombro • Numéro •</p>
                                    <p class="NotPrint">Numero • Номер • 编号 • رقم</p>

                                </div>
                            </div>
                            <br />
                            <div class=" " style="margin-top: -10px; margin-left: 130px;">
                                <div class=" NotPrint" style="font-size:12px;">
                                    <p class="MremB">
                                        WSA World Office
                                    </p>
                                    <p>
                                        Washington, DC
                                    </p>
                                </div>
                                <div class="" style="margin-top: -30px; margin-left: 420px;">
                                    <p class="NoLabel FNdraggable">@ViewBag.TL.IDCode</p>
                                </div>
                            </div>
                            <br />
                            <div class=" NotPrint" style="font-size: 18px; text-align: center;">
                                <div class=" ">
                                    <p><b>WORLD MARRIAGE CERTIFICATE • MONDA GEEDZIĜA ATESTILO</b></p>
                                </div>
                                <div class=" ">
                                    <p><b>CERTIFICAT DE MARIAGE MONDIAL • CERTIFICADO MUNDIAL DE MATRIMONIO</b></p>
                                </div>
                                <div class=" ">
                                    <p><b>МИРОВОЕ СЕРТИФИКАТ О БРАКЕ • 世界结婚证书 • شهادة زواج عالمي</b></p>
                                </div>
                            </div>
                            <div class="" style="font-size: 16px; margin-top: 16px;">
                                <div class=" NotPrint" style="margin-left: 80px;">
                                    <p class="MremB"><b>This certifies that</b></p>
                                    <p class="MremB"><b>Ĉi tio atestas</b></p>
                                    <p class="MremB"><b>Ceci certifie que</b></p>
                                    <p class="MremB"><b>Esto certifica que</b></p>
                                    <p class="MremB"><b>Это подтверждает, что</b></p>
                                    <p class="MremB"><b>这证明了</b></p>
                                    <p><b>هذا يثبت ذلك</b></p>
                                </div>
                                <div class="" style="margin-top: -102px; margin-left: 420px;">
                                    <p class="NoLabel FNdraggable">@Model.LastName , @Model.FirstName</p>

                                    <p class="NotPrint"><b>and • kaj • et • y • и • 和 • و</b></p>
                                    <p class="NoLabel FNdraggable">@ViewBag.SecondName</p>
                                </div>
                            </div>
                            <div class=" NotPrint">
                                <div class="" style=" font-size: 8px; margin-left: 80px; margin-top: 44px; margin-right: 70px; font-weight: bold;">
                                    <label style="line-height: 1.3;display:inline-block;">have declared their mutual consent as partners in marriage in accordance with Article 16, Sections 1 and 2, of the Universal Declaration of Human Rights. The named individuals are registered citizens of the World Citizen Government of which WSA is the administrative agency. This certificate has been issued on the basis of an application by the above-named individuals and whose signatures have been certified and recorded with the World Service Authority, Washington, DC.</label>
                                    <label style="margin-top: 6px; line-height: 1.2; display: inline-block; ">deklaris sian reciprokan konsenton kiel geedzecojn konforme al Artikolo 16, Sekcioj 1 kaj 2, de la Universala Deklaracio de Homaj Rajtoj. La nomitaj individuoj estas registritaj civitanoj de la Mondcivitana Registaro de kiu WSA estas la administra agentejo. Ĉi tiu atestilo estis eldonita surbaze de peto de la supre nomitaj individuoj kaj kies subskriboj estis atestitaj kaj registritaj ĉe la Monda Serva Aŭtoritato, Vaŝingtono.</label>
                                    <label style="margin-top: 6px; line-height: 1.2; display: inline-block; ">ont déclaré leur consentement mutuel en tant que partenaires dans le mariage conformément à l'article 16, sections 1 et 2, de la Déclaration universelle des droits de l'homme. Les personnes nommées sont des citoyens enregistrés du Gouvernement Mondial des Citoyen(ne)s du Monde dont WSA est l'agence administrative. Ce certificat a été délivré sur la base d'une demande des personnes susmentionnées et dont les signatures ont été certifiées et enregistrées auprès de la World Service Authority, Washington, DC.</label>
                                    <label style="margin-top: 6px; line-height: 1.2; display: inline-block; ">han declarado su mutuo consentimiento como cónyuges de conformidad con el artículo 16, apartados 1 y 2, de la Declaración Universal de los Derechos Humanos. Las personas nombradas son ciudadanos registrados del Gobierno Mundial de Ciudadano(a)s del Mundo del cual la WSA es la agencia administrativa. Este certificado ha sido emitido sobre la base de una solicitud de las personas mencionadas anteriormente y cuyas firmas han sido certificadas y registradas con la Autoridad de Servicio Mundial, Washington, DC.</label>
                                    <label style="margin-top: 6px; line-height: 1.2; display: inline-block; ">заявили о своем взаимном согласии в качестве партнеров в браке в соответствии со статьей 16, разделами 1 и 2, Всеобщей декларации прав человека. Названные лица являются зарегистрированными гражданами Мировое Правительство Граждан Мира, административным органом которого является WSA. Этот сертификат был выдан на основании заявления вышеназванных лиц, чьи подписи были заверены и зарегистрированы Управлением Всемирной службы, Вашингтон, округ Колумбия.</label>
                                    <label style="margin-top: 6px; line-height: 1.2; display: inline-block; ">已根据《世界人权宣言》第 16 条第 1 和第 2 节宣布他们作为婚姻伴侣相互同意。 所指名的个人是世界公民政府的注册公民，世界公民政府是 WSA 的行政机构。 此证书是根据上述个人的申请签发的，其签名已在华盛顿特区世界服务管理局认证和记录。</label>
                                    <label style="margin-top: 6px; line-height: 1.2; display: inline-block; ">أعلنوا موافقتهم المتبادلة كشركاء في الزواج وفقًا للمادة 16 ، القسمين 1 و 2 ، من الإعلان العالمي لحقوق الإنسان. الأفراد المذكورون هم مواطنون مسجلون في حكومة المواطن العالمية التي تمثل WSA الوكالة الإدارية لها. تم إصدار</label>
                                    <label style="margin-top: 0px; line-height: 1.2; display: inline-block; ">هذه الشهادة بناءً على طلب من الأفراد المذكورين أعلاه والذين تم التصديق على توقيعاتهم وتسجيلها لدى هيئة الخدمة العالمية بواشنطن العاصمة.</label>

                                </div>
                            </div>
                            <div class="" style="font-size:10px;">

                                <div class=" NotPrint" style="margin-top: 12px; margin-left: 310px; font-weight: bold;">
                                    <p class="MremB">On the date:</p>
                                    <p class="MremB">En la dato:</p>
                                    <p class="MremB">À la date:</p>
                                    <p class="MremB">En la cita:</p>
                                    <p class="MMremB">На дату:</p>
                                    <p class="MremB">日期:</p>
                                    <p >:في التاريخ المحدد</p>
                                </div>
                                <div class=" " style="margin-top: -46px; margin-left: 418px;">
                                    <p class="NoLabel FNdraggable">@ViewBag.TL.IssueDate</p>
                                </div>
                            </div>
                            <div class=" NotPrint" style="margin-bottom: 0.5rem; margin-top: 70px;">
                                <div class=" " style=" font-size:10px;text-align:center;">
                                    <div class="">

                                        <div class="BorderLine " style="border-bottom: 1px solid black; width: 270px; margin-left: 7cm;">

                                        </div>

                                    </div>
                                    <p>WSA-Officer • WSA-Oficiro • WSA-Officier • WSA-Oficial •</p>
                                    <p>WSA-Офицер • WSA-官 • ضابط -WSA</p>
                                </div>
                            </div>
                            <div class=" NotPrint">
                                <div class=" " style="font-size: 10px; font-weight: bold; text-align: center;">
                                    <p>This document is issued in accordance with Article 16 (1) and (2), Universal Declaration of Human Rights.</p>
                                    <p>Tiu-ĉi dokumento estas eldonita konforme el la Artikolo 16 (1) kaj (2) de la Universala Deklaracio de Homaj Rajtoj.</p>
                                    <p>Ce document est émis en vertu de l’Article 16 (1) et (2) de la Déclaration Universelle des Droits de l’Homme.</p>
                                    <p>Este documento se emite de conformidad con el Artículo 16 (1) y (2), Declaración Universal de los Derechos Humanos.</p>
                                    <p>Этот документ выдан в соответствии со Cтатьей 16 (1) и (2) Всеобщей декларации прав человека.</p>
                                    <p>本文件根据《世界人权宣言》第 16 (1) 和 (2) 条发布。</p>
                                    <p>صدرت هذه الوثيقة وفقا للمادة 16 (1) و (2) من الإعلان العالمي لحقوق الإنسان.</p>
                                </div>
                            </div>


                            <!-- /Page Header -->

                        </div>
                    </div>


                </page>
</section>
        </div>
    </div>
</div>




<!-- /Page Wrapper -->
<!-- jQuery -->

<script src="~/Content/assets/js/jquery-3.5.1.js"></script>
<script src="~/Content/assets/js/shortcut.js"></script>
<script src="~/Content/assets/js/jquery-ui.js"></script>


@*<script src="~/Content/assets/js/jquery-3.2.1.min.js"></script>*@
@*<script src="~/Theme/template/admin/assets/js/jquery.min.js"></script>*@
<script>

    $(function () {
        $("#PNdraggable").draggable({
            containment: "#draggableArea"
        });
        $("#PLIdraggable").draggable({
            containment: "#PLIdraggableArea"
        });
        $(".FNdraggable").draggable({
            containment: "#FNdraggableArea"
        });
    });
    $(document).ready(function () {
        $('input:radio[name="MRZSuppress"]').change(function () {

            if ($(this).val() == 1) {
                $("#MRZHide").hide();
            }
            else {
                $("#MRZHide").show();
            }
        });

        $("p").css("margin-top", '0rem');
        $("p").css("margin-bottom", '0rem');
        $(".MremT").css("margin-top", '-0.4rem');
        $(".MremB").css("margin-bottom", '-0.4rem');
        $(".MMremB").css("margin-bottom", '-0.2rem');
        $("p").css("font-family", 'Calibri');
        $("label").css("font-family", 'Calibri');
    });
    $("#FontStyle").change(function () {
        $(".NoLabel").css("font-family", $("#FontStyle").val());
    });
    $("#FontWidth").change(function () {
        $("#section").css("width", $("#FontWidth").val() + '%');
    });
    $("#FontSize").change(function () {
        $(".NoLabel").css("font-size", $("#FontSize").val()+'px');
    });

    $('#LetterCase').change(function () {
        if ($(this).val() == 1) {
            $('.NoLabel').css('textTransform', 'lowercase');
            //document.getElementsByTagName("section").setAttribute('textTransform', 'lowercase');
        }
        else if ($(this).val() == 2) {
            $('.NoLabel').css('textTransform', 'uppercase');

            //document.getElementById("ID").setAttribute('style', 'textTransform:uppercase');
        }
        else {
            $('.NoLabel').css('textTransform', 'capitalize');
        }
    });


    $('input:radio[name="WSADisplay"]').change(function () {

        if ($(this).val() == 1) {
            $("#WSAShowSeparate").show();
            $("#WSAShowName").hide();

        }
        else if ($(this).val() == 2) {
            $("#WSAShowName").show();
            $("#WSAShowSeparate").hide();
        }
        else {
            $("#WSAShowName").hide();
            $("#WSAShowSeparate").hide();
        }
    });

    $('input:radio[name="CountryDisplay"]').change(function () {

        if ($(this).val() == 1) {
            $(".CountryShow").show();

        }
        else {
            $(".CountryShow").hide();
        }
    });

    $('#PrintBtn').click(function () {
        $(".NotPrint").css("color", "transparent");
        $(".BorderLine").css("border-bottom", "0px");
        var myDiv = document.getElementById("section").innerHTML;

             document.getElementById("HT").innerHTML =
                "<html><head><link rel='stylesheet' href='/Content/assets/css/style.css'><title></title><style>page {background: white;display: block;margin: 0 auto;margin-bottom: 0.5cm;box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);}page[size='A4'] {width: 22cm;height: 28cm;}page[size='A4'][layout='landscape'] {width: 29.7cm;height: 21cm;}@@media print {body, page {margin: 0;box-shadow: 0;}}</style></head><body>" +
            myDiv + "</body></html>";


        window.setTimeout(function () {

            window.print();
             var url = window.location.origin;
             url += '/Person/WorldMarriageCertificate?SecondName=@ViewBag.SecondName&&id=' +@Model.PersonIDNumber+'&&tid=' +@ViewBag.TL.TransactionIDNumber +'';
            window.location.href = url;
        }, 500);
    });

    $('#PDFBtn').click(function () {
        var myDiv = document.getElementById("section").innerHTML;

           document.getElementById("HT").innerHTML =
                "<html><head><link rel='stylesheet' href='/Content/assets/css/style.css'><title></title><style>page {background: white;display: block;margin: 0 auto;margin-bottom: 0.5cm;box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);}page[size='A4'] {width: 22cm;height: 28cm;}page[size='A4'][layout='landscape'] {width: 29.7cm;height: 21cm;}@@media print {body, page {margin: 0;box-shadow: 0;}}</style></head><body>" +
            myDiv + "</body></html>";


        window.setTimeout(function () {

            window.print();
             var url = window.location.origin;
             url += '/Person/WorldMarriageCertificate?SecondName=@ViewBag.SecondName&&id=' +@Model.PersonIDNumber+'&&tid=' +@ViewBag.TL.TransactionIDNumber +'';
            window.location.href = url;
        }, 500);
    });


    $("#FontFamily").change(function () {
        $(".NoLabel").css("font-family", $("#FontFamily").val());

    });



    $(document).ready(function () {
        $("#MRZHide").css({ top: 65 + 'px', left: 415 + 'px' });
        //$(".NoLabel").css("font-size", 14 + 'px');
        $(".NoLabel").css("font-size", '@FontSize' + 'px');
        $(".NoLabel").css("font-family", '@FontFamily');


        @*if (@ViewBag.State== 1) {
            $("#SeparateLine").attr('checked', 'checked');
            $("#WSAShowSeparate").show();
            $("#WSAShowName").hide();
        }
        if (@ViewBag.State== 2) {
            $("#SameLineName").attr('checked', 'checked');
            $("#WSAShowName").show();
            $("#WSAShowSeparate").hide();
        }
        if (@ViewBag.State== 3) {
            $("#WSASuppress").attr('checked', 'checked');
            $("#WSAShowName").hide();
            $("#WSAShowSeparate").hide();
        }

        if (@ViewBag.CState== 1) {
            $("#SeparateLine").attr('checked', 'checked');
            $("#Display").show();
        }
        if (@ViewBag.CState== 2) {
            $("#CountrySuppress").attr('checked', 'checked');
            $("#CountryShow").hide();
        }*@


    if ("@Error" != "") {
                $('#ErrorAlert').fadeIn();
                $('#ErrorAlert').fadeOut(6000);
            }
            else {
                $('#ErrorAlert').fadeOut();
            }



    });




</script>
