@model  IEnumerable<WorldServiceOrganization.Models.CustomSearchLeftJoin_Result>

@{
    ViewData["Title"] = "Transactions";


    string CreatedDate = DateTime.Now.ToString("yyyy-MM-dd");

    HttpCookie cookieObj = Request.Cookies["Settings"];
    string DateFormat = cookieObj["DateFormat"];
    string Retrieves = cookieObj["Retrieves"];
    string EDate = DateTime.Now.ToString("yyyy-MM-dd");
    string BDate = DateTime.Now.ToString("yyyy-MM-dd");

    //DateTime EEDate = ViewBag.EDate.ToString("yyyy-MM-dd");
    //DateTime BBDate = ViewBag.BDate.ToString("yyyy-MM-dd");
}

<head>

    <style>
        .select2-container {
            width: 100% !important;
        }

        .filters {
            background-color: white !important;
            /*color: white !important;*/
        }
    </style>



</head>




<!-- Page Wrapper -->
<div class="content container-fluid">

    <!-- Page Header -->
    <!-- /Page Header -->

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="breadcrumb-bar">
                            <div class="container-fluid">
                                <div class="row align-items-center">
                                    <div class="col-md-6 col-6">
                                        <h5 class="breadcrumb-title">Custom Search</h5>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="card-body">

                    @using (Html.BeginForm("CustomSearch", "Report", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {@Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="row">
                                    @*<div class="col-md-3">
                                        <label>Field to Search:</label>
                                        <select name="FieldtoSearch" id="FieldtoSearch" class="form-control">
                                            <option value="p.LastName">Last Name</option>
                                            <option value="p.FirstName">First Name</option>
                                            <option value="coa.Name">Country Of Application</option>
                                            <option value="p.CityOfBirth">City Of Birth</option>
                                            <option value="cob.Name">Country Of Birth</option>
                                            <option value="p.Phone">Phone</option>
                                            <option value="p.Fax">Fax</option>
                                            <option value="p.EMail">E-Mail</option>
                                            <option value="p.Website">Website</option>
                                            <option value="p.DateOfBirth">Date Of Birth</option>
                                            <option value="Sex.Name">Sex</option>
                                            <option value="p.Fax">Height</option>
                                            <option value="e.Name">Eyes</option>
                                            <option value="p.Marks">Marks</option>
                                            <option value="o.Code">OccupationCode</option>
                                            <option value="o.Name">Title</option>
                                            <option value="p.FatherName">Father Name</option>
                                            <option value="p.MotherName">Mother Name</option>
                                            <option value="p.WSANumber">WSA Number</option>
                                            <option value="p.Comments">Comments</option>
                                            <option value="s.Name">Status</option>
                                            <option value="cobs.Name">Country Of Birth Statistical</option>
                                            <option value="a.CareOf">Care Of</option>
                                            <option value="a.Address1">Address 1</option>
                                            <option value="a.Address2">Address 2</option>
                                            <option value="a.City">City</option>
                                            <option value="a.State">State</option>
                                            <option value="a.PostalCode">Postal Code</option>
                                            <option value="a.Label">Label</option>
                                            <option value="c.Name">Child Name</option>
                                            <option value="c.BirthDate">Child Birth Date</option>
                                            <option value="t.IDCode">ID Code</option>
                                            <option value="t.ApplicationDate">Application Date</option>
                                            <option value="t.IssueDate">Issue Date</option>
                                            <option value="t.SentDate">Sent Date</option>
                                            <option value="t.ReturnDate">Return Date</option>
                                            <option value="t.Problems">Problems</option>
                                        </select>
                                    </div>*@
                                    <div class="col-md-3">
                                        <label>Field to Search:</label>
                                        <select name="FieldtoSearch" id="FieldtoSearch" class="form-control">
                                            @foreach (WorldServiceOrganization.Models.SearchField List in @ViewBag.SearchFields)
                                            {
                                                <option value="@List.SearchField1">@List.SearchFieldName</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-md-1">
                                        <br />
                                        =
                                    </div>
                                    
                                    <div class="col-md-3 text-left">
                                        <br />
                                        <input type="text" name="SearchValue" value="@ViewBag.SearchValue" />
                                    </div>
                                    <div class="col-md-5 text-right" style=" margin-top: 20px;">
                                        <button class="btn btn-primary" type="submit" id="btnSearch">Search</button>
                                        <a href="@Url.Action("CustomSearch", "Report")"> <input class="btn btn-danger" type="button" value="Reset Form"></a>
                                    </div>
                                </div>
                                







                            </div>
                        </div>

                    </div>
                }

                    @*<div class="row">
            <div class="col-md-4">
                <label>Letter Case</label>
                <select name="LetterCase" class="form-control" id="LetterCase">
                    <option value=""> Select Letter Case</option>
                    <option value="1">lowercase</option>
                    <option value="2">UPPERCASE</option>
                    <option value="3">Capitalize Each Word</option>
                </select>
            </div>
            <div class="col-md-4">
                <label>Font Size</label>
                <input type="number" class="form-control" name="FontSize" id="FontSize" value="" />
            </div>
            <div class="col-md-4">
                <label>Font Style</label>
                <input type="text" class="form-control" name="FontStyle" id="FontStyle" value="" />
            </div>
        </div><br />*@


                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="cell-border table" id="ListTable">
                                    <thead>
                                        <tr>
                                            <th>Status</th>
                                            <th>WSA #</th>
                                            <th>Last Name</th>
                                            <th>First Name</th>
                                        </tr>
                                    </thead>
                                    <tbody id="ID">
                                        @if (Model != null)
                                        {
                                            foreach (WorldServiceOrganization.Models.CustomSearchLeftJoin_Result List in Model)
                                            {
                                                <tr>
                                                    <td>@List.Name</td>
                                                    <td>@List.WSANumber</td>
                                                    <td>@List.LastName</td>
                                                    <td>@List.FirstName</td>
                                                </tr>
                                            }
                                        }

                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>
</div>



<!-- /Page Wrapper -->
<!-- jQuery -->

<script src="~/Content/assets/js/jquery-3.5.1.js"></script>


@*<script src="~/Content/assets/js/jquery-3.2.1.min.js"></script>*@
@*<script src="~/Theme/template/admin/assets/js/jquery.min.js"></script>*@
<script>

    $("#FontStyle").change(function () {
        $("#ID").css("font-family", $("#FontStyle").val());
    });

    $("#FontSize").change(function () {
        $("#ID").css("font-size", $("#FontSize").val() + 'px');
    });

    $('#LetterCase').change(function () {

        if ($(this).val() == 1) {
            $('#ID').css('textTransform', 'lowercase');
            //document.getElementsByTagName("section").setAttribute('textTransform', 'lowercase');
        }
        else if ($(this).val() == 2) {
            $('#ID').css('textTransform', 'uppercase');

            //document.getElementById("ID").setAttribute('style', 'textTransform:uppercase');
        }
        else {
            $('#ID').css('textTransform', 'capitalize');
        }
    });
   



    $(document).ready(function () {

        $("#FieldtoSearch").val("@ViewBag.FieldtoSearch").change();

        $("#FieldtoSearch").select2({
            dropdownCssClass: 'bigdrop'


        });

        $('#ListTable_filter').hide();

        $('#ListTable tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" placeholder="Search ' + title + '" class="form-control"/>');
        });


        // Setup - add a text input to each footer cell
        $('#ListTable thead tr')
            .clone(true)
            .addClass('filters')
            .appendTo('#ListTable thead');

        var tbl = $('#ListTable').DataTable({

            destroy: true,
            dom: 'Bfrtip',
            //lengthMenu: [
            //    [10, 25, 50, -1],
            //    ['10 rows', '25 rows', '50 rows', 'Show all']
            //],
            buttons: [
                'pageLength',
                {


                    extend: 'excel',
                    exportOptions: {
                        columns: [0,1, 2, 3]
                    }
                },
                {
                    extend: 'pdf',
                    exportoptions: {
                        columns: [0, 1, 2, 3]
                    }

                }
            ],
            //"lengthMenu": [@Retrieves],
        orderCellsTop: true,
            fixedHeader: true,
                initComplete: function () {
                    var api = this.api();

                    // For each column
                    api
                        .columns()
                        .eq(0)
                        .each(function (colIdx) {
                            // Set the header cell to contain the input element
                            var cell = $('.filters th').eq(
                                $(api.column(colIdx).header()).index()
                            );
                            var title = $(cell).text();
                            $(cell).html('<input type="text" placeholder="' + title + '" class="form-control"/>');

                            // On every keypress in this input
                            $(
                                'input',
                                $('.filters th').eq($(api.column(colIdx).header()).index())
                            )
                                .off('keyup change')
                                .on('keyup change', function (e) {
                                    e.stopPropagation();

                                    // Get the search value
                                    $(this).attr('title', $(this).val());
                                    var regexr = '({search})'; //$(this).parents('th').find('select').val();

                                    var cursorPosition = this.selectionStart;
                                    // Search the column for that value
                                    api
                                        .column(colIdx)
                                        .search(
                                            this.value != ''
                                                ? regexr.replace('{search}', '(((' + this.value + ')))')
                                                : '',
                                            this.value != '',
                                            this.value == ''
                                        )
                                        .draw();

                                    $(this)
                                        .focus()[0]
                                        .setSelectionRange(cursorPosition, cursorPosition);
                                });
                        });
                },
        //language: {
        //    'search': '검색' /*Empty to remove the label*/,
        //    paginate: {
        //        previous: '이전',
        //        next: '다음'
        //    },
        //},

            searching: true, paging: false, Sorting: false, "bInfo": false,
            //"lengthMenu": [[1000, 10, 25, 50, -1], [1000, 10, 25, 50, "All"]],
            "order": [],
                autoWidth: false,
                    columnDefs: [
                        { width: '20%', targets: 0 }
                    ],
                        fixedColumns: true
    });


        //$('#ListTable').DataTable({

        //    "bInfo": false,
        //    "scrollY": "110px",
        //    "scrollCollapse": true,
        //    searching: false, paging: false
        //});


        $(".nav li ul li").removeClass("active");
        $('#CSearch').addClass('active');
        $('#Rep a').addClass('subdrop');
        $("#Rep  ul").first().css('display', 'block');
    });




</script>
