@model  IEnumerable<WorldServiceOrganization.Models.tblAddress>

@{
    ViewData["Title"] = "Addresss";

    HttpCookie cookieObj = Request.Cookies["Settings"];
    string DateFormat = cookieObj["DateFormat"];
    string Retrieves = cookieObj["Retrieves"];

}


<head>

    <style>
        p {
            margin-top: 0;
            margin-bottom: 0rem;
        }
    </style>

    <script src="http://www.openjs.com/scripts/events/keyboard_shortcuts/shortcut.js"></script>
    <script language="javascript" type="text/javascript">

        shortcut.add("ctrl+p", function () {

            var db = document.body.getElementsByTagName('div');
            var myDiv = document.getElementById("section").innerHTML;
            var State = $('input[name="WSADisplay"]:checked').val();
            var CState = $('input[name="CountryDisplay"]:checked').val();
            document.body.innerHTML =
                "<html><head><title></title></head><body>" +
                myDiv + "</body>";
            window.print();

            var url = window.location.origin;
            url += '/Home/AddressLabel?id='+@Model.FirstOrDefault().PersonIDNumber+'&&State=' + State + '&&CState=' + CState+'';
            window.location.href = url;
        });

    </script>

</head>




<!-- Page Wrapper -->
<div class="content container-fluid">

    <!-- Page Header -->
    <!-- /Page Header -->

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="breadcrumb-bar">
                            <div class="container-fluid">
                                <div class="row align-items-center">
                                    <div class="col-md-6 col-6">
                                        <h5 class="breadcrumb-title">Address Label</h5>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <label for="SeparateLine">WSA Number</label><br>
                            <input type="radio" id="SeparateLine" name="WSADisplay" value="1" checked>
                            <label for="SeparateLine">Separate Line</label><br>
                            <input type="radio" id="SameLineName" name="WSADisplay" value="2">
                            <label for="SameLineName">Same Line as Name</label><br>
                            <input type="radio" id="WSASuppress" name="WSADisplay" value="3">
                            <label for="WSASuppress">Suppress</label>

                        </div>
                        <div class="col-md-4">
                            <label for="SeparateLine">Country</label><br>
                            <input type="radio" id="Display" name="CountryDisplay" value="1" checked>
                            <label for="Display">Display</label><br>
                            <input type="radio" id="CountrySuppress" name="CountryDisplay" value="2">
                            <label for="CountrySuppress">Suppress</label><br />
                            
                        </div>
                        <div class="col-md-4">
                            <a href="@Url.Action("AddressLabel", "Home",new { id=@ViewBag.id })"> <input class="btn btn-danger" type="button" value="Cancel"></a>
                            <a href="@Url.Action("CreateAddress","Home",new { id=@ViewBag.id })" class="btn btn-secondary"><i class="fa fa-list"></i> List</a>
                            <a href="#" id="PrintBtn" class="btn btn-primary"><i class="fa fa-print"></i> Print</a>
                            <a href="#" id="PDFBtn" class="btn btn-success"><i class="fa fa-print"></i> PDF</a>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Letter Case</label>
                            <select name="LetterCase" class="form-control" id="LetterCase">
                                <option value=""> Select Letter Case</option>
                                <option value="1">lowercase</option>
                                <option value="2">UPPERCASE</option>
                                <option value="3">Capitalize Each Word</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label>Font Size</label>
                            <input type="number" class="form-control" name="FontSize" id="FontSize" value="" />
                        </div>
                        <div class="col-md-4">
                            <label>Font Style</label>
                            <input type="text" class="form-control" name="FontStyle" id="FontStyle" value="" />
                        </div>
                    </div>
                        
                </div>
               
            </div>
            <section id="section">
                <div class="row">
                    <div class="col-md-12">

                        <div class="card" id="ID">
                            <div class="card-body">
                                <p class="text-center" id="WSAShowSeparate">@ViewBag.WSA</p>
                                <p><span id="WSAShowName" style="display:none;">@ViewBag.WSA </span> @ViewBag.FName @ViewBag.LName </p>
                                @foreach (WorldServiceOrganization.Models.tblAddress Address in Model)
                                {
                                    <p>c/o @Address.CareOf </p>
                                    <p> @Address.Address1</p>
                                    <p> @Address.City, @Address.State @Address.PostalCode <span id="CountryShow" class="CountryShow">@Address.tblCountry.Name</span> </p>
                                }
                            </div>

                        </div>
                        <div id="editor"></div>
                    </div>

                </div>

            </section>
        </div>
    </div>
</div>




<!-- /Page Wrapper -->
<!-- jQuery -->

<script src="~/Content/assets/js/jquery-3.5.1.js"></script>



@*<script src="~/Content/assets/js/jquery-3.2.1.min.js"></script>*@
@*<script src="~/Theme/template/admin/assets/js/jquery.min.js"></script>*@
<script>

    $("#FontStyle").change(function () {
        $("#ID").css("font-family", $("#FontStyle").val());
    });

    $("#FontSize").change(function () {
        $("#ID").css("font-size", $("#FontSize").val()+'px');
    });

    $('#LetterCase').change(function () {

        if ($(this).val() == 1) {
            $('#ID').css('textTransform', 'lowercase');
            //document.getElementsByTagName("section").setAttribute('textTransform', 'lowercase');
        }
        else if ($(this).val() == 2) {
            $('#ID').css('textTransform', 'uppercase');
            
            //document.getElementById("ID").setAttribute('style', 'textTransform:uppercase');
        }
        else {
            $('#ID').css('textTransform', 'capitalize');
        }
    });


    $('input:radio[name="WSADisplay"]').change(function () {

        if ($(this).val() == 1) {
            $("#WSAShowSeparate").show();
            $("#WSAShowName").hide();

        }
        else if ($(this).val() == 2) {
            $("#WSAShowName").show();
            $("#WSAShowSeparate").hide();
        }
        else {
            $("#WSAShowName").hide();
            $("#WSAShowSeparate").hide();
        }
    });

    $('input:radio[name="CountryDisplay"]').change(function () {

        if ($(this).val() == 1) {
            $("#CountryShow").show();

        }
        else {
            $("#CountryShow").hide();
        }
    });

    $('#PrintBtn').click(function () {
        var myDiv = document.getElementById("ID").innerHTML;
            var State = $('input[name="WSADisplay"]:checked').val();
            var CState = $('input[name="CountryDisplay"]:checked').val();
            document.body.innerHTML =
                "<html><head><title></title></head><body>" +
                myDiv + "</body>";
            window.print();

            var url = window.location.origin;
            url += '/Home/AddressLabel?id='+@Model.FirstOrDefault().PersonIDNumber+'&&State=' + State + '&&CState=' + CState+'';
            window.location.href = url;
    });

    $('#PDFBtn').click(function () {
        var myDiv = document.getElementById("ID").innerHTML;
            var State = $('input[name="WSADisplay"]:checked').val();
            var CState = $('input[name="CountryDisplay"]:checked').val();
            document.body.innerHTML =
                "<html><head><title></title></head><body>" +
                myDiv + "</body>";
            window.print();

            var url = window.location.origin;
            url += '/Home/AddressLabel?id='+@Model.FirstOrDefault().PersonIDNumber+'&&State=' + State + '&&CState=' + CState+'';
            window.location.href = url;
    });



    


    $(document).ready(function () {


        
        if (@ViewBag.State== 1) {
            $("#SeparateLine").attr('checked', 'checked');
            $("#WSAShowSeparate").show();
            $("#WSAShowName").hide();
        }
        if (@ViewBag.State== 2) {
            $("#SameLineName").attr('checked', 'checked');
            $("#WSAShowName").show();
            $("#WSAShowSeparate").hide();
        }
        if (@ViewBag.State== 3) {
            $("#WSASuppress").attr('checked', 'checked');
            $("#WSAShowName").hide();
            $("#WSAShowSeparate").hide();
        }

        if (@ViewBag.CState== 1) {
            $("#SeparateLine").attr('checked', 'checked');
            $("#Display").show();
        }
        if (@ViewBag.CState== 2) {
            $("#CountrySuppress").attr('checked', 'checked');
            $("#CountryShow").hide();
        }
        



        

    });




</script>
