@model  WorldServiceOrganization.Models.tblPerson

@{
    ViewData["Title"] = "Addresss";

    HttpCookie cookieObj = Request.Cookies["Settings"];
    string DateFormat = cookieObj["DateFormat"];
    string Retrieves = cookieObj["Retrieves"];



}


<head>
    <link href="~/fonts/Passport.ttf" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/css/jquery-ui.css" rel="stylesheet" />

    <style>
        #PNdraggable {
            width: 200px;
            /*height: 30px;*/
            /*padding: 0.5em;*/
            border: 0px;
        }

        #PLIdraggable {
            width: 100%;
            /*height: 30px;*/
            /*padding: 0.5em;*/
            border: 0px;
        }

        .FNdraggable {
            width: 300px;
            /*height: 30px;*/
            /*padding: 0.5em;*/
            border: 0px;
        }

        /*p {
            margin-top: 0;
            margin-bottom: 0rem;
            font-size: 12px !important;
            font-family: Passport !important;
        }*/
    </style>



</head>




<!-- Page Wrapper -->
<div class="content container-fluid">

    <!-- Page Header -->
    <!-- /Page Header -->

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="breadcrumb-bar">
                            <div class="container-fluid">
                                <div class="row align-items-center">
                                    <div class="col-md-6 col-6">
                                        <h5 class="breadcrumb-title">Passport Label</h5>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <label><b>MRZ</b></label><br>
                            <div class="row">
                                <div class="col-md-4">
                                    <input type="radio" id="MRZSuppress" name="MRZSuppress" value="1">
                                    <label for="MRZSuppress">Suppress</label><br />
                                    <input type="radio" id="MRZUnSuppress" name="MRZSuppress" value="2">
                                    <label for="MRZUnSuppress">Unsuppress</label>
                                </div>
                                <div class="col-md-4">
                                    <input type="radio" id="MRZStandard" name="MRZStandard" value="1" checked>
                                    <label for="MRZStandard">Standard</label><br />
                                    <input type="radio" id="MRZNonStandard" name="MRZStandard" value="2">
                                    <label for="MRZNonStandard">Non-Standard</label>
                                </div>
                                <div class="col-md-4">
                                    <input type="radio" id="MRZMixed" name="MRZLetterCase" value="1">
                                    <label for="MRZMixed">Mixed Case</label><br />
                                    <input type="radio" id="MRZLower" name="MRZLetterCase" value="2">
                                    <label for="MRZLower">All Lowercase</label><br />
                                    <input type="radio" id="MRZUpper" name="MRZLetterCase" value="3">
                                    <label for="MRZUpper">UPPERCASE</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label><b>Issuer</b></label><br>
                            <input type="radio" id="IssuerWSA" name="Issuer" value="1" checked>
                            <label for="IssuerWSA">WSA</label><br />
                            <input type="radio" id="IssuerICAO" name="Issuer" value="2">
                            <label for="IssuerICAO">ICAO "XXX"</label>
                        </div>
                        <div class="col-md-2">
                            <label><b>Date Format</b></label><br>
                            <input type="radio" id="DateFormatName" name="DateFormat" value="1" checked>
                            <label for="DateFormatName">01 Jan 2000</label><br>
                            <input type="radio" id="DateFormatNumber" name="DateFormat" value="2">
                            <label for="DateFormatNumber">01 01 2000</label><br />

                        </div>
                        <div class="col-md-2">
                            <label>Font Size</label>
                            <input type="number" class="form-control" name="FontSize" id="FontSize" value="12" />
                        </div>
                        <div class="col-md-12 text-right">
                            <a href="@Url.Action("PassportLabel", "Home",new { id=Model.PersonIDNumber,tid= ViewBag.TL.TransactionIDNumber})"> <input class="btn btn-danger" type="button" value="Cancel"></a>
                            <a href="@Url.Action("Persons","Home",new { id=Model.PersonIDNumber })" class="btn btn-secondary"><i class="fa fa-list"></i> List</a>
                            <a href="#" id="PrintBtn" class="btn btn-primary"><i class="fa fa-print"></i> Print</a>
                            <a href="#" id="PDFBtn" class="btn btn-success"><i class="fa fa-print"></i> PDF</a>
                        </div>

                    </div>

                </div>

            </div>
            <div class="row">
                <div class="col-md-10">
                    <section id="section">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <p><b>WORLD GOVERNMENT OF WORLD CITIZENS</b></p><br />
                                    </div>
                                    <div class="col-md-3" style="padding:0px !important;">
                                        <p style="float:right;">Passport/Passeport</p>
                                    </div>
                                    <div class="col-md-2">
                                        <p>Type/Type</p>
                                        <p>P</p>
                                    </div>
                                    <div class="col-md-4" style="padding:0px !important;">
                                        <p>Authority code/Code d'authoritie</p>
                                        <p id="IssuerDisplay">WSA</p>
                                    </div>
                                    <div class="col-md-3" style="padding:0px !important;">
                                        <p>Passport No./No de Passeport(8)</p>
                                        <div id="draggableArea" style="width: 100px;height:30px">
                                            <div id="PNdraggable" class="ui-widget-content">
                                                <p>@ViewBag.TL.IDCode</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <section id="ID">
                                    <div class="row">
                                        <div class="col-md-3" id="PLIdraggableArea">
                                            <div id="PLIdraggable" class="ui-widget-content">

                                                <img id="Photo" src="@Model.Photo" alt="your image" style="width:100%; height:90%;" />
                                            </div>
                                        </div>


                                        <div class="col-md-5" id="FNdraggableArea" style="width: 100%;height:100%">
                                            <p class="FNdraggable">Name/Nom(1)</p>

                                            <div class="FNdraggable">
                                                <p>@Model.LastName</p>
                                            </div>


                                            <p class="FNdraggable">Given Names/Prenoms(2)</p>
                                            <p class="FNdraggable">@Model.FirstName</p>
                                            <p class="FNdraggable">Place ofbirth/Lieu de nalssance(3)</p>
                                            <p class="FNdraggable">@Model.CityOfBirth, @Model.tblCountry.Name</p>
                                            <p class="FNdraggable">Date ofbirth/Date de nalssance(4)</p>
                                            <p id="BDateName" class="FNdraggable">@Model.DateOfBirth.ToString("dd MMM yyyy")</p>
                                            <p id="BDateNumber" style="display:none;">@Model.DateOfBirth.ToString("dd MM yyyy")</p>
                                            <p class="FNdraggable">Gender/Sexe(5)</p>
                                            <p class="FNdraggable">@Model.tblSex.Name</p>
                                            <p class="FNdraggable">Date ofissue/Date de deliverance(6)</p>
                                            @if (@ViewBag.TL.IssueDate.Year == 9999)
                                            {
                                                <p class="FNdraggable">NILL</p>
                                            }
                                            else
                                            {
                                                <p id="IDateName" class="FNdraggable">@ViewBag.TL.IssueDate.ToString("dd MMM yyyy")</p>
                                                <p id="IDateNumber" style="display:none;">@ViewBag.TL.IssueDate.ToString("dd MM yyyy")</p>

                                            }
                                            <p class="FNdraggable">Date of expiry/Date de d'expiration(7)</p>
                                            @if (@ViewBag.TL.IssueDate.Year == 9999)
                                            {
                                                <p class="FNdraggable">NILL</p>
                                            }
                                            else
                                            {
                                                <p id="EDateName" class="FNdraggable">@ViewBag.Exp.ToString("dd MMM yyyy")</p>
                                                <p id="EDateNumber" style="display:none;">@ViewBag.Exp.ToString("dd MM yyyy")</p>

                                            }

                                        </div>
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <img id="Photo" src="@Model.Photo" alt="your image" style="opacity: 0.5;width:40%; height:100%;float:right;" /><br />
                                                </div>
                                            </div>
                                            <br> <br><br>
                                            <p>Explanatory notes/Notes explicatives</p>
                                            <p>PAGE 5</p>
                                            <p>Renewal/Propogation(9)</p>
                                            <p>PAGE 3</p>
                                            <p>Authority/Authoritie(10)</p>
                                            <p>WORLD SERVICE AUTHORITY</p>
                                        </div>
                                    </div><br />
                                    <div id="MRZHide">
                                        <div class="row">
                                            <div class="col-md-2">

                                            </div>
                                            <div class="col-md-8">
                                                <p style="font-size:10px !important;">WORLD SERVICE AUTHORITYWORLD SERVICE AUTHORITYWORLD SERVICE AUTHORITY</p>
                                                <p class="letter">@ViewBag.Line1</p>
                                                <p class="letter">@ViewBag.Line2</p>
                                            </div>
                                            <div class="col-md-2">

                                            </div>
                                        </div>
                                    </div>
                                </section>



                            </div>

                        </div>
                    </section>

                </div>



            </div>

        </div>
    </div>
</div>




<!-- /Page Wrapper -->
<!-- jQuery -->
@*<script src="~/Content/assets/js/jquery-3.5.1.js"></script>*@
@*<script src="~/Content/assets/js/jquery-3.6.0.js"></script>*@
<script src="~/Content/assets/js/shortcut.js"></script>
<script src="~/Content/assets/js/jquery-ui.js"></script>



@*<script src="~/Content/assets/js/jquery-3.2.1.min.js"></script>*@
@*<script src="~/Theme/template/admin/assets/js/jquery.min.js"></script>*@
<script>

    $(function () {
        $("#PNdraggable").draggable({
            containment: "#draggableArea"
        });
        $("#PLIdraggable").draggable({
            containment: "#PLIdraggableArea"
        });
        $(".FNdraggable").draggable({
            containment: "#FNdraggableArea"
        });
    });

        shortcut.add("ctrl+p", function () {

            var db = document.body.getElementsByTagName('div');
            var myDiv = document.getElementById("section").innerHTML;

            document.body.innerHTML =
                "<html><head><title></title></head><body>" +
                myDiv + "</body>";
            window.print();

            var url = window.location.origin;
            url += '/Home/PassportLabel?id=' +@Model.PersonIDNumber+'&&tid=' + @ViewBag.TL.TransactionIDNumber +'';
            window.location.href = url;
        });

    $('#PrintBtn').click(function () {
        var myDiv = document.getElementById("section").innerHTML;

            document.body.innerHTML =
                "<html><head><title></title></head><body>" +
                myDiv + "</body>";
            window.print();

            var url = window.location.origin;
        url += '/Home/PassportLabel?id=' +@Model.PersonIDNumber+'&&tid=' + @ViewBag.TL.TransactionIDNumber +'';
            window.location.href = url;
    });

    $('#PDFBtn').click(function () {
        var myDiv = document.getElementById("section").innerHTML;

            document.body.innerHTML =
                "<html><head><title></title></head><body>" +
                myDiv + "</body>";
            window.print();

            var url = window.location.origin;
        url += '/Home/PassportLabel?id=' +@Model.PersonIDNumber+'&&tid=' + @ViewBag.TL.TransactionIDNumber +'';
            window.location.href = url;
    });

    $("#FontSize").change(function () {
        $("p").css("font-size", $("#FontSize").val() + 'px');
    });

    $('input:radio[name="MRZSuppress"]').change(function () {

        if ($(this).val() == 1) {
            $("#MRZHide").hide();
        }
        else {
            $("#MRZHide").show();
        }
    });

    $('input:radio[name="Issuer"]').change(function () {

        if ($(this).val() == 1) {
            $("#IssuerDisplay").text("WSA");
        }
        else {
            $("#IssuerDisplay").text("ICAO 'XXX'");
        }
    });

    $('input:radio[name="DateFormat"]').change(function () {
        if ($(this).val() == 1) {
            $("#BDateName").show();
            $("#IDateName").show();
            $("#EDateName").show();
            $("#BDateNumber").hide();
            $("#IDateNumber").hide();
            $("#EDateNumber").hide();

        }
        else {
            $("#BDateName").hide();
            $("#IDateName").hide();
            $("#EDateName").hide();
            $("#BDateNumber").show();
            $("#IDateNumber").show();
            $("#EDateNumber").show();
        }
    });

    $('input:radio[name="MRZLetterCase"]').change(function () {
        if ($(this).val() == 1) {
            $('#MRZHide').css('textTransform', 'capitalize');
            //document.getElementsByTagName("section").setAttribute('textTransform', 'lowercase');
        }
        else if ($(this).val() == 2) {
            $('#MRZHide').css('textTransform', 'lowercase');
            //document.getElementById("ID").setAttribute('style', 'textTransform:uppercase');
        }
        else {
            $('#MRZHide').css('textTransform', 'uppercase');
        }
    });








    $(document).ready(function () {

        $("p").css("font-size", 12+ 'px');
        $("p").css("font-family", 'Passport');
        $("p").css("margin-top", '0rem');
        $("p").css("margin-bottom", '0rem');
        $(".letter").css("letter-spacing", '4.5px');

@*if (@ViewBag.State== 1) {
        $("#SeparateLine").attr('checked', 'checked');
        $("#WSAShowSeparate").show();
        $("#WSAShowName").hide();
    }
    if (@ViewBag.State== 2) {
        $("#SameLineName").attr('checked', 'checked');
        $("#WSAShowName").show();
        $("#WSAShowSeparate").hide();
    }
    if (@ViewBag.State== 3) {
        $("#WSASuppress").attr('checked', 'checked');
        $("#WSAShowName").hide();
        $("#WSAShowSeparate").hide();
    }

    if (@ViewBag.CState== 1) {
        $("#SeparateLine").attr('checked', 'checked');
        $("#Display").show();
    }
    if (@ViewBag.CState== 2) {
        $("#CountrySuppress").attr('checked', 'checked');
        $("#CountryShow").hide();
    }*@






    });




</script>
