@using WorldServiceOrganization.Models;
@model  IEnumerable<WorldServiceOrganization.Models.ProductProductPackage>

@{
    ViewData["Title"] = "ProductPackages";
    string Succ = ViewBag.Success;
    string Update = ViewBag.Update;
    string Delete = ViewBag.Delete;

    int ProductPackageId = 0;
    string Code = "";
    string Name = "";
    if (Model != null && Model.Count()!=0)
    {

        ProductPackageId = Model.FirstOrDefault().ProductPackage.ProductPackageId;
        Code = Model.FirstOrDefault().ProductPackage.Code;
        Name = Model.FirstOrDefault().ProductPackage.Name;
    }
    List<tblProduct> Products = new List<tblProduct>(ViewBag.Products);
    //int Num = 0;

}
<head>

    <style>


        .select2-container {
            width: 100% !important;
        }
    </style>


</head>




<!-- Page Wrapper -->
<div class="content container-fluid">

    <!-- Page Header -->
    <!-- /Page Header -->

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="breadcrumb-bar">
                            <div class="container-fluid">
                                <div class="row align-items-center">
                                    <div class="col-md-6 col-6">
                                        <h5 class="breadcrumb-title">Package List</h5>
                                    </div>
                                    <div class="col-md-6 col-6 text-right" id="CreateProductPackageB">
                                        @*<a href="@Url.Action("CreateProductPackage","Home")" class="btn btn-primary " style="float:right;"><i class="fa fa-plus"></i> Create New ProductPackage</a>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div style="display:none;" class="alert alert-success alert-dismissible fade show" id="SuccessAlert" role="alert">
                    <strong>Success!</strong> @ViewBag.Success
                </div>
                <div style="display:none;" class="alert alert-info alert-dismissible fade show" id="UpdateAlert" role="alert">
                    <strong>Success!</strong> @ViewBag.Update
                </div>
                <div style="display:none;" class="alert alert-warning alert-dismissible fade show" id="DeleteAlert" role="alert">
                    <strong>Success!</strong> @ViewBag.Delete
                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="col-md-4">
                                <div class="table-responsive">
                                    <div class="table-responsive">
                                        <table class="cell-border table table-hover table-center  mb-0 " id="ProductPackageTable">
                                            <thead>
                                                <tr>
                                                    <th style="display:none;">ProductPackage ID</th>
                                                    <th>Name</th>
                                                    <th class="text-right">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (WorldServiceOrganization.Models.tblProductPackage ProductPackage in @ViewBag.ProductPackage)
                                                {
                                                <tr>
                                                    <td style="display:none;">@ProductPackage.ProductPackageId</td>
                                                    @if (ProductPackageId == ProductPackage.ProductPackageId)
                                                    {
                                                        <td style="background-color: #00d0f1;"><a href="@Url.Action("ProductPackages","Home",new {id=@ProductPackage.ProductPackageId})" style="color:white;">@ProductPackage.Name</a></td>
                                                    }
                                                    else
                                                    {
                                                        <td><a href="@Url.Action("ProductPackages","Home",new {id=@ProductPackage.ProductPackageId})">@ProductPackage.Name</a></td>
                                                    }



                                                    <td class="text-end text-right">
                                                        <div class="actions">
                                                            <a class="text-danger" href="#" data-toggle="modal" data-target="#ProductPackageDelete" id="DeleteProductPackage">
                                                                <i class="fa fa-trash"></i> Delete
                                                            </a>
                                                        </div>
                                                    </td>

                                                </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        <div class="col-sm-8" >
                            <div style="display:none;" class="alert alert-danger alert-dismissible fade show" id="LblNameError" role="alert">
                                Name must be filled!!!
                            </div>
                                <div class="row">
                                    @*<div class="col-md-3">
                                        <div class="form-group">
                                            
                                            <label>Code</label>
                                            <input type="text" class="form-control" name="Code" id="Code" value="@Code" required>
                                        </div>
                                    </div>*@
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input type="text" class="form-control" style="display:none;" name="ProductPackageId" id="ProductPackageId" value="@ProductPackageId" required>
                                            <label>Name</label>
                                            <input type="text" class="form-control" id="Name" name="Name" value="@Name" required>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Product <small id="LblRoleError" style="display:none; color:red;">Product Must be selected!!!</small></label><br />
                                            <select class="form-control" id="ProductDrop" name="ProductId" required onChange="myNewFunction(this);">
                                                <option value="0">Select Product</option>
                                                @foreach (WorldServiceOrganization.Models.tblProduct Product in @ViewBag.Products)
                                                {
                                                    if (@Product.ProductId == 1)
                                                    {
                                                        <option value="@Product.ProductId" selected>@Product.Name</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@Product.ProductId">@Product.Name</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label></label>
                                            <button class="btn btn-primary" type="submit" id="SaveChanges" style="margin-top:12%;">Save</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <h6 class="card-title" style="background:#1b5a90; color:white;padding:9px !important">Products</h6>
                                    </div>

                                </div>

                                <div class="row">

                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                            <div class="table-responsive">
                                                <table class="cell-border table table-hover table-center  mb-0 " id="ProductPackagesTable">
                                                    <thead>
                                                        <tr>
                                                            <th>Code</th>
                                                            <th>Description</th>
                                                            <th>Cost</th>
                                                            <th>Action</th>
                                                            <th style="display:none;">Products</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (Model != null)
                                                        {
                                                            foreach (WorldServiceOrganization.Models.ProductProductPackage productPackage in Model)
                                                            {
                                                                <tr>

                                                                    <td><input type="text" class="form-control" value="@productPackage.Product.Code" style="border:0px !important;background-color: white !important;" readonly /></td>
                                                                    <td><input type="text" class="form-control" value="@productPackage.Product.Name" style="border:0px !important;background-color: white !important;" readonly /></td>
                                                                    <td><input type="text" class="form-control" value="@productPackage.Product.Price" style="border:0px !important;background-color: white !important;" readonly /></td>


                                                                    <td>
                                                                        <a href="#" class="text-danger font-50" title="Delete"><i class="fa fa-trash" onclick="DeleteRow(this)"></i> </a>
                                                                    </td>
                                                                    <td style="display:none;"><input type="text" class="form-control" value="@productPackage.Product.ProductId" id="ProductAddId" readonly="" /></td>
                                                                </tr>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <tr>

                                                            </tr>
                                                        }

                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>


                                    </div>
                                </div>

                            </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

</div>


<div id="ProductPackageDelete" class="modal fade delete-modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <img src="~/Content/assets/img/sent.png" alt="" width="50" height="46">
                <input class="form-control" type="text" id="DeleteProductPackageID" style="display:none;">
                <h5>Are you sure want to delete this package?</h5>
                <div class="m-t-20">
                    <p id="ConfigDerror" style="color:red;"></p>
                    <a href="#" class="btn btn-white" data-dismiss="modal">Close</a>
                    <input type="button" class="btn btn-danger" id="CDeleteProductPackage" value="Delete">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- /Page Wrapper -->
<!-- jQuery -->

@*<script src="~/Content/assets/js/jquery-3.5.1.js"></script>*@
<script src="~/Content/assets/js/jquery-3.2.1.min.js"></script>
@*<script src="~/Content/assets/js/jquery-3.2.1.min.js"></script>*@
@*<script src="~/Theme/template/admin/assets/js/jquery.min.js"></script>*@
<script>


    $("body").on("click", "#DeleteProductPackage", function () {
        $("#ConfigDerror").text("");
        $("#CDeleteProductPackage").attr("disabled", false);
        var currentRow = $(this).closest("tr");
        $("#DeleteProductPackageID").val(currentRow.find("td:eq(0)").text());
        //alert($("#DeleteDeviceInfoID").val());
    });

    $("#CDeleteProductPackage").on("click", function () {


        $("#CDeleteProductPackage").attr("disabled", true);

        var ID = $("#DeleteProductPackageID").val();

        var model = {
            ProductPackageId: ID,
        };
        console.log(model);


        //Send the JSON array to Controller using AJAX.
        $.ajax({
            type: "POST",
            url: "/Home/DeleteProductPackage",
            data: JSON.stringify(model),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (r) {
                var url = window.location.origin;
                url += '/Home/Productpackages?Delete=Productpackage has been delete successfully.';
                window.location.href = url;
            }
        });

    });

    function myNewFunction(sel,ID) {
        
        var table = document.getElementById("ProductPackagesTable");
        var RowCount = $("#ItemTable tr").length;
        var row = table.insertRow(RowCount + 1);

        
       

        var cell1 = row.insertCell(0);
        element = CreateInputElement();
        element.id = "ProductCode";
        cell1.appendChild(element);

        var cell4 = row.insertCell(1);
        element = CreateInputElement();
        element.id = "ProductName";
        element.value = sel.options[sel.selectedIndex].text;
        cell4.appendChild(element);

        var cell5 = row.insertCell(2);
        element = CreateInputElement();
        element.id = "ProductCost";
        cell5.appendChild(element);

        var cell2 = row.insertCell(3);
        element = document.createElement("a");
        element.setAttribute('href', "javascript:void(0)");
        element.className = "text-danger font-18";
        element.title = "Remove";
        var element2 = document.createElement("i");
        element2.className = "fa fa-trash-o";
        element2.setAttribute('onclick', 'DeleteRow(this)');
        element.appendChild(element2);
        cell2.appendChild(element);

        var cell3 = row.insertCell(4);
        var element = CreateInputElement();
        var Clear = document.getElementById("ProductDrop");
        element.value = Clear.value;
        element.id = "ProductAddId";
        cell3.appendChild(element);
        $("#ProductAddId").hide();
        Clear.value = 0;
       


        var model = {
            id: $("#ProductAddId").val(),
        };
        console.log(model);

        $.ajax({
            type: "GET",
            url: '@Url.Action("GetAllProductsss","Home")',
            data: { id: $("#ProductAddId").val()},
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (ProductList) {
                console.log(ProductList);
                
                $.each(ProductList, function (i, item) {
                    console.log(item.Name);
                    $("#ProductCost").val(item.Price);
                    $("#ProductCode").val(item.Code);
                });  
                
                
            }
        });

        


        //Get($("#ProductAddId").val());
    }
    


    function CreateInputElement() {

        var element = document.createElement("input");
        element.readOnly = true;
        element.type = "text";
        element.className = "form-control";
        element.style ="border:0px !important;background-color: white !important;"


        return element
    }


    function DeleteRow(oButton) {
        document.getElementById("ProductPackagesTable").deleteRow(oButton.parentNode.parentNode.parentNode.rowIndex);
    }



    $("body").on("click", "#SaveChanges", function () {

        $("#SaveChanges").attr("disabled", true);
        //$("#loading").show();
        if ($("#Name").val() != "" ) {
            var Heads = new Array();
            var Head = {};
            Head.Code = $("#Code").val();
            Head.Name = $("#Name").val();
            Head.ProductPackageId = $("#ProductPackageId").val();

            Heads.push(Head);
            console.log(Heads);

            //Loop through the Table rows and build a JSON array.
            var Items = new Array();
            $("#ProductPackagesTable TBODY TR").each(function () {
                var row = $(this);
                var Item = {};
                Item.Name = row.find("input").eq(0).val();
                Item.ProductId = row.find("#ProductAddId").val();
                Items.push(Item);
            });
            console.log(Items);


            var model = {
                HeadData: Heads,
                TailData: Items,
            };
            console.log(model);


            //Send the JSON array to Controller using AJAX.
            $.ajax({
                type: "POST",
                url: "/Home/CreateProductPackage",
                data: JSON.stringify(model),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (r) {
                    //alert(r + " record(s) inserted.");
                    window.location.href = r.Url;
                }
            });
        }
        else {
            if ($("#Name").val() == "") {
                //text = error.append('  *Email must be filled!!!  ');
                $("#LblNameError").fadeIn();
                $("#LblNameError").fadeOut(6000);
            }
            else {
                $("#LblNameError").fadeOut();
            }
        }
        
    });

            $(document).ready(function () {

                if ("@Succ"!="") {
                    $('#SuccessAlert').fadeIn();
                    $('#SuccessAlert').fadeOut(6000);
                }
                else {
                    $('#SuccessAlert').fadeOut();
                }
                if ("@Update" != "") {
                    $('#UpdateAlert').fadeIn();
                    $('#UpdateAlert').fadeOut(6000);
                }
                else {
                    $('#UpdateAlert').fadeOut();
                }
                if ("@Delete" != "") {
                    $('#DeleteAlert').fadeIn();
                    $('#DeleteAlert').fadeOut(6000);
                }
                else {
                    $('#DeleteAlert').fadeOut();
                }

                //$('#ProductPackageTable').DataTable({
                //    dom: 'Bfrtip',
                //    buttons: [
                //        {
                //            extend: 'excel',
                //            exportOptions: {
                //                columns: [1, 2]
                //            }

                //        }
                //    ],
                //    searching: true, paging: true
                //});

                //$(".nav li").removeClass("active");
                //$('#ProductPackages').addClass('active');
                //$('#RC').addClass('active subdrop');

                $(".nav li ul li").removeClass("active");
                $('#Productpackage').addClass('active');
                $('#RC a').addClass('subdrop');
                $("#RC  ul").first().css('display', 'block');
            });




</script>
