@model IEnumerable<WorldServiceOrganization.Models.tblProduct>

@{

    ViewData["Title"] = "Users";
    string Succ = @ViewBag.Success;
    string Update = @ViewBag.Update;
    string Delete = @ViewBag.Delete;
}
}


<head>

    <style>


        .select2-container {
            width: 100% !important;
        }
    </style>


</head>





<div class="content container-fluid">

    <!-- Page Header -->
    <!-- /Page Header -->

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="breadcrumb-bar">
                            <div class="container-fluid">
                                <div class="row align-items-center">
                                    <div class="col-md-6 col-6">
                                        <h5 class="breadcrumb-title">Product List</h5>
                                    </div>
                                    <div class="col-md-6 col-6 text-right">
                                        <a href="@Url.Action("CreateProduct","Home")" class="btn btn-primary " data-toggle="modal" data-target="#ProductModal" style="float:right;" id="CreateProductB"><i class="fa fa-plus"></i> Create New Product</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="display:none;" class="alert alert-success alert-dismissible fade show" id="SuccessAlert" role="alert">
                    <strong>Success!</strong> @ViewBag.Success
                </div>
                <div style="display:none;" class="alert alert-info alert-dismissible fade show" id="UpdateAlert" role="alert">
                    <strong>Success!</strong> @ViewBag.Update
                </div>
                <div style="display:none;" class="alert alert-warning alert-dismissible fade show" id="DeleteAlert" role="alert">
                    <strong>Success!</strong> @ViewBag.Delete
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <div class="table-responsive">
                            <table class="cell-border table table-hover table-center  mb-0 " id="ProductTable">
                                <thead>
                                    <tr>
                                        <th style="display:none;">User ID</th>
                                        <th>Code</th>
                                        <th>Name</th>
                                        <th style="display:none;">Product Type ID</th>
                                        <th>Product Type</th>
                                        <th>Price</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (WorldServiceOrganization.Models.tblProduct Product in Model)
                                    {
                                    <tr>
                                        <td style="display:none;">@Product.ProductId</td>
                                        <td>@Product.Code</td>
                                        <td>@Product.Name</td>
                                        <td style="display:none;">@Product.ProductTypeId</td>
                                        <td>@Product.tblProductType.Name</td>
                                        <td>@Product.Price</td>


                                        <td class="text-end">
                                            <div class="actions">
                                                <a href="#" id="EditProduct" data-toggle="modal" data-target="#ProductModal" class="text-black">
                                                    <i class="fa fa-edit"></i> Edit
                                                </a>
                                                <a class="text-danger" href="#" data-toggle="modal" data-target="#DeleteProductM" id="DeleteProduct">
                                                    <i class="fa fa-trash"></i> Delete
                                                </a>
                                            </div>
                                        </td>
                                        
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="modal fade" id="ProductModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="display:none;" id="CHeading">Create Product</h4>
                <h4 class="modal-title" style="display:none;" id="EHeading">Edit Product</h4>
                
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <form>
                            <span id="Producterror"></span>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <input class="form-control" style="display:none;" type="text" id="ProductID">
                                        <label>Code <small id="LblProductCodeError" style="display:none; color:red;">Code Must be filled!!!</small></label>
                                        <input class="form-control" type="text" id="ECode">
                                        <label>Name <small id="LblProductNameError" style="display:none; color:red;">Name Must be filled!!!</small></label>
                                        <input class="form-control" type="text" id="EName">
                                        <label>Price <small id="LblPriceError" style="display:none; color:red;">Price Must be filled!!!</small></label>
                                        <input class="form-control" type="text" id="EPrice">
                                        <label>Product Types <small id="LblProductTypeError" style="display:none; color:red;">Product Type Must be selected!!!</small></label>
                                        <select class="form-control" id="ProductTypeD">
                                            <option value="0">Select Product Type</option>
                                            @foreach (var item in @ViewBag.ProductType)
                                            {
                                                <option value="@item.ProductTypeId">@item.Name</option>
                                            }
                                        </select>



                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

                @*<div id="Productloading" style="display:none;margin: 0 auto; text-decoration-color:cornflowerblue;">
                    <div class="spinner-border text-success" id="display_loading" style="margin: 0 auto;"></div>
                    <div class="spinner-border text-success" id="display_loading" style="display:none;margin: 0 auto;">
                    </div> Loading...
                </div>*@
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="ProductSubmit"><span style="display:none;" class="spinner-border spinner-border-sm mr-2" role="status" id="Productloading"></span>Save</button>


            </div>
        </div>

    </div>
</div>

<div id="DeleteProductM" class="modal fade delete-modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <img src="~/Content/assets/img/sent.png" alt="" width="50" height="46">
                <input class="form-control" type="text" id="DeleteProductID" style="display:none;">
                <h5>Are you sure want to delete this product?</h5>
                <div class="m-t-20">
                    <a href="#" class="btn btn-white" data-dismiss="modal">Close</a>
                    <input type="button" class="btn btn-danger" id="CDeleteProduct" value="Delete">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- jQuery -->
<script src="~/Content/assets/js/jquery-3.2.1.min.js"></script>
@*<script src="~/Theme/template/admin/assets/js/jquery.min.js"></script>*@
<script>




    $("body").on("click", "#CreateProductB", function () {
        var error = $("#Producterror");
        error.text('');
        $("#EHeading").hide();
        $("#CHeading").show();
        $("#ProductID").val('');
        $("#ECode").val('');
        $("#EName").val('');
        $("#EPrice").val('');
        $("#ProductTypeD").val(0).change();
        $("#LblProductCodeError").fadeOut();
        $("#LblProductNameError").fadeOut();
        $("#LblProductTypeError").fadeOut();
        $("#LblPriceError").fadeOut();
    });

    $("body").on("click", "#EditProduct", function () {
        var error = $("#Producterror");
        error.text('');
        var currentRow = $(this).closest("tr");
        $("#EHeading").show();
        $("#CHeading").hide();
        $("#ProductID").val(currentRow.find("td:eq(0)").text());
        $("#ECode").val(currentRow.find("td:eq(1)").text());
        $("#EName").val(currentRow.find("td:eq(2)").text());
        $("#ProductTypeD").val(currentRow.find("td:eq(3)").text()).change();
        $("#EPrice").val(currentRow.find("td:eq(5)").text());

        $("#LblProductCodeError").fadeOut();
        $("#LblProductNameError").fadeOut();
        $("#LblProductTypeError").fadeOut();
        $("#LblPriceError").fadeOut();

        //alert($("#ProductID").val());
    });


    $("#ProductSubmit").on("click", function () {

        var error = $("#Producterror");
        if ($("#ECode").val() != "" && $("#EName").val() != "" && $("#ProductTypeD").val() != "0" && $("#EPrice").val() != "") {
            error.text('');
            $("#ProductSubmit").attr("disabled", true);
            $("#Productloading").show();
            var CheckMessage = 0;

            var UId = $("#ProductID").val();
            var UCode = $("#ECode").val();
            var UName = $("#EName").val();
            var UPrice = $("#EPrice").val();
            var UProductTypeId = $("#ProductTypeD").val();


            if (UId != 0) {
                var model = {
                    ProductId: UId,
                    Name: UName,
                    Code: UCode,
                    Price: UPrice,
                    ProductTypeId: UProductTypeId,
                };
                CheckMessage = 1;
            }
            else {
                var model = {

                    Name: UName,
                    Code: UCode,
                    Price: UPrice,
                    ProductTypeId: UProductTypeId,
                };
                CheckMessage = 2;
            }



            console.log(model);


            //Send the JSON array to Controller using AJAX.

            $.ajax({
                type: "POST",
                url: "/Home/CreateProduct",
                data: JSON.stringify(model),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (r) {
                    if (r == 1) {
                        error.text('  *Product Already Exsist!!!  ');
                        $("#ProductSubmit").attr("disabled", false);
                        error.css('color', 'red');
                        $("#Productloading").hide();
                    }
                    else {
                        if (CheckMessage == 1) {
                            var url = window.location.origin;
                            url += '/Home/Products?Update=Product has been update successfully.';
                            window.location.href = url;
                        }
                        else {
                            var url = window.location.origin;
                            url += '/Home/Products?Success=Product has been add successfully.';
                            window.location.href = url;
                        }
                    }
                }
            });

        }
        else {
            error.text('');
            error.css('color', 'red');
            if ($("#ECode").val() == "") {

                //text = error.text('  *Name must be filled!!!  ');
                $("#LblProductCodeError").fadeIn();

            }
            else {
                $("#LblProductCodeError").fadeOut();
            }
            if ($("#EName").val() == "") {
                //text = error.append('  *Email must be filled!!!  ');
                $("#LblProductNameError").fadeIn();
            }
            else {
                $("#LblProductNameError").fadeOut();
            }
            if ($("#EPrice").val() == "") {
                //text = error.append('  *Email must be filled!!!  ');
                $("#LblPriceError").fadeIn();
            }
            else {
                $("#LblPriceError").fadeOut();
            }
            if ($("#ProductTypeD").val() == "0") {
                //text = error.append('  *Email must be filled!!!  ');
                $("#LblProductTypeError").fadeIn();
            }
            else {
                $("#LblProductTypeError").fadeOut();
            }

        }

    });


    $("body").on("click", "#DeleteProduct", function () {
        var currentRow = $(this).closest("tr");
        $("#DeleteProductID").val(currentRow.find("td:eq(0)").text());
        //alert($("#DeleteProductID").val());
    });

    $("#CDeleteProduct").on("click", function () {


        $("#CDeleteProduct").attr("disabled", true);

        var ID = $("#DeleteProductID").val();

        var model = {
            ProductId: ID,
        };
        console.log(model);


        //Send the JSON array to Controller using AJAX.
        $.ajax({
            type: "POST",
            url: "/Home/DeleteProduct",
            data: JSON.stringify(model),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (r) {
                var url = window.location.origin;
                url += '/Home/Products?Delete=Product has been delete successfully.';
                window.location.href = url;
            }
        });

    });







    $(document).ready(function () {

                if ("@Succ"!="") {
                    $('#SuccessAlert').fadeIn();
                    $('#SuccessAlert').fadeOut(6000);
                }
                else {
                    $('#SuccessAlert').fadeOut();
                }
                if ("@Update" != "") {
                    $('#UpdateAlert').fadeIn();
                    $('#UpdateAlert').fadeOut(6000);
                }
                else {
                    $('#UpdateAlert').fadeOut();
                }
                if ("@Delete" != "") {
                    $('#DeleteAlert').fadeIn();
                    $('#DeleteAlert').fadeOut(6000);
                }
                else {
                    $('#DeleteAlert').fadeOut();
                }

        $('#ProductTable').DataTable({
            dom: 'Bfrtip',
            lengthMenu: [
                [10, 25, 50, -1],
                ['10 rows', '25 rows', '50 rows', 'Show all']
            ],
            buttons: [
                {
                    extend: 'excel',
                    exportOptions: {
                        columns: [1, 2, 4, 5]
                    }

                }
            ],
            searching: true, paging: true
        });

        //$(".nav li").removeClass("active");
        //$('#Product').addClass('active');
        //$('#RC').addClass('active subdrop');
        $(".nav li ul li").removeClass("active");
        $('#Product').addClass('active');
        $('#RC a').addClass('subdrop');
        $("#RC  ul").first().css('display', 'block');
    });




</script>
