@model  WorldServiceOrganization.Models.tblSetting
@{
    int SettingId = Model.SettingId;
    string DateFormat = Model.DateFormat;
    string NextWSA = Model.NextWSA;
    string NextPassport = Model.NextPassport;
    string NumberOfRetrieves = Model.NumberOfRetrieves;
    string LetterCase = Model.LetterCase;
    string FontStyle = Model.FontStyle;
    string FontSize = Model.FontSize;


    string Update = @ViewBag.Error;


}

<!-- Page Wrapper -->
<div class="content container-fluid">

    <!-- Page Header -->


   

   
    <!-- /Page Header -->

    <div class="row">
        <div class="col-md-12">

            <div class="tab-content profile-tab-cont">
                <div id="password_tab" class="tab-pane fade show active">

                    @using (Html.BeginForm("CreateSetting", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {@Html.AntiForgeryToken()
                    <div class="card">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="breadcrumb-bar">
                                    <div class="container-fluid">
                                        <div class="row align-items-center">
                                            <div class="col-md-6 col-6">
                                                @if (Model == null)
                                                {
                                                    <h5 class="breadcrumb-title">Create Setting</h5>
                                                }
                                                else
                                                {
                                                    <h5 class="breadcrumb-title">Edit Setting</h5>
                                                }
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="display:none;" class="alert alert-info alert-dismissible fade show" id="UpdateAlert" role="alert">
                            <strong>Success!</strong> @ViewBag.Error
                        </div>
                        <div class="card-body">


                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input type="text" class="form-control" style="display:none;" name="SettingId" value="@SettingId" required>
                                        <label>Next WSA #</label>
                                        <input type="number" class="form-control" name="NextWSA" id="NextWSA" value="@NextWSA" required>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Next Passport #</label>
                                        <input type="number" class="form-control" id="NextPassport" name="NextPassport" value="@NextPassport" required>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Number of Retrieves</label>
                                        <input type="number" class="form-control" id="NumberOfRetrieves" name="NumberOfRetrieves" value="@NumberOfRetrieves" required>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Date Format</label>
                                        <input type="text" class="form-control" id="DateFormat" name="DateFormat" value="@DateFormat" required>
                                    </div>
                                </div>

                            </div>
                            <div class="row">

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Letter Case</label>
                                        <select class="form-control" id="LetterCase" name="LetterCase" required>
                                            @if (LetterCase == "Upper case")
                                            {
                                                <option value="Upper case" selected>Upper case</option>
                                            }
                                            else
                                            {
                                                <option value="Upper case">Upper case</option>
                                            }

                                            @if (LetterCase == "Lower case")
                                            {
                                                <option value="Lower case" selected>Lower case</option>
                                            }
                                            else
                                            {
                                                <option value="Lower case">Lower case</option>
                                            }


                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Font Style</label>
                                        <input type="text" class="form-control" id="FontStyle" name="FontStyle" value="@FontStyle" required>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Font Size</label>
                                        <input type="number" class="form-control" id="FontSize" name="FontSize" value="@FontSize" required>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <button class="btn btn-primary" type="submit" id="SaveChanges" style="margin-top:11%;">Save</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    
                             } 
                </div>
            </div>
        </div>

    </div>
</div>

<!-- /Page Wrapper -->
<script src="~/Content/assets/js/jquery-3.2.1.min.js"></script>


<script>

    


    $(document).ready(function () {

                
                if ("@Update" != "") {
                    $('#UpdateAlert').fadeIn();
                    $('#UpdateAlert').fadeOut(6000);
                }
                else {
                    $('#UpdateAlert').fadeOut();
                }

              //$(".nav li").removeClass("active");
              //  $('#Setting').addClass('active');
              //  $('#S').addClass('active subdrop');
        $(".nav li ul li").removeClass("active");
        $('#Setting').addClass('active');
        $('#S a').addClass('subdrop');
        $("#S  ul").first().css('display', 'block');
    });
   



</script>