@model IEnumerable<WorldServiceOrganization.Models.tblCountry>

@{
    ViewData["Title"] = "Users";
    string Succ = @ViewBag.Success;
    string Update = @ViewBag.Update;
    string Delete = @ViewBag.Delete;
}


<head>

    <style>


        .select2-container {
            width: 100% !important;
        }
    </style>


</head>





<div class="content container-fluid">

    <!-- Page Header -->
    


    <!-- /Page Header -->

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="breadcrumb-bar">
                            <div class="container-fluid">
                                <div class="row align-items-center">
                                    <div class="col-md-6 col-6">
                                        <h5 class="breadcrumb-title">Countries List</h5>
                                    </div>
                                    <div class="col-md-6 col-6 text-right">
                                        <a href="@Url.Action("CreateProduct","Home")" class="btn btn-primary " data-toggle="modal" data-target="#CountryModal" style="float:right;" id="CreateCountryB"><i class="fa fa-plus"></i> Create New Country</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <div style="display:none;" class="alert alert-success alert-dismissible fade show" id="SuccessAlert" role="alert">
                    <strong>Success!</strong> @ViewBag.Success
                </div>
                <div style="display:none;" class="alert alert-info alert-dismissible fade show" id="UpdateAlert" role="alert">
                    <strong>Success!</strong> @ViewBag.Update
                </div>
                <div style="display:none;" class="alert alert-warning alert-dismissible fade show" id="DeleteAlert" role="alert">
                    <strong>Success!</strong> @ViewBag.Delete
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <div class="table-responsive">
                            <table class="cell-border table table-hover table-center  mb-0 " id="CountryTable">
                                <thead>
                                    <tr>
                                        <th style="display:none;">User ID</th>
                                        <th>Code</th>
                                        <th>Name</th>
                                        @*<th>Active</th>*@
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (WorldServiceOrganization.Models.tblCountry Country in Model)
                                    {
                                        <tr>
                                            <td style="display:none;">@Country.CountryId</td>
                                            <td>@Country.Code</td>
                                            <td>@Country.Name</td>
                                            @*@if (@Country.isActive == true)
                                    {
                                        <td>
                                            <span class="badge badge-primary">Active</span>
                                        </td>
                                        /**/

                                    }
                                    else
                                    {
                                        <td>
                                            <span class="badge badge-danger">In-Active</span>
                                        </td>
                                    }*@

                                            <td>
                                                <a href="#" class="text-success font-50" title="Edit"><i class="fa fa-edit" id="EditCountry" data-toggle="modal" data-target="#CountryModal"></i></a>
                                                <a href="#" class="text-danger font-50" title="Delete" data-toggle="modal" data-target="#DeleteCountryM"><i class="fa fa-trash" id="DeleteCountry"></i> </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="modal fade" id="CountryModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="display:none;" id="CHeading">Create Country</h4>
                <h4 class="modal-title" style="display:none;" id="EHeading">Edit Country</h4>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close" data-original-title="" title=""><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <form>
                            <span id="Countryerror"></span>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <input class="form-control" style="display:none;" type="text" id="CountryID">
                                        <label>Code <small id="LblCountryCodeError" style="display:none; color:red;">Code Must be filled!!!</small></label>
                                        <input class="form-control" type="text" id="CCode">
                                        <label>Name <small id="LblCountryNameError" style="display:none; color:red;">Name Must be filled!!!</small></label>
                                        <input class="form-control" type="text" id="CName">

                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

                <div id="Countryloading" style="display:none;margin: 0 auto; text-decoration-color:cornflowerblue;">
                    <div class="spinner-border text-success" id="display_loading" style="margin: 0 auto;"></div>
                    <div class="spinner-border text-success" id="display_loading" style="display:none;margin: 0 auto;">
                    </div> Loading...
                </div>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <input type="button" class="btn btn-primary" id="CountrySubmit" value="Save">


            </div>
        </div>

    </div>
</div>

<div id="DeleteCountryM" class="modal fade delete-modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <img src="~/Content/assets/img/sent.png" alt="" width="50" height="46">
                <input class="form-control" type="text" id="DeleteCountryID" style="display:none;">
                <h5>Are you sure want to delete this Country?</h5>
                <div class="m-t-20">
                    <a href="#" class="btn btn-white" data-dismiss="modal">Close</a>
                    <input type="button" class="btn btn-danger" id="CDeleteCountry" value="Delete">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- jQuery -->
<script src="~/Content/assets/js/jquery-3.2.1.min.js"></script>
<script>
    


    $("body").on("click", "#CreateCountryB", function () {
        var error = $("#Countryerror");
        error.text('');
        $("#EHeading").hide();
        $("#CHeading").show();
        $("#CountryID").val('');
        $("#CCode").val('');
        $("#CName").val('');
        $("#LblCountryCodeError").fadeOut();
        $("#LblCountryNameError").fadeOut();




    });

    $("body").on("click", "#EditCountry", function () {
        var error = $("#Countryerror");
        error.text('');
        var currentRow = $(this).closest("tr");
        $("#EHeading").show();
        $("#CHeading").hide();
        $("#CountryID").val(currentRow.find("td:eq(0)").text());
        $("#CCode").val(currentRow.find("td:eq(1)").text());
        $("#CName").val(currentRow.find("td:eq(2)").text());
        
        $("#LblCountryCodeError").fadeOut();
        $("#LblCountryNameError").fadeOut();
        
        //alert($("#CountryID").val());
    });


    $("#CountrySubmit").on("click", function () {

        var error = $("#Countryerror");
        if ($("#CCode").val() != "" && $("#CName").val() != "") {
            error.text('');
            $("#CountrySubmit").attr("disabled", true);
            $("#Countryloading").show();
            var CheckMessage = 0;

            var UId = $("#CountryID").val();
            var UCode = $("#CCode").val();
            var UName = $("#CName").val();


            if (UId != 0) {
                var model = {
                    CountryId: UId,
                    Name: UName,
                    Code: UCode,
                };
                CheckMessage = 1;
            }
            else {
                var model = {

                    Name: UName,
                    Code: UCode,
                };
                CheckMessage = 2;
            }



            console.log(model);


            //Send the JSON array to Controller using AJAX.

            $.ajax({
                type: "POST",
                url: "/Home/CreateCountry",
                data: JSON.stringify(model),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (r) {
                    if (r == 1) {
                        error.text('  *Country Already Exsist!!!  ');
                        $("#CountrySubmit").attr("disabled", false);
                        error.css('color', 'red');
                        $("#Countryloading").hide();
                    }
                    else {
                        if (CheckMessage == 1) {
                            var url = window.location.origin;
                            url += '/Home/Countries?Update=Country has been update successfully.';
                            window.location.href = url;
                        }
                        else {
                            var url = window.location.origin;
                            url += '/Home/Countries?Success=Country has been add successfully.';
                            window.location.href = url;
                        }
                    }
                }
            });

        }
        else {
            error.text('');
            error.css('color', 'red');
            if ($("#CCode").val() == "") {

                //text = error.text('  *Name must be filled!!!  ');
                $("#LblCountryCodeError").fadeIn();

            }
            else {
                $("#LblCountryCodeError").fadeOut();
            }
            if ($("#CName").val() == "") {
                //text = error.append('  *Email must be filled!!!  ');
                $("#LblCountryNameError").fadeIn();
            }
            else {
                $("#LblCountryNameError").fadeOut();
            }

        }

    });


                $("body").on("click", "#DeleteCountry", function () {
                    var currentRow = $(this).closest("tr");
                    $("#DeleteCountryID").val(currentRow.find("td:eq(0)").text());
                    //alert($("#DeleteCountryID").val());
                });

            $("#CDeleteCountry").on("click", function () {


                $("#CDeleteCountry").attr("disabled", true);

                var ID = $("#DeleteCountryID").val();

                var model = {
                    CountryId: ID,
                };
                console.log(model);


                //Send the JSON array to Controller using AJAX.
                $.ajax({
                    type: "POST",
                    url: "/Home/DeleteCountry",
                    data: JSON.stringify(model),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (r) {
                        var url = window.location.origin;
                        url += '/Home/Countries?Delete=Country has been delete successfully.';
                        window.location.href = url;
                    }
                });

            });







            $(document).ready(function () {


                 if ("@Succ"!="") {
                    $('#SuccessAlert').fadeIn();
                    $('#SuccessAlert').fadeOut(3000);
                }
                else {
                    $('#SuccessAlert').fadeOut();
                }
                if ("@Update" != "") {
                    $('#UpdateAlert').fadeIn();
                    $('#UpdateAlert').fadeOut(3000);
                }
                else {
                    $('#UpdateAlert').fadeOut();
                }
                if ("@Delete" != "") {
                    $('#DeleteAlert').fadeIn();
                    $('#DeleteAlert').fadeOut(3000);
                }
                else {
                    $('#DeleteAlert').fadeOut();
                }

                $('#CountryTable').DataTable({
                    dom: 'Bfrtip',
                    buttons: [
                        {
                            extend: 'excel',
                            exportOptions: {
                                columns: [1, 2]
                            }

                        }
                    ],
                    searching: true, paging: true
                });

              $(".nav li a").removeClass("active");
                $('#Country').addClass('active');
                $('#RC').addClass('active subdrop');

            });




</script>
