@*@model  WorldServiceOrganization.Models.tblPerson*@

@{
    ViewData["Title"] = "Childs";
    string Succ = @ViewBag.Success;
    string Update = @ViewBag.Update;
    string Delete = @ViewBag.Delete;

    int? SexId = 0;

}


<head>

    <style>
        .select2-container {
            width: 100% !important;
        }
    </style>



</head>




<!-- Page Wrapper -->
<div class="content container-fluid">

    <!-- Page Header -->
    <!-- /Page Header -->

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="breadcrumb-bar">
                            <div class="container-fluid">
                                <div class="row align-items-center">
                                    <div class="col-md-6 col-6">
                                        <h5 class="breadcrumb-title">Child LIST</h5>
                                    </div>
                                    <div class="col-md-6 col-6 text-right" id="CreateChildB">
                                        <a href="@Url.Action("CreateChild","ChildManagement")" class="btn btn-primary " style="float:right;"><i class="fa fa-plus"></i> Create New Child</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div style="display:none;" class="alert alert-success alert-dismissible fade show" id="SuccessAlert" role="alert">
                    <strong>Success!</strong> @ViewBag.Success
                </div>
                <div style="display:none;" class="alert alert-info alert-dismissible fade show" id="UpdateAlert" role="alert">
                    <strong>Success!</strong> @ViewBag.Update
                </div>
                <div style="display:none;" class="alert alert-warning alert-dismissible fade show" id="DeleteAlert" role="alert">
                    <strong>Success!</strong> @ViewBag.Delete
                </div>

                @using (Html.BeginForm("CreatePerson", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {@Html.AntiForgeryToken()
                <div class="card">
                    <div class="card-body">
                        <span style="color:red;">@ViewBag.Error</span>
                        <div class="row">

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" class="form-control" id="Name" name="Name" value="" required>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Gender</label>
                                    <select class="form-control" id="SexId" name="SexId" required>
                                        <option value="0">Select Gender</option>
                                        @foreach (WorldServiceOrganization.Models.tblSex Sex in @ViewBag.Sex)
                                        {
                                            if (Sex.SexId == SexId)
                                            {
                                                <option value="@Sex.SexId" selected>@Sex.Code "/" @Sex.Name</option>
                                            }
                                            else
                                            {
                                                <option value="@Sex.SexId">@Sex.Code / @Sex.Name</option>
                                            }
                                        }
                                    </select>

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Birth Date</label><br />
                                    <input type="date" class="form-control" id="Height" name="BirthDate" value="" required>

                                    
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label></label>
                                    <button class="btn btn-primary" type="submit" style="margin-top:10%;">Save Changes</button>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>


            }

                <div class="card-body">
                    <div class="table-responsive">
                        <div class="table-responsive">
                            <table class="cell-border table table-hover table-center  mb-0 " id="ChildTable">
                                <thead>
                                    <tr>
                                        <th style="display:none;">Child ID</th>
                                        <th>Name</th>
                                        <th>Birth Date</th>
                                        <th>Gender</th>
                                        @*<th style="display:none;">Organization</th>
                                <th style="display:none;">Title</th>
                                <th style="display:none;">Address1</th>
                                <th style="display:none;">Address2</th>
                                <th style="display:none;">City</th>
                                <th style="display:none;">State Province</th>
                                <th style="display:none;">Country</th>
                                <th style="display:none;">Postal Code </th>*@
                                        @*<th>Phone Number</th>
                                <th>Email</th>
                                <th>Role</th>*@
                                        @*<th>Active</th>*@

                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (WorldServiceOrganization.Models.tblChild Child in ViewBag.Child)
                                    {
                                        <tr>
                                            <td style="display:none;">@Child.ChildId</td>
                                            <td>@Child.Name</td>
                                            <td>@Child.BirthDate</td>
                                            <td>@Child.tblSex.Name</td>
                                            @*<td style="display:none;">@Child.Organization</td>
                                    <td style="display:none;">@Child.Title</td>
                                    <td style="display:none;">@Child.Address1</td>
                                    <td style="display:none;">@Child.Address2</td>
                                    <td style="display:none;">@Child.City</td>
                                    <td style="display:none;">@Child.StateProvince</td>
                                    <td style="display:none;">@Child.Country</td>
                                    <td style="display:none;">@Child.PostalCode</td>*@
                                            @*<td>@Child.PhoneNumber</td>

                                    <td>@Child.Email</td>
                                    <td>@Child.tblRole.Role</td>*@
                                            @*@if (Child.isActive == true)
                                    {
                                        <td>
                                            <span class="badge badge-primary">Active</span>
                                        </td>
                                        /**/

                                    }
                                    else
                                    {
                                        <td>
                                            <span class="badge badge-danger">In-Active</span>
                                        </td>
                                    }*@

                                            <td>
                                                <a href="@Url.Action("CreateChild","ChildManagement",new {id=Child.ChildId })" class="text-success font-50" title="Edit"><i class="fa fa-edit" id="EditChild"></i></a>
                                                <a href="#" class="text-danger font-50" title="Delete" data-toggle="modal" data-target="#ChildDelete"><i class="fa fa-trash" id="DeleteChild"></i> </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div id="ChildDelete" class="modal fade delete-modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <img src="~/Content/assets/img/sent.png" alt="" width="50" height="46">
                <input class="form-control" type="text" id="DeleteChildID" style="display:none;">
                <h5>Are you sure want to delete this device Information?</h5>
                <div class="m-t-20">
                    <p id="ConfigDerror" style="color:red;"></p>
                    <a href="#" class="btn btn-white" data-dismiss="modal">Close</a>
                    <input type="button" class="btn btn-danger" id="CDeleteChild" value="Delete">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- /Page Wrapper -->
<!-- jQuery -->

<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>



@*<script src="~/Content/assets/js/jquery-3.2.1.min.js"></script>*@
@*<script src="~/Theme/template/admin/assets/js/jquery.min.js"></script>*@
<script>


    $("body").on("click", "#DeleteChild", function () {
        $("#ConfigDerror").text("");
        $("#CDeleteChild").attr("disabled", false);
        var currentRow = $(this).closest("tr");
        $("#DeleteChildID").val(currentRow.find("td:eq(0)").text());
        //alert($("#DeleteDeviceInfoID").val());
    });

    $("#CDeleteChild").on("click", function () {


        $("#CDeleteChild").attr("disabled", true);

        var ID = $("#DeleteChildID").val();

        var model = {
            ChildId: ID,
        };
        console.log(model);


        //Send the JSON array to Controller using AJAX.
        $.ajax({
            type: "POST",
            url: "/ChildManagement/DeleteChild",
            data: JSON.stringify(model),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (r) {
                if (r == 1) {

                    var url = window.location.origin;
                    url += '/ChildManagement/Childs?Delete=Child has been delete successfully.';
                    window.location.href = url;
                }
                //alert(r + " record(s) inserted.");
            }
        });

    });



    $(document).ready(function () {


        if ("@Succ"!="") {
            $('#SuccessAlert').fadeIn();
            $('#SuccessAlert').fadeOut(3000);
        }
        else {
            $('#SuccessAlert').fadeOut();
        }
        if ("@Update" != "") {
            $('#UpdateAlert').fadeIn();
            $('#UpdateAlert').fadeOut(3000);
        }
        else {
            $('#UpdateAlert').fadeOut();
        }
        if ("@Delete" != "") {
            $('#DeleteAlert').fadeIn();
            $('#DeleteAlert').fadeOut(3000);
        }
        else {
            $('#DeleteAlert').fadeOut();
        }

        $('#ChildTable').DataTable({
            dom: 'Bfrtip',
            buttons: [
                {


                    extend: 'excel',
                    exportOptions: {
                        columns: [ 1, 2,3,4,5,6,7,8,9,10,11,12,13,14]
                    }
                }
            ],
            searching: true, paging: true
        });



        $(".nav li a").removeClass("active");
        $('#Childs').addClass('active');
        $('#UM').addClass('active subdrop');

    });




</script>
