@model  WorldServiceOrganization.Models.tblPerson

@{
    ViewData["Title"] = "Addresss";
    string Succ = @ViewBag.Success;
    string Update = @ViewBag.Update;
    string Delete = @ViewBag.Delete;

    int? SexId = 0;

}


<head>

    <style>
        .select2-container {
            width: 100% !important;
        }
    </style>



</head>




<!-- Page Wrapper -->
<div class="content container-fluid">

    <!-- Page Header -->
    <!-- /Page Header -->

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="breadcrumb-bar">
                            <div class="container-fluid">
                                <div class="row align-items-center">
                                    <div class="col-md-6 col-6">
                                        <h5 class="breadcrumb-title">Address LIST</h5>
                                    </div>
                                    <div class="col-md-6 col-6 text-right" id="CreateAddressB">
                                        <a href="@Url.Action("Persons","Home")" class="btn btn-primary " style="float:right;"><i class="fa fa-list"></i> Back</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div style="display:none;" class="alert alert-success alert-dismissible fade show" id="SuccessAlert" role="alert">
                    <strong>Success!</strong> @Succ
                </div>
                <div style="display:none;" class="alert alert-info alert-dismissible fade show" id="UpdateAlert" role="alert">
                    <strong>Success!</strong> @Update
                </div>
                <div style="display:none;" class="alert alert-warning alert-dismissible fade show" id="DeleteAlert" role="alert">
                    <strong>Success!</strong> @Delete
                </div>







                <div class="card-body">

                    <div class="row">

                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Last Name</label>
                                <input type="text" class="form-control" id="LastName" name="LastName" value="@Model.LastName" readonly>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>First Name</label>
                                <input type="text" class="form-control" id="FirstName" name="FirstName" value="@Model.FirstName" readonly>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>WSA #</label>
                                <input type="text" class="form-control" id="WSANumber" name="WSANumber" value="@Model.WSANumber" readonly>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Status</label><br />
                                <input type="text" class="form-control" id="Name" name="Name" value="@Model.tblStatu.Name" readonly>
                            </div>
                        </div>


                    </div>

                    @using (Html.BeginForm("CreateAddress", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {@Html.AntiForgeryToken()
                    <span style="color:red;">@ViewBag.Error</span>
                    <div class="row">

                        <div class="col-md-2">
                            <div class="form-group">
                                <input style="display:none;" type="text" class="form-control" id="PersonIDNumber" name="PersonIDNumber" value="@Model.PersonIDNumber">
                                <input style="display:none;" type="text" class="form-control" id="AddressId" name="AddressIDNumber" value="">
                                <label>Care of</label>
                                <input type="text" class="form-control" id="CareOf" name="CareOf" value="" required>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Address</label>
                                <input type="text" class="form-control" id="Address1" name="Address1" value="" required>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>City</label><br />
                                <input type="text" class="form-control" id="City" name="City" value="" required>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>State</label><br />
                                <input type="text" class="form-control" id="State" name="State" value="" required>
                                <label>Zip</label><br />
                                <input type="text" class="form-control" id="PostalCode" name="PostalCode" value="" required>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Country</label>
                                <select class="form-control" id="CountryD" name="Country" required>
                                    <option value="0">Select Country</option>
                                    @foreach (WorldServiceOrganization.Models.tblCountry Country in @ViewBag.Country)
                                    {
                                            <option value="@Country.CountryId">@Country.Code / @Country.Name</option>
                                    }
                                </select>

                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <label></label>
                                <button class="btn btn-primary" type="submit" style="margin-top:10%;">Save Changes</button>
                            </div>
                        </div>

                    </div>
                }

                    <div class="table-responsive">
                        <div class="table-responsive">
                            <table class="cell-border table table-hover table-center  mb-0 " id="AddressTable">
                                <thead>
                                    <tr>
                                        <th style="display:none;">Person ID</th>
                                        <th style="display:none;">Address ID</th>
                                        <th>Care Of</th>
                                        <th>Address</th>
                                        <th>City</th>
                                        <th>State</th>
                                        <th >Zip</th>
                                        <th >Country</th>
                                        <th style="display:none;">Country</th>

                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (WorldServiceOrganization.Models.tblAddress Address in ViewBag.Address)
                                    {
                                        <tr>
                                            <td style="display:none;">@Address.PersonIDNumber</td>
                                            <td style="display:none;">@Address.AddressIDNumber</td>
                                            <td>@Address.CareOf</td>
                                            <td>@Address.Address1</td>
                                            <td>@Address.City</td>
                                            <td>@Address.State</td>
                                            <td>@Address.PostalCode</td>
                                            <td>@Address.tblCountry.Name</td>
                                            <td style="display:none;">@Address.Country</td>


                                            <td>
                                                <a href="#" class="text-success font-50" title="Edit"><i class="fa fa-edit" id="EditAddress"></i></a>
                                                <a href="#" class="text-danger font-50" title="Delete" data-toggle="modal" data-target="#AddressDelete"><i class="fa fa-trash" id="DeleteAddress"></i> </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div id="AddressDelete" class="modal fade delete-modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <img src="~/Content/assets/img/sent.png" alt="" width="50" height="46">
                <input class="form-control" type="text" id="DeleteAddressID" style="display:none;">
                <input class="form-control" type="text" id="DeletePersonID" style="display:none;">
                <h5>Are you sure want to delete this device Information?</h5>
                <div class="m-t-20">
                    <p id="ConfigDerror" style="color:red;"></p>
                    <a href="#" class="btn btn-white" data-dismiss="modal">Close</a>
                    <input type="button" class="btn btn-danger" id="CDeleteAddress" value="Delete">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- /Page Wrapper -->
<!-- jQuery -->

<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>



@*<script src="~/Content/assets/js/jquery-3.2.1.min.js"></script>*@
@*<script src="~/Theme/template/admin/assets/js/jquery.min.js"></script>*@
<script>

    $("body").on("click", "#EditAddress", function () {

        var currentRow = $(this).closest("tr");
        $("#PersonIDNumber").val(currentRow.find("td:eq(0)").text());
        $("#AddressId").val(currentRow.find("td:eq(1)").text());
        $("#CareOf").val(currentRow.find("td:eq(2)").text());
        $("#Address1").val(currentRow.find("td:eq(3)").text());
        $("#City").val(currentRow.find("td:eq(4)").text());
        $("#State").val(currentRow.find("td:eq(5)").text());
        $("#PostalCode").val(currentRow.find("td:eq(6)").text());
        $("#CountryD").val(currentRow.find("td:eq(8)").text()).change();
        //alert($("#DeleteDeviceInfoID").val());
    });


    $("body").on("click", "#DeleteAddress", function () {
        $("#ConfigDerror").text("");
        $("#CDeleteAddress").attr("disabled", false);
        var currentRow = $(this).closest("tr");
        $("#DeletePersonID").val(currentRow.find("td:eq(0)").text());
        $("#DeleteAddressID").val(currentRow.find("td:eq(1)").text());
        //alert($("#DeleteAddressID").val());
    });

    $("#CDeleteAddress").on("click", function () {


        $("#CDeleteAddress").attr("disabled", true);

        var ID = $("#DeleteAddressID").val();

        var model = {
            AddressId: ID,
        };
        console.log(model);


        //Send the JSON array to Controller using AJAX.
        $.ajax({
            type: "POST",
            url: "/Home/DeleteAddress",
            data: JSON.stringify(model),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (r) {
                if (r == 1) {

                    var url = window.location.origin;
                    url += '/Home/CreateAddress?Delete=Address has been delete successfully.&id='+$("#DeletePersonID").val()+'';
                    window.location.href = url;
                }
                //alert(r + " record(s) inserted.");
            }
        });

    });



    $(document).ready(function () {


        if ("@Succ"!="") {
            $('#SuccessAlert').fadeIn();
            $('#SuccessAlert').fadeOut(3000);
        }
        else {
            $('#SuccessAlert').fadeOut();
        }
        if ("@Update" != "") {
            $('#UpdateAlert').fadeIn();
            $('#UpdateAlert').fadeOut(3000);
        }
        else {
            $('#UpdateAlert').fadeOut();
        }
        if ("@Delete" != "") {
            $('#DeleteAlert').fadeIn();
            $('#DeleteAlert').fadeOut(3000);
        }
        else {
            $('#DeleteAlert').fadeOut();
        }

        $('#AddressTable').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'pageLength',
                {


                    extend: 'excel',
                    exportOptions: {
                        columns: [ 1, 2,3,4,5,6,7,8,9,10,11,12,13,14]
                    }
                }
            ],
            searching: true, paging: true
        });



        $(".nav li a").removeClass("active");
        $('#Addresss').addClass('active');
        $('#UM').addClass('active subdrop');

    });




</script>
