@model  IEnumerable<WorldServiceOrganization.Models.ProductProductPackage>

    @{
        int ProductPackageId = 0;
        string Code = "";
        string Name = "";


        if (Model != null)
        {
            ProductPackageId = Model.FirstOrDefault().ProductPackage.ProductPackageId;
            Code = Model.FirstOrDefault().ProductPackage.Code;
            Name = Model.FirstOrDefault().ProductPackage.Name;

        }



    }

    <!-- Page Wrapper -->
    <div class="content container-fluid">

        <!-- Page Header -->


        
        <!-- /Page Header -->

        <div class="row">
            <div class="col-md-12">

                        @*@using (Html.BeginForm("CreateProductPackage", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {@Html.AntiForgeryToken()*@
                        <div class="card">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="breadcrumb-bar">
                                        <div class="container-fluid">
                                            <div class="row align-items-center">
                                                <div class="col-md-6 col-6">
                                                    @if (Model == null)
                                                    {
                                                        <h5 class="breadcrumb-title">Create ProductPackage</h5>
                                                    }
                                                    else
                                                    {
                                                        <h5 class="breadcrumb-title">Edit ProductPackage</h5>
                                                    }
                                                </div>
                                                <div class="col-md-6 col-6 text-right" id="CreateProductPackageB">
                                                    <a href="@Url.Action("ProductPackages","Home")" class="btn btn-primary"><i class="fa fa-list"></i> Back</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="card-body">
                                <span style="color:red;">@ViewBag.Error</span>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <input type="text" class="form-control" style="display:none;" name="ProductPackageId" id="ProductPackageId" value="@ProductPackageId" required>
                                            <label>Code</label>
                                            <input type="text" class="form-control" name="Code" id="Code" value="@Code" required>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Name</label>
                                            <input type="text" class="form-control" id="Name" name="Name" value="@Name" required>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Product <small id="LblRoleError" style="display:none; color:red;">Product Must be selected!!!</small></label><br />
                                            <select class="form-control" id="ProductDrop" name="ProductId" required onChange="myNewFunction(this);">
                                                <option value="0">Select Product</option>
                                                @foreach (WorldServiceOrganization.Models.tblProduct Product in @ViewBag.Products)
                                                {
                                                    if (@Product.ProductId == 1)
                                                    {
                                                        <option value="@Product.ProductId" selected>@Product.Name</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@Product.ProductId">@Product.Name</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label></label>
                                            <button class="btn btn-primary" type="submit" id="SaveChanges" style="margin-top:14%;">Save Changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="card">
                            <div class="card-body">

                                <div class="row">
                                    <div class="col-sm-6">
                                        <h6 class="card-title" style="background:#1b5a90; color:white;padding:9px !important">Products</h6>
                                    </div>

                                </div>

                                <div class="row">

                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                            <div class="table-responsive">
                                                <table class="cell-border table table-hover table-center  mb-0 " id="ProductPackageTable">
                                                    <thead>
                                                        <tr>
                                                            <th>Products</th>
                                                            <th>Action</th>
                                                            <th style="display:none;">Products</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (Model != null)
                                                        {
                                                            foreach (WorldServiceOrganization.Models.ProductProductPackage productPackage in Model)
                                                            {
                                                                <tr>
                                                                    
                                                                    <td><input type="text"  class="form-control" value="@productPackage.Product.Name" readonly /></td>
                                                                    

                                                                    <td>
                                                                        <a href="#" class="text-danger font-50" title="Delete"  ><i class="fa fa-trash"  onclick="DeleteRow(this)"></i> </a>
                                                                    </td>
                                                                    <td style="display:none;" ><input type="text" class="form-control" value="@productPackage.Product.ProductId" id="ProductAddId" readonly="" /></td>
                                                                </tr>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <tr>
                                                                @*<td style="display:none;">SoapId</td>
                <td>Soap</td>
                <td>

                    <a href="#" class="text-danger font-50" title="Delete" data-toggle="modal" data-target="#ProductPackageDelete"><i class="fa fa-trash" id="DeleteProductPackage"></i> </a>
                </td>*@
                                                            </tr>
                                                        }

                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>


                                    </div>
                                </div>
                                @* } *@
                            </div>

                        </div>
                    </div>

        </div>
    </div>

    <!-- /Page Wrapper -->
    <script src="~/Content/assets/js/jquery-3.2.1.min.js"></script>


    <script>

        function myNewFunction(sel) {

            var table = document.getElementById("ProductPackageTable");
            var RowCount = $("#ItemTable tr").length;
            var row = table.insertRow(RowCount + 1);




            var cell1 = row.insertCell(0);
            element = CreateInputElement();
            element.value = sel.options[sel.selectedIndex].text;
            cell1.appendChild(element);

            var cell2 = row.insertCell(1);
            element = document.createElement("a");
            element.setAttribute('href', "javascript:void(0)");
            element.className = "text-danger font-18";
            element.title = "Remove";
            var element2 = document.createElement("i");
            element2.className = "fa fa-trash-o";
            element2.setAttribute('onclick', 'DeleteRow(this)');
            element.appendChild(element2);
            cell2.appendChild(element);

            var cell3 = row.insertCell(2);
            var element = CreateInputElement();
            var Clear = document.getElementById("ProductDrop");
            element.value = Clear.value;
            element.id = "ProductAddId";
            cell3.appendChild(element);
            $("#ProductAddId").hide();
            Clear.value = 0;

        }


        function CreateInputElement() {

            var element = document.createElement("input");
            element.readOnly = true;
            element.type = "text";
            element.className = "form-control";


            return element
        }


        function DeleteRow(oButton) {
            document.getElementById("ProductPackageTable").deleteRow(oButton.parentNode.parentNode.parentNode.rowIndex);
        }



        $("body").on("click", "#SaveChanges", function () {

            $("#SaveChanges").attr("disabled", true);
            //$("#loading").show();

            var Heads = new Array();
            var Head = {};
            Head.Code = $("#Code").val();
            Head.Name = $("#Name").val();
            Head.ProductPackageId = $("#ProductPackageId").val();

            Heads.push(Head);
            console.log(Heads);

            //Loop through the Table rows and build a JSON array.
            var Items = new Array();
            $("#ProductPackageTable TBODY TR").each(function () {
                var row = $(this);
                var Item = {};
                Item.Name = row.find("input").eq(0).val();
                Item.ProductId = row.find("#ProductAddId").val();
                Items.push(Item);
            });
            console.log(Items);


            var model = {
                HeadData: Heads,
                TailData: Items,
            };
            console.log(model);


            //Send the JSON array to Controller using AJAX.
            $.ajax({
                type: "POST",
                url: "/Home/CreateProductPackage",
                data: JSON.stringify(model),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (r) {
                    //alert(r + " record(s) inserted.");
                    window.location.href = r.Url;
                }
            });
        });



    </script>
