@model IEnumerable<WorldServiceOrganization.Models.tblPerson>

@{
    ViewData["Title"] = "Persons";
    string Succ = @ViewBag.Success;
    string Update = @ViewBag.Update;
    string Delete = @ViewBag.Delete;
}


<head>

    <style>
        .select2-container {
            width: 100% !important;
        }
    </style>



</head>




<!-- Page Wrapper -->
<div class="content container-fluid">

    <!-- Page Header -->
    <!-- /Page Header -->

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="breadcrumb-bar">
                            <div class="container-fluid">
                                <div class="row align-items-center">
                                    <div class="col-md-6 col-6">
                                        <h5 class="breadcrumb-title">Person LIST</h5>
                                    </div>
                                    <div class="col-md-6 col-6 text-right" id="CreatePersonB">
                                        <a href="@Url.Action("CreatePerson","Home")" class="btn btn-primary " style="float:right;"><i class="fa fa-plus"></i> Create New Person</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div style="display:none;" class="alert alert-success alert-dismissible fade show" id="SuccessAlert" role="alert">
                    <strong>Success!</strong> @ViewBag.Success
                </div>
                <div style="display:none;" class="alert alert-info alert-dismissible fade show" id="UpdateAlert" role="alert">
                    <strong>Success!</strong> @ViewBag.Update
                </div>
                <div style="display:none;" class="alert alert-warning alert-dismissible fade show" id="DeleteAlert" role="alert">
                    <strong>Success!</strong> @ViewBag.Delete
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <div class="table-responsive">
                            <table class="cell-border table table-hover table-center  mb-0 " id="PersonTable">
                                <thead>
                                    <tr>
                                        <th style="display:none;">Person ID</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Email</th>
                                        @*<th style="display:none;">Organization</th>
                                        <th style="display:none;">Title</th>
                                        <th style="display:none;">Address1</th>
                                        <th style="display:none;">Address2</th>
                                        <th style="display:none;">City</th>
                                        <th style="display:none;">State Province</th>
                                        <th style="display:none;">Country</th>
                                        <th style="display:none;">Postal Code </th>
                                        <th>Phone Number</th>
                                        <th>Email</th>
                                        <th>Role</th>*@

                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (WorldServiceOrganization.Models.tblPerson Person in Model)
                                    {
                                        <tr>
                                            <td style="display:none;">@Person.PersonIDNumber</td>
                                            <td>@Person.FirstName</td>
                                            <td>@Person.LastName</td>
                                            <td>@Person.EMail</td>
                                            @*<td style="display:none;">@Person.Organization</td>
                                            <td style="display:none;">@Person.Title</td>
                                            <td style="display:none;">@Person.Address1</td>
                                            <td style="display:none;">@Person.Address2</td>
                                            <td style="display:none;">@Person.City</td>
                                            <td style="display:none;">@Person.StateProvince</td>
                                            <td style="display:none;">@Person.Country</td>
                                            <td style="display:none;">@Person.PostalCode</td>
                                            <td>@Person.PhoneNumber</td>

                                            <td>@Person.Email</td>
                                            <td>@Person.tblRole.Role</td>*@

                                            <td>
                                                <a href="@Url.Action("CreatePerson","Home",new {id=Person.PersonIDNumber })" class="text-success font-50" title="Edit"><i class="fa fa-edit" id="EditPerson"></i></a>
                                                <a href="#" class="text-danger font-50" title="Delete" data-toggle="modal" data-target="#PersonDelete"><i class="fa fa-trash" id="DeletePerson"></i> </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div id="PersonDelete" class="modal fade delete-modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <img src="~/Content/assets/img/sent.png" alt="" width="50" height="46">
                <input class="form-control" type="text" id="DeletePersonID" style="display:none;">
                <h5>Are you sure want to delete this device Information?</h5>
                <div class="m-t-20">
                    <p id="ConfigDerror" style="color:red;"></p>
                    <a href="#" class="btn btn-white" data-dismiss="modal">Close</a>
                    <input type="button" class="btn btn-danger" id="CDeletePerson" value="Delete">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- /Page Wrapper -->
<!-- jQuery -->

<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>



@*<script src="~/Content/assets/js/jquery-3.2.1.min.js"></script>*@
@*<script src="~/Theme/template/admin/assets/js/jquery.min.js"></script>*@
<script>


    $("body").on("click", "#DeletePerson", function () {
        $("#ConfigDerror").text("");
        $("#CDeletePerson").attr("disabled", false);
        var currentRow = $(this).closest("tr");
        $("#DeletePersonID").val(currentRow.find("td:eq(0)").text());
        //alert($("#DeletePersonID").val());
    });

    $("#CDeletePerson").on("click", function () {


        $("#CDeletePerson").attr("disabled", true);

        var ID = $("#DeletePersonID").val();

        var model = {
            PersonId: ID,
        };
        console.log(model);


        //Send the JSON array to Controller using AJAX.
        $.ajax({
            type: "POST",
            url: "/Home/DeletePerson",
            data: JSON.stringify(model),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (r) {
                if (r == 1) {

                    var url = window.location.origin;
                    url += '/Home/Persons?Delete=Person has been delete successfully.';
                    window.location.href = url;
                }
                //alert(r + " record(s) inserted.");
            }
        });

    });



    $(document).ready(function () {


        if ("@Succ"!="") {
            $('#SuccessAlert').fadeIn();
            $('#SuccessAlert').fadeOut(3000);
        }
        else {
            $('#SuccessAlert').fadeOut();
        }
        if ("@Update" != "") {
            $('#UpdateAlert').fadeIn();
            $('#UpdateAlert').fadeOut(3000);
        }
        else {
            $('#UpdateAlert').fadeOut();
        }
        if ("@Delete" != "") {
            $('#DeleteAlert').fadeIn();
            $('#DeleteAlert').fadeOut(3000);
        }
        else {
            $('#DeleteAlert').fadeOut();
        }

        $('#PersonTable').DataTable({
            dom: 'Bfrtip',
            buttons: [
                {


                    extend: 'excel',
                    exportOptions: {
                        columns: [ 1, 2,3,4,5,6,7,8,9,10,11,12,13,14]
                    }
                }
            ],
            searching: true, paging: true
        });



        $(".nav li a").removeClass("active");
        $('#Persons').addClass('active');
        $('#UM').addClass('active subdrop');

    });




</script>
