@model  WorldServiceOrganization.Models.tblSetting
@{
    int SettingId = Model.SettingId;
    string DateFormat = Model.DateFormat;
    string NextWSA = Model.NextWSA;
    string NextPassport = Model.NextPassport;
    string NumberOfRetrieves = Model.NumberOfRetrieves;
    string LetterCase = Model.LetterCase;
    string FontStyle = Model.FontStyle;
    string FontSize = Model.FontSize;

    

}

<!-- Page Wrapper -->
<div class="content container-fluid">

    <!-- Page Header -->


    <div class="row">
        <div class="col-sm-6">
            <div class="breadcrumb-bar">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-md-6 col-6">
                            @if (Model == null)
                            {
                                <h2 class="breadcrumb-title">Create Setting</h2>
                            }
                            else
                            {
                                <h2 class="breadcrumb-title">Edit Setting</h2>
                            }
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-6 text-right m-b-30" id="CreateSettingB">
        </div>
    </div><br />

    @*<div class="breadcrumb-bar" style="background-color:#009efb !important;">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-6 col-6">
                        @if (Model == null)
                        {
                            <h2 class="breadcrumb-title">Create Config</h2>
                        }
                        else
                        {
                            <h2 class="breadcrumb-title">Edit Config</h2>
                        }
                    </div>
                    <div class="col-md-6 col-6 text-right m-b-30" id="CreateUserB">
                        <a href="@Url.Action("Config","Home")" class="btn btn-primary "><i class="fa fa-list"></i> Back</a>
                    </div>
                </div>
            </div>
        </div>*@

    @*<div class="page-header">
            <div class="row">
                <div class="col-sm-6">
                    <h3 class="page-title">Config</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Action("Config","Home")">Config</a></li>
                        @if (Model == null)
                        {
                            <li class="breadcrumb-item active">Create Config</li>
                        }
                        else
                        {
                            <li class="breadcrumb-item active">Edit Config</li>
                        }
                    </ul>
                </div>
                <div class="col-sm-6 text-right m-b-30" id="CreateUserB">

                </div>
            </div>
        </div>*@
    <!-- /Page Header -->

    <div class="row">
        <div class="col-md-12">

            <div class="tab-content profile-tab-cont">
                <div id="password_tab" class="tab-pane fade show active">

                    @using (Html.BeginForm("CreateSetting", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {@Html.AntiForgeryToken()
                    <div class="card">
                        <h2 style="color:green;">@ViewBag.Error</h2>
                        <div class="card-body">

                            <div class="row">
                                <div class="col-sm-9">
                                    <h6 class="card-title" style="background:#009efb; color:white;padding:9px !important"> Setting information</h6>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input type="text" class="form-control" style="display:none;" name="SettingId" value="@SettingId" required>
                                        <label>Next WSA #</label>
                                        <input type="number" class="form-control" name="NextWSA" id="NextWSA" value="@NextWSA" required>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Next Passport #</label>
                                        <input type="number" class="form-control" id="NextPassport" name="NextPassport" value="@NextPassport" required>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Number of retrieves</label>
                                        <input type="number" class="form-control" id="NumberOfRetrieves" name="NumberOfRetrieves" value="@NumberOfRetrieves" required>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Date Format</label>
                                        <input type="text" class="form-control" id="DateFormat" name="DateFormat" value="@DateFormat" required>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>



                    <div class="card">
                        <div class="card-body">

                            <div class="row">
                                <div class="col-sm-10">
                                    <h6 class="card-title" style="background:#009efb; color:white;padding:9px !important">Products</h6>
                                </div>

                            </div>

                            <div class="row">
                                
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Letter Case</label>
                                        <select class="form-control" id="LetterCase" name="LetterCase" required>
                                            @if (LetterCase == "Upper case")
                                            {
                                                <option value="Upper case" selected>Upper case</option>
                                            }
                                            else
                                            {
                                                <option value="Upper case">Upper case</option>
                                            }

                                            @if (LetterCase == "Lower case")
                                            {
                                                <option value="Lower case" selected>Lower case</option>
                                            }
                                            else
                                            {
                                                <option value="Lower case">Lower case</option>
                                            }

                                            
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>FONT style</label>
                                        <input type="text" class="form-control" id="FontStyle" name="FontStyle" value="@FontStyle" required>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>FONT Size</label>
                                        <input type="number" class="form-control" id="FontSize" name="FontSize" value="@FontSize" required>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <button class="btn btn-primary" type="submit" id="SaveChanges" style="margin-top:20%;">Save Changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                             } 
                </div>
            </div>
        </div>

    </div>
</div>

<!-- /Page Wrapper -->
<script src="~/Content/assets/js/jquery-3.2.1.min.js"></script>


<script>

    



   



</script>